.ola_issue {
    margin: 0;
    text-decoration: none;
    display: block;

    &.is-success {
        & .ola_issue-status {
            fill: var(--color-positive-500);
        }
    }
    &.is-error {
        & .ola_issue-status {
            fill: var(--color-negative-500);
        }
    }
    &.is-warning {
        & .ola_issue-status {
            fill: var(--color-warning-500);
        }
    }
    &.is-suggested {
        & .ola_issue-status {
            fill: var(--color-neutral-700);
        }
    }
    &.is-pending {
      & .ola_issue-status {
          fill: var(--color-neutral-200);
      }
    }
    &.is-done {
      & .ola_issue-status {
        fill: var(--color-info);
        transform: rotate(360deg);
        transition-property: fill, transform;
        transition-duration: 800ms;
        transition-timing-function: ease-in-out;
      }
    }
    &.is-small {
        & .ola_issue-title {
            font: var(--font-1-regular);
            font-weight: var(--font-weight-bold);
        }
    }
    &.is-big {
        & .ola_issue-title {
            font: var(--font-5-medium);

            @media (--to-width-1) {
                font: var(--font-3-regular);
                font-weight: var(--font-weight-bold);
            }
        }
    }
}

.ola_issue-header {
    display: flex;
    align-items: flex-start;
    position: relative;
    z-index: 1;
}

.ola_issue-title {
    --skeleton-width: 16em;
    flex: 1 1 auto;
    font: var(--font-2-regular);
    color: var(--color-neutral-900);
    font-weight: var(--font-weight-bold);
}

.ola_issue-status {
    flex: 0 0 auto;
    margin-right: var(--column-gap-1);
}

.ola_issue-dropdown {
    &.is-small .ola_issue-content {
        padding-left: calc(var(--size-0) + var(--size-3) + var(--column-gap-1));
        font: var(--font-0-regular);

        & > *:first-child {
            margin-top: 0;
        }
    }
    &.is-big .ola_issue-content {
        padding-left: calc(var(--size-0) + var(--size-5) + var(--column-gap-1));
        font: var(--font-2-regular);
    }
    & .ola_issue-summary-content {
      display: flex;
      justify-content: space-between;
    }
    &[open] {
      & .ola_icon:not(.ola_issue-status) {
          transform: rotate(180deg);
          transition: transform var(--duration);
      }
    }
}
.ola_issue-summary {
    list-style: none;
    cursor: pointer;
    outline: 0;
    padding: var(--size-1) var(--size-0);
    transition: background-color var(--duration);

    &::-webkit-details-marker {
        display: none;
    }

    &:hover {
        background: var(--color-neutral-200);
    }
}
.ola_issue-content {
    padding-left: calc(var(--size-0) + var(--size-4) + var(--column-gap-1));
    color: var(--color-neutral-700);
    font: var(--font-1-regular);
    & > *:first-child {
        margin-top: .5em;
    }
}

.ola-bg-hover:hover, .ola-bg {
  & .ola_issue.is-pending {
    & .ola_issue-status{
      fill: var(--color-white);
    }
  }
}