.ola_issue {
    margin: 0;
    text-decoration: none;
    display: block;

    &.is-success {
        & .ola_issue-status {
            fill: var(--success);
        }
    }
    &.is-error {
        & .ola_issue-status {
            fill: var(--error);
        }
    }
    &.is-warning {
        & .ola_issue-status {
            fill: var(--warning);
        }
    }
    &.is-suggested {
        & .ola_issue-status {
            fill: var(--gray);
        }
    }
    &.is-pending {
      & .ola_issue-status {
          fill: var(--gray-xlight);
      }
    }
    &.is-done {
      & .ola_issue-status {
        fill: var(--info);
        transform: rotate(360deg);
        transition-property: fill, transform;
        transition-duration: 800ms;
        transition-timing-function: ease-in-out;
      }
    }
    &.is-small {
        & .ola_issue-title {
            font: var(--font-callout);
            font-weight: var(--bold);
        }
    }
    &.is-big {
        & .ola_issue-title {
            font: var(--font-title);

            @media (--to-width-1) {
                font: var(--font-headline);
                font-weight: var(--bold);
            }
        }
    }
}

.ola_issue-header {
    display: flex;
    align-items: flex-start;
    position: relative;
    z-index: 1;
}

.ola_issue-title {
    --skeleton-width: 16em;
    flex: 1 1 auto;
    font: var(--font-body);
    color: var(--black);
    font-weight: var(--bold);
}

.ola_issue-status {
    flex: 0 0 auto;
    margin-right: var(--column-gap-1);
}

.ola_issue-dropdown {
    &.is-small .ola_issue-content {
        padding-left: calc(var(--size-2) + var(--size-6) + var(--column-gap-1));
        font: var(--font-caption);

        & > *:first-child {
            margin-top: 0;
        }
    }
    &.is-big .ola_issue-content {
        padding-left: calc(var(--size-2) + var(--size-8) + var(--column-gap-1));
        font: var(--font-body);
    }
    & .ola_issue-summary-content {
      display: flex;
      justify-content: space-between;
    }
    &[open] {
      & .ola_icon:not(.ola_issue-status) {
          transform: rotate(180deg);
          transition: transform var(--duration);
      }
    }
}
.ola_issue-summary {
    list-style: none;
    cursor: pointer;
    outline: 0;
    padding: var(--size-3) var(--size-2);
    transition: background-color var(--duration);

    &::-webkit-details-marker {
        display: none;
    }

    &:hover {
        background: var(--gray-xlight);
    }
}
.ola_issue-content {
    padding-left: calc(var(--size-2) + var(--size-7) + var(--column-gap-1));
    color: var(--gray);
    font: var(--font-callout);
    & > *:first-child {
        margin-top: .5em;
    }
}

.ola-bg-hover:hover {
  & .ola_issue.is-pending {
    & .ola_issue-status{
      fill: var(--white);
    }
  }
}