.ola_issue {
    margin: 0;
    text-decoration: none;
    display: block;

    &.is-success {
        & .ola_issue-status {
            fill: var(--success);
        }
    }
    &.is-error {
        & .ola_issue-status {
            fill: var(--error);
        }
    }
    &.is-warning {
        & .ola_issue-status {
            fill: var(--warning);
        }
    }
    &.is-suggested {
        & .ola_issue-status {
            fill: var(--gray);
        }
    }
    &.is-small {
        & .ola_issue-title {
            font: var(--font-callout);
            font-weight: var(--bold);
        }
    }
}

.ola_issue-header {
    display: flex;
    align-items: center;
    position: relative;
    z-index: 1;
}

.ola_issue-title {
    --skeleton-width: 16em;
    flex: 1 1 auto;
    font: var(--font-body);
    color: var(--black);
    font-weight: var(--bold);
}

.ola_issue-status {
    flex: 0 0 auto;
    margin-right: var(--column-gap-1);
}

.ola_issue-dropdown {
    &.is-small .ola_issue-content {
        padding-left: calc(var(--size-2) + var(--size-6) + var(--column-gap-1));
    }
}
.ola_issue-summary {
    list-style: none;
    cursor: pointer;
    outline: 0;
    padding: var(--size-3) var(--size-2);
    transition: background-color var(--duration);

    &:hover {
        background: var(--gray-xlight);
    }
}
.ola_issue-content {
    padding-left: calc(var(--size-2) + var(--size-7) + var(--column-gap-1));
}