#add-site-container {

    width: 800px;
    margin: auto;

    .add-site {

        padding: 0px 0px 0px 250px;
        background-repeat: no-repeat;
        background-image: url("/img/upgrade/boatPro.svg");
        background-position: 28px 79px;
        background-size: 24%;

        h1 {
            font-weight: lighter;
            color: @gray-darker;
            margin: 0px 0px 0px 0px;
        }

        p {
            margin: 5px 0px @block / 2 0px;
        }

        form {
            .input-container {
                margin-bottom: @block/2;
                label { margin-bottom: 5px; }
            }

            .actions {
                text-align: right;
            }
        }


    }
}
