.wizard-container{
    .center-container(flex, auto);
    .wizard{
        width: 848px;
    }
    .wizard-wrapper {
        .center-container(flex, auto);
        flex-direction: column;
        min-height: 445px;
        .panel-wizard {
            display: flex;
            flex: 1;
            flex-direction: row;
            padding: @block;

            h1 {
                font-size: 33px;
                font-weight: 400;
                color: @gray-dark;
            }

            p {
                .font-description(@font-size-medium);
            }

            .step {
                background-repeat: no-repeat;
                padding-left: 300px;

                form {
                    margin-top: @block;
                }

                .button-wrapper{
                    width: 100%;
                    text-align: right;
                    .btn-link{
                        margin-right: @block / 3;
                    }
                }

                &.country {
                    background-image: url("/img/illustrations/url.svg");
                    background-position: 20px;
                    background-size: 30%;
                }

                &.webmaster {
                    background-image: url("/img/illustrations/bestblog.svg");
                    background-position: 31px;
                    background-size: 27%;
                }

            }

        }
    }
}
