#city-content, #webmaster_email-content {
    display: none;
}

.google_analytics {
    .panel-body {
        display: flex;
        height: 100%;
        flex: 1;
        .panel-section-content{
            .center-container(flex, auto);
            justify-content: space-between;
            width: 100%;
            padding: @block;
            .analytics-logo{
                position: absolute;
                right: @block;
                top: 30px;
                img{
                    width: 197px;
                }
            }
        }
        .disable_button {
            .center-container(flex, auto);
            justify-content: flex-end;
        }
    }
}
