.ola_switch {
    padding: var(--size-3) 0;
    display: inline-block;
}
.ola_switch-input {
    position: absolute;
    opacity: 0;
}
.ola_switch-label {
    display: flex;
    font: var(--font-callout);
    align-items: center;
}
.ola_switch-label::before {
    --color: var(--gray-light);

    content: "";
    display: block;
    width: 44px;
    height: 24px;
    border-radius: 12px;
    flex: 0 0 auto;
    margin-right: 10px;
    background-color: var(--color);
    background-image: url('data:image/svg+xml;charset=UTF-8,<svg width="24" height="24" viewBox="0 0 24 24" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg"><defs><circle id="a" cx="12" cy="12" r="10"/></defs><use filter="url(%23a)" xlink:href="%23a"/><use fill="%23fff" xlink:href="%23a"/></svg>');
    background-repeat: no-repeat;
    background-position: left center;
    transition-property: background-color, background-position;
    transition-duration: 200ms;
}

.ola_switch-input:checked ~ .ola_switch-label::before {
    --color: var(--brand);
    background-position: right center;
}
.ola_switch-input:focus ~ .ola_switch-label::before {
    box-shadow: 0 0 0 4px var(--brand-focus);
}
.ola_switch-input:hover ~ .ola_switch-label::before {
    --color: var(--gray-light);
}
.ola_switch-input:checked:hover ~ .ola_switch-label::before {
    --color: var(--brand-dark);
}
