.modal-analytics-profiles{
    .panel-footer{
        .center-container(flex, auto);
        justify-content: space-between;
    }

    .analytics-logo{
        position: absolute;
        right: @block * 2;
        top: -95px;
    }

    .list{
        max-height: 300px;
        overflow: auto;
        .data-item{
            &.selected{
                .profile{
                    color: @brand-primary;
                    font-weight: 600;
                }
                .icon{
                    .icomoon(@icon-circle-check-inverse-content, @brand-primary, 23px);
                }
            }
        }

        .list-profile-container{
            flex-direction: row;
            display: flex;
            flex: 1;
            width: 100%;

            .profile{
                flex: 1;
                flex-direction: row;
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 15px;
                .title-container{
                    font-weight: 600;
                }
            }

            .icon{
                .icomoon(@icon-circle-content, @gray, 23px);
                .center-container(flex, auto);
                margin-right: 5px;
                padding-left: 5px;
            }
        }
    }

    .profile-not-found{
        .center-container(flex, auto);
        margin-top: @block / 2;
        flex-direction: column;
        .analytics-logo{
            position: relative;
            top: 0;
            right: 0;
        }
        h5, a{
            margin: 5px;
        }
    }
}
