.btn {
    display: inline-block;
    border: none;
    .border-radius(@btn-border-radius);
    background-color: @btn-alt-color;
    color: @btn-main-color;

    // Poner paddings en "em" permite que crezca con el tamaño de font-size
    padding: 0.7em 2.2em;

    text-transform: @btn-text-transform;
    text-decoration: none;
    font-size: @font-size-base;
    white-space: nowrap;
    outline: 0px none;
    font-weight: @btn-font-weight;

    cursor: pointer;
    transition: all 0.2s ease;

    &:hover {
        color: @brand-primary-dark;
        // background-color: @brand-primary-light;
        text-decoration: none;
    }

    &.btn-small {
        padding: 0.6em 1.5em;
        font-size: @font-size-smaller;
    }

    &.btn-error {
        background-color: @btn-danger-color;
        color: @btn-alt-color;
    }

    &.btn-primary {
        background-color: @btn-main-color;
        color: @btn-alt-color;

        &:hover {
            color: @btn-alt-color;
            background-color: @btn-hover-color;
        }

        &:disabled, &:disabled:hover {
            background-color: @btn-main-color;
            color: @btn-alt-color;
        }
    }

    &.btn-link {
        background-color: @btn-link-color;
        color: @btn-link-alt-color;
        font-weight: @btn-font-weight-link;

        // Poner paddings en "em" permite que crezca con el tamaño de font-size
        padding: 0.7em 1.2em;

        &:hover {
            color: @btn-link-hover-alt-color;    // darken(@btn-main-color, 10%);
            background-color: @btn-link-hover-color; // #E3EBF1;
        }

        &:disabled {
            background-color: @btn-link-color;
            color: @btn-link-alt-color;
        }

        &.btn-error {
            color: @btn-danger-color;
            background-color: transparent;
        }
    }

    &:disabled {
        cursor: auto;
        opacity: 0.5;
    }

    &:disabled:hover {
        color: @btn-main-color;
    }

    &.loading {
        position: relative;
        .do_spinner(@loader-dot-size / 2, 50%);
        padding-left: 50px;

        &:before, &:after{
            width: 40px;
            height: 40px;
            margin-top: -19.5px;
        }

        &:before, &:after {
            background-color: @btn-main-color;
        }

        &.btn-primary {
            &:before, &:after {
                background-color: white;
            }
        }

        &.btn-small {
            padding-left: 30px;

            &:before, &:after {
                left: 19px;
                width: 25px;
                height: 25px;
                margin-top: -12px;
            }
        }
    }
}
