.panel.add-competitors {
    .panel-section .panel-section-content {
        padding-bottom: @block / 2;
    }

    .panel-footer {
        .center-content();
    }
}

.competitors-table {
    .suggested {
        span {
            font-style: italic;
            margin-left: @block / 2;
        }
    }
}
