
// MOBILE DEVICES

@iphone-width: 133px;
@iphone-height: @iphone-width * 2.01;

@imac-width: 360px;
@imac-height: @imac-width * 0.84;

@imac-width-medium: 300px;
@imac-height-medium: @imac-width-medium * 0.84;

@imac-width-small: 150px;
@imac-height-small: @imac-width-small * 0.84;

@ipad-width: 150px;
@ipad-height: @ipad-width * 0.87;

@results-imac-width: 220px;
@results-imac-height: @results-imac-width * 0.84;


.display {
    position: relative;
    display: block;
    margin: 0px auto 10px;

    &.iphone {
        width:  @iphone-width;
        height: @iphone-height;
        margin-top: 0px;

        & .screen {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 10;
            width: 100%;
            height: 100%;
        }
        & .glare {
            position: absolute;
            top: 0%;
            right: 2%;
            z-index: 12;
            width: 35%;
        }
        & .shot {
            position: absolute;
            overflow: hidden;
            z-index: 11;

            height: 76%;
            width: 86%;
            left: 7.5%;
            top: 12.5%;

            img {
                width: 100%;
            }
        }
    }

    &.imac {
        width:  @imac-width;
        height: @imac-height;
        margin-top: 0px;

        & .screen {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 10;
            width: 100%;
            height: 100%;
        }
        & .glare {
            position: absolute;
            top: 0;
            right: 0;
            z-index: 11;
            width: 50%;
        }
        & .shot {
            position: absolute;
            overflow: hidden;
            z-index: 11;

            height: 61.5%;
            width: 91.4%;
            left: 4.2%;
            top: 5.1%;

            img {
                width: 100%;
            }
        }
    }

    &.ipad {
        width:  @ipad-width;
        height: @ipad-height;
        margin-top: 10px;
        margin-bottom: -2px;

        & .screen {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 10;
            width: 100%;
            height: 100%;
        }
        & .glare {
            position: absolute;
            top: 0;
            right: 7%;
            z-index: 12;
            width: 40%;
        }
        & .shot {
            position: absolute;
            overflow: hidden;
            z-index: 11;

            height: 61.2%;
            width: 71%;
            left: 13.2%;
            top: 8%;

            img {
                width: 100%;
            }
        }
    }

    .meta-info {
        padding-top: 190px;
        font-size: 0.9em;
        white-space: nowrap;

        .flag16 {
            margin-left: 10px;
        }

        strong {
            color: @gray-darker;
            font-weight: 500;
        }
    }
}

.result-score {
    .display.imac {
        width: @results-imac-width;
        height: @results-imac-height;
        margin: 20px 0px 0px 75px;
    }
}

main.start {
    .result-score {
        .display.imac {
            margin: 20px 0px 0px 0px;
        }
    }

    .display {
        margin-top: 0px;
    }
}


/* Medium devices (1200px and below) */
@media (max-width: 1200px) {

    .display.imac {
        width:  @imac-width-medium;
        height: @imac-height-medium;
    }

}
