.modal-dialog{
    span{
        .center-container(flex, auto);
        justify-content: flex-start;
        padding-left: @block-panel;
        min-height: @block * 2;
        strong{
            padding-left: 5px;
        }
    }
    .panel-footer{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &.with-cancel{
        .panel-footer{
            justify-content: space-between;
        }
    }
}
