body.error {
    .content {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        .center-content();
        .error {
            text-align: center;
            img {
                height: 220px;
                width: auto;
            }
            h1 {
                color: @brand-primary;
                font-size: @font-size-largest;
                font-weight: lighter;
                margin-bottom: 0;
                margin-top: @block;
            }
            p {
                font-size: @font-size-large;
                font-weight: 500;
                margin-top: 10px;
                margin-bottom: @block*1.5;
            }
            a {

            }
        }
    }
}