
/**
 * OJO CON EL PLACE-HOLDER: Tiene color de @gray-darker pero en realidad NO
 * se tiene que ver oscuro, sino con una tonalidad parecida al @gray-light.
 * Esa tonalidad se consigue ajustando el "opacity". Esto es así porque el
 * input puede tener varios colores de fondo dependiendo del "error", etc.
 * con "opacity" conseguimos que de esa forma no desentone con el fondo.
 */

// ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
//     color: @gray-dark !important; // En Safari no funciona si no es con !important
//     opacity: 0.3 !important;
// }
//
// :-ms-input-placeholder { /* Internet Explorer 10-11 */
//     color: @gray-dark;
//     opacity: 0.3 !important;
// }
//
// ::-ms-input-placeholder { /* Microsoft Edge */
//     color: @gray-dark;
//     opacity: 0.3 !important;
// }

// .form-group,
// .input-container {
//     label {
//         font-size: @input-label-size;
//         line-height: @input-label-size;
//         text-align: right;
//         display: block;
//         padding: 0 3px 3px 0;
//         color: @input-label-color;
//
//         .error {
//             .fadeInUp(.2s);
//             color: @brand-danger;
//         }
//
//         .warning {
//             .fadeInUp(.2s);
//         }
//     }
// }

.react-tagsinput {
    .border-radius();
    overflow: hidden;
    padding: 6px;
    cursor: text;
    border: solid 2px @input-border;
    box-sizing: border-box;
    min-height: @input-height-base;
    background-color: @input-bg;
    background-image: none;

    & > span > input {
        border: none;
        height: 100%;
        display: inline-block;
        vertical-align: middle;
        color: @input-color;
        font-weight: 500;
        box-shadow: none !important;
        line-height: 1.2em;
    }
}

.react-tagsinput--focused {
    input {
        outline: none;
    }
}

.react-tagsinput-tag {
    .border-radius();
    background-color: @input-tag-bg;
    color: @input-tag-color;
    font-weight: 500;
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
    padding: 5px;
}

.react-tagsinput-remove {
   cursor: pointer;
   font-weight: bold;
   padding: 0px 5px;
   &:before{
       color: @input-tag-color;
   }
}

.react-tagsinput-tag a::before {
   content: "×";
}

// .input-container input:disabled {
//     background-color: @gray-lighter;
//     color: @gray-dark;
// }
//
// .input-container-checkbox {
//     div {
//         &:first-child {
//             float: left;
//             margin-right: 10px;
//         }
//         &.input-container-checkbox-title {
//             p {
//                 margin: 0px 0px 0px 0px;
//             }
//         }
//     }
// }
//
// .input-container-checkbox .cbx{
//
//     -webkit-user-select: none;
//     user-select: none;
//     cursor: pointer;
//
//     span {
//         display: inline-block;
//         vertical-align: middle;
//         transform: translate3d(0,0,0);
//
//         &:first-child {
//             position: relative;
//             width: 18px;
//             height: 18px;
//             border-radius: 3px;
//             transform: scale(1);
//             vertical-align: middle;
//             border: 2px solid #E2E7ED;
//             transition: all .2s ease;
//
//             svg {
//                 position: absolute;
//                 top: 4px;
//                 left: 4px;
//                 fill: none;
//                 stroke: #FFFFFF;
//                 stroke-width: 2;
//                 stroke-linecap: round;
//                 stroke-linejoin: round;
//                 stroke-dasharray: 16px;
//                 stroke-dashoffset: 16px;
//                 transition: all .3s ease;
//                 transition-delay: .1s;
//                 transform: translate3d(0,0,0);
//             }
//
//             &:before {
//                 content: "";
//                 width: 100%;
//                 height: 100%;
//                 background: @brand-primary;
//                 display: block;
//                 transform: scale(0);
//                 opacity: 1;
//                 border-radius: 50%;
//             }
//
//         }
//
//     }
//
//     &:hover span:first-child {
//         border-color: @brand-primary;
//     }
//
//     &.checked {
//         span {
//             &:first-child {
//
//                 background: @brand-primary;
//                 border-color: @brand-primary;
//                 animation: wave .4s ease;
//
//                 svg {
//                     stroke-dashoffset: 0;
//                 }
//
//                 &:before {
//                     transform: scale(3.5);
//                     opacity: 0;
//                     transition: all .6s ease;
//                 }
//
//             }
//         }
//     }
//
// }

@keyframes wave {
    50% {
        transform: scale(.9)
    }
}
