
body > svg, svg.icon-holder {
    height: 1px;
    overflow: hidden;
    position: absolute;
    bottom: 1px;
}

.knob {
    background: white;
    .border-radius(50%);
    padding: 4px;
    position: relative;
    width: 110px;
    height: 110px;

    .waiting {
        .grade, svg { display: none; }
        .icomoon(@icon-clock-content);
        &:before {
            height: 100%;
            width: 100%;
            color: @gray-light;
            text-align: center;
            margin-top: 30px;
        }
    }

    .grade {
        position: absolute;
        left: 10px;
        right: 0px;
        top: 50%;
        text-align: center;
        font-weight: 200;
        font-family: @font-family-base;
        color: @gray-dark;
        margin-top: -0.65em;
        font-size: 40px;

        small {
            font-size: 0.5em;
        }

        &.min{

        }
    }

    svg {
        width: 100%;
        height: 100%;

        // Don't touch this. It allows the bigger strokes border to
        // be visible outside the SVG container
        overflow: visible;

        .ring {
            fill: transparent;
            stroke: #EEEEEE;
            stroke-width: 2%;
            stroke-linecap: round;
        }

        .score-ring {
            stroke: @gray;
            &.a_grade { stroke: @grading-a-color; }
            &.b_grade { stroke: @grading-b-color; }
            &.c_grade { stroke: @grading-c-color; }
            &.d_grade { stroke: @grading-d-color; }
        }

    }

    &.large {
        width: 170px;
        height: 170px;

        .ring {
            stroke-width: 2%;
        }
        .grade {
            font-size: 60px;
            font-weight: 200;
        }

        .waiting:before {
            font-size: 100px;
            margin-top: 10.5px;
            margin-left: 0.5px;
        }
    }

    &.medium {
        .ring {
            stroke-width: 7%;
        }
        .grade {
            font-size: 3em;
        }

        .waiting:before {
            font-size: 100px;
            margin-top: 7.5px;
            margin-left: 0.5px;
        }
    }

    &.small {
        width: 45px;
        height: 45px;

        svg {
            .ring {
                fill: transparent;
                stroke: #dddddd;
                stroke-width: 2%;
            }
            .score-ring {
                stroke-width: 4%;

                &.a_grade { stroke: @grading-a-color; }
                &.b_grade { stroke: @grading-b-color; }
                &.c_grade { stroke: @grading-c-color; }
                &.d_grade { stroke: @grading-d-color; }
            }
        }

        .icon {
            display: inline-block;
            vertical-align:middle;
            line-height: 1;
            font-size: 1em;
            margin-top: -5px;
        }

        .waiting:before {
            font-size: 45px;
            margin-top: 3.5px;
        }
    }

}

// Gradient colors for rings

.a_grade_gradient_start { stop-color: @grading-a-color; }
.a_grade_gradient_stop  { stop-color: @grading-a-color; }

.b_grade_gradient_start { stop-color: @grading-b-color; }
.b_grade_gradient_stop  { stop-color: @grading-a-color; }

.c_grade_gradient_start { stop-color: @grading-c-color; }
.c_grade_gradient_stop  { stop-color: @grading-b-color; }

.d_grade_gradient_start { stop-color: @grading-d-color; }
.d_grade_gradient_stop  { stop-color: @grading-c-color; }

.brand_gradient_start { stop-color: @brand-primary-light; }
.brand_gradient_stop  { stop-color: @brand-primary; }
