#header {
    height: @header-height-full;
    transition: @header-transition-time;
}

#header header {
    // Fijamos el header para que cambie con el scroll
    position: fixed;
    z-index: 1080;
    text-align: center;
    top: 0;
    left :0;
    right: 0;
    transition: @header-transition-time;
    // altura del header completo
    height: @header-height-full;
    background-color: @header-bg-color;

    // Distribución del contenido del header
    .content {
        // Lo ponemos en la posición correcta dentro del grid del header.
        grid-area: middle;

        display: grid;
        grid-template-rows: 1fr @block*3;
        grid-template-columns: 1fr max-content;

        .logo {
            align-self: end;
            a {
                display: block;
                background: @logo-url no-repeat top left;
                background-size: @logo-background-size;
                background-position: @logo-background-position;
                width: @logo-width;
                height: @logo-height;
                color: transparent;
            }
        }

        .account {
            align-self: end;
            display: inline-block;
            position: relative;
            text-align: right;
            a > { color: @menu-dropdown-text-color; }
            & > .dropdown {
                .dropdown-trigger {
                    .icomoon(@icon-user-content);
                    &:before {
                        background-color: @brand-primary-light;
                        color: @brand-primary;
                        display: inline-block;
                        border-radius: 50%;
                        height: 23px;
                        width: 23px;
                        font-size: 12px;
                        text-align: center;
                        padding-top: 5px;
                        padding-left: 1px;
                        box-sizing: border-box;
                        margin: 0;
                        font-weight: bolder;
                        .transition(all .2s linear);
                    }
                    &:after {
                        color: @gray-light;
                        margin-left: 5px;
                        margin-bottom: -3px;
                        .transition(color .2s linear);
                    }
                    &:hover {
                        &:after {
                            color: @gray;
                        }
                        &:before {
                            color: @gray;
                            background-color: @gray-light;
                        }
                    }
                }
                .dropdown-body {
                    right: 0;
                    .dropdown-list-item-link {
                        &.profile { .icomoon(@icon-desktop-content); }
                        &.logout { .icomoon(@icon-circle-cross-content); }
                        &.help { .icomoon(@icon-help-content); }
                    }
                }
            }

            .account-help-link {
                .icomoon(@icon-help-content);
                font-size: @font-size-small;
                &:hover { color: @menu-text-color-active; }
                &:before { margin-top: 2px; }
            }

            &.collapsed{
                display: grid;
                grid-template-columns: 1fr auto;
                align-items: center;
                .mywebsites{
                    text-align: right;
                    .dropdown-body{
                        left: auto;
                        right: 0;
                        z-index: 1;
                    }
                }
                .user {
                    .dropdown-trigger {
                        align-items: center;
                        justify-content: center;
                        display: flex;
                        flex: 1;
                        height: 100%;
                        padding: 0px;
                    }
                    .dropdown-body {
                        z-index: 1;
                    }
                }

            }
        }

        .mywebsites { align-self: center; }

        .menu {
            align-self: center;
            text-align: right;
            display: flex;

            button {
                margin-left: @block;
            }

            ul {
                margin: 0;
                padding: 0;
                list-style: none;
                li {
                    display: inline-block;
                    margin-left: @block;

                    a, a:visited, a:focus, a:active {
                        .transition(all .2s linear);
                        display: inline-block;
                        border-bottom: solid 2px transparent;
                        padding: 7px 1px;
                        text-align: center;
                        color: @menu-text-color;
                        font-size: @font-size-medium;
                    }

                    &:hover {
                        a {
                            color: @menu-text-color-active;
                        }
                    }

                    &.active {
                        a {
                            color: @menu-text-color-active;
//                            border-bottom: solid 2px @menu-border-color-active;
                            font-weight: bold;
                        }
                    }
                }
            }
        }
    }
}

// Ajustes para solapar el contenido pricipal sobre el header
main {
    transition: @header-transition-time;
    transition-delay: 0.15s;
}

// Ajustes para la correcta carga del main:
// Mirar evento mount en (components/Header/index.js)
body.loaded {
    main {
        border-top: solid (@block+10px) @header-bg-color;
    }
}

// Cambios en el header cuando se scrollea
body.collapsed {
    padding-top: @block;

    #header {
        height: @header-height-collapsed;

        header {
            height: @header-height-collapsed;
            .box-shadow();

            .content {
                display: grid;
                grid-template-rows: 1fr;
                // El ancho de los componentes variará en función del contenido dejando
                // que el select desplegable se adapte. ( irá con elipsis )
                grid-template-columns: max-content 1fr max-content max-content;
                transition: @header-transition-time;
                // Alineamos todos los elementos sin paddings heredados
                .logo, .mywebsites, .menu, .account {
                    padding: 0;
                    align-self: center;
                }

                .logo a {
                    background-size: @logo-collapsed-background-size;
                    background-position: @logo-collapsed-background-position;
                    width: @logo-collapsed-width;
                    height: @logo-collapsed-height;
                }

                .mywebsites {
                    .dropdown-trigger, .current-site-domain {
                        font-size: @font-size-medium;
                        font-weight: 500;

                        .domain {
                            max-width: 154px;
                            margin-right: 5px;
                        }
                    }
                }

                // Separación de los elementos de la barra
                .logo, .mywebsites, .menu { padding-right: @block; }

                // Pasamos el account al final de la barra
                .account {
                    order: 4;
                    .account-help-link:hover {
                        color: @menu-collapsed-active-text-color;
                    }
                }

                .menu {
                    height: 100%;
                    margin-left: @block/2;
                    ul {
                        height: 100%;
                        li {
                            height: 100%;
                            margin: 0;
                            a, a:visited, a:focus, a:active {
                                font-size: @font-size-base;
                                box-sizing: border-box;
                                padding: 27px 15px;
                                display: inline-block;
                                height: 100%;
                                width: 100%;
                                border: none;
                                font-weight: 500;
                            }
                            &:hover, &.active {
                                a {
                                    color: @menu-collapsed-active-text-color;
                                    border: none;
                                    background-color: @menu-collapsed-active-bg-color;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    main { border-top: solid 0px @header-bg-color; }
}
