.input-radio-container {
    input[type="radio"] {
        border: 1px solid transparent;
    }

    label {
        display: inline-block;
        font-weight: 500;
        font-family: @font-family-base;
        color: @input-label-color;
        padding: 0px 0px 0px 10px;
        margin-bottom: 10px;
    }
}
//
// .input-container {
//     margin-bottom: @block * 0.66;
//
//     label {
//         font-weight: 500;
//         color: @input-label-color;
//         display: block;
//         text-align: left;
//         padding: 0px 0px 0px 2px;
//         margin-bottom: 10px;
//
//         span {
//             float: right;
//
//             &.error {
//                 color: @brand-danger;
//             }
//
//             &.warning {
//                 color: @brand-warning;
//             }
//
//             &.didyoumean {
//                 background-color: @input-bg-focused;
//                 padding: 3px 8px 3px 8px;
//                 border-radius: 50px;
//                 margin-top: -5px;
//                 color: darken(@brand-primary, 10%);
//                 cursor: pointer;
//                 margin-left: 10px;
//             }
//         }
//     }
//
//     input, textarea {
//         width: 100%;
//         box-sizing: border-box;
//         outline: none;
//         // font-size: 16px;
//         padding: 0 10px;
//         font-weight: 500;
//         box-shadow: none !important;
//         min-height: @input-height-base;
//         line-height: 1.5em;
//         color: @input-color;
//         background-color: @input-bg;
//         background-image: none;
//         border: 2px solid @input-border;
//         .border-radius();
//         .transition(~"border-color ease-in-out .15s, box-shadow ease-in-out .15s, background-color ease-in-out .15s");
//
//         &::-webkit-input-placeholder  { /* Chrome/Opera/Safari */
//             color: @input-border;
//         }
//
//         &:-webkit-autofill,
//         &:-webkit-autofill:hover,
//         &:-webkit-autofill:focus,
//         &:-webkit-autofill:active {
//             transition: background-color 5000s ease-in-out 0s;
//         }
//
//         &:focus {
//             border-color: @input-border-focused;
//             background-color: @input-bg-focused;
//
//             .tag {
//                 background: darken(@input-bg-focused, 10%);
//             }
//         }
//
//         &.error{
//             background-color: lighten(@brand-danger, 30%);
//             border-color: lighten(@brand-danger, 10%);
//             &::-webkit-input-placeholder{
//                 color: white;
//             }
//         }
//
//         &.warning{
//             background-color: lighten(@brand-warning, 30%);
//             border-color: lighten(@brand-warning, 10%);
//             &::-webkit-input-placeholder{
//                 color: white;
//             }
//         }
//     }
// }

.input-credit-card-container {
    label {
        span {
            float: right;
            &.error {
                color: @brand-danger;
            }
        }

    }
    .input-credit-card {
        border: 2px solid @input-border;
        background-color: @input-bg;
        .border-radius();
        padding: 10px;
        &.error {
            border: 2px solid @brand-danger;
            background-color: lighten(@brand-danger, 30%);
        }
    }
}
