body {
    // Padding para el header completo
    transition: @header-transition-time;
    background-color: @bg-color;
    overflow-x: hidden;

    padding-bottom: @block*2;

    #header header, main {
        display: grid;
        grid-template-areas: "left middle right";

        & > .content {
            padding: 0 @block;
        }
    }

    #header header {
        grid-template-columns: minmax(@block, 1fr) minmax(@min-layout-size, @max-layout-size + (@block * 4)) minmax(@block, 1fr);
    }

    main{
        grid-template-columns: minmax(@block, 1fr) minmax(@min-layout-size, @max-layout-size) minmax(@block, 1fr);
    }
}
