.section-mobile{
    .panel-section-content{
        padding-bottom: 0px !important;
    }
    .panel-description-container{
        margin-bottom: 0px !important;
    }
    .mobile-Thumbnail{
        margin-top: -37px;
    }
}
