.ReactModalPortal {
    position: absolute;
    z-index: 9999999;

    .ReactModal__Overlay {
        position: fixed;
        overflow: scroll;
        top: 0px;
        left: 0px;
        right: 0px;
        bottom: 0px;
        background-color: rgba(0, 0, 0, 0.5);
        .center-content();
        padding: @block * 2;

        opacity: 0;
        .transition(opacity 250ms ease-in-out);

        .ReactModal__Content {
            .border-radius();
            position: relative;
            width: @modal-width-base;
            outline: 0;
            .zoomIn(.25s);

            .react-modal-close {
                position: absolute;
                top: @block / 2;
                right: @block / 2;
                z-index: 1;
                font-size: 30px;
                font-weight: 600;
                color: @gray;

                &:hover {
                    cursor: pointer;
                    color: @gray-dark;
                }
            }

            .panel {
                margin: 0;

                .panel-heading .panel-title {
                    padding-top: @block / 2;
                    padding-bottom: @block / 2;
                    padding-right: @block;
                    line-height: 1em;
                    .ellipsis();
                }
            }

            &--before-close {
                .zoomOut(.25s);
            }

            .modal-dialog{
                .with-image{
                    .center-container(flex, auto);
                    flex-direction: column;
                    justify-content: flex-start;
                    padding: 25px;
                    img{
                        width: 115px;
                        height: 100px;
                    }
                    .description{
                        span{
                            padding-left: 10px;
                            font-size: 21px;
                            font-weight: 500;
                        }
                    }
                }
            }
        }

        // Animación al abrir un modal
        &--after-open {
            opacity: 1;
            .transition(opacity 250ms linear);
        }

        // Animación al cerrar un modal
        // Aquí interviene el prop closeTimeoutMS en el componente react
        // que por defecto está seteado a 250ms.
        &--before-close {
            opacity: 0;
        }
    }
}

.react-modal-content{
    .panel {
        .panel-heading {
            border-radius: 3px;
        }
    }
}
