.product-comparison .modal-content {
    display: flex;
}

.product-comparison-section {
    border-radius: @border-radius;
    background-color: @white;
    flex: 1 1 auto;
    padding: 180px 50px @block-panel;
    text-align: center;
    background-image: url("/img/upgrade/boatPro.svg");
    background-size: 120px;
    background-repeat: no-repeat;
    background-position: center 50px;
}

.product-comparison-section h1 {
    font-size: 40px;
    font-weight: 200;
    margin-bottom: 0px;
}

.product-comparison-section span {
    display: block;
    font-weight: bold;
    margin-bottom: 20px;
    color: @brand-primary;
    min-height: 0;
    padding-left: 0;
    font-weight: 600;
}

.product-comparison-section ul {

    font-weight: 400;
    min-height: 180px;
    padding: 0px 0px 0px 0px;
    list-style: none;

    li {
        line-height: 25px;
        font-size: 16px!important;
    }
}

.product-comparison-section.active {
    background-color: @gray-lighter;
    background-image: url("/img/wizard/barco.svg");
    background-size: 150px;

    span {
        color: @gray;
    }
}
