.mywebsites {
    width: 100%;
    text-align: left;

    // Estilos del selector que despliega mywebsites
    .dropdown-trigger,
    .current-site-domain {
        color: @menu-text-color;
        font-weight: 400;
        font-size: @font-size-larger;
        display: inline-block;
        grid-template-columns: 1fr max-content max-content;
        align-items: end;
        .border-radius();

        padding: 0px 1.5em 0.2em 0.5em;
        position: relative;
        left: -0.5em;

        .domain {
            margin: 0;
            display: inline-block;
            vertical-align: middle;
            overflow: hidden;
            max-width: 500px;
            margin-right: 10px;
            color: @mywebsites-domain-color;
            line-height: 1.5em;

            .ellipsis();
        }

        &:hover {
            background: @mywebsites-domain-hover-bg;
            .domain {
                color: @mywebsites-domain-hover-color;
            }
        }

        // Para posicionar correctamente el "chevron" que curiosamente en
        // Safari actúa de una forma extraña...
        &:after {
            top: 0.4em;
            right: 0.3em;
            position: absolute;
        }
    }

    .dropdown-body {
        padding: 0;
        left: -@block;

        .mywebsites-header {
            .border-radiuses(@panel-border-radius, @panel-border-radius, 0, 0);
            display: grid;
            grid-template-columns: 1fr max-content;
            padding: @block/2 @block;
            border-bottom: solid 1px @gray-light;
            align-items: center;
            h1 {
                margin: 0;
                font-weight: 200;
                font-size: @font-size-larger;
            }
        }

        .mywebsites-body {
            .border-radiuses(0, 0, @panel-border-radius, @panel-border-radius);

            .innerScroll();
            max-height: 400px;
            width: 650px;
            padding: @block/2 0;

            ul {
                margin: 0;
                padding: 0;

                .mywebsites-site {
                    display: grid;
                    grid-template-columns: max-content 1fr;
                    padding: @block/2 @block;
                    cursor: pointer;

                    &:hover {
                        background-color: @brand-primary-subtle;
                    }

                    img {
                        .box-shadow();
                        height: 110px;
                        width: auto;
                    }

                    .thumbnail-scanning {
                        .box-shadow();
                        background-color: @brand-primary-subtle;
                        width: 145px;
                        height: 110px;
                        overflow: hidden;
                        padding: 20px;
                        font-size: @font-size-smaller;

                        p {
                            font-family: @font-family-text;
                        }

                        h2 {
                            color: @brand-primary;
                            margin-top: 0px;
                        }
                    }

                    .mywebsites-site-content {
                        position: relative;
                        display: grid;
                        grid-template-rows: max-content max-content 1fr;
                        padding-left: @block;

                        .domain {
                            font-weight: 500;
                            font-size: @font-size-large;
                            color: @gray-darker;
                            max-width: 100%;
                            white-space: nowrap;
                            overflow: hidden;
                            margin-top: 0;
                            margin-bottom: 10px;
                            .ellipsis();
                        }

                        .score {
                            font-size:@font-size-large;
                            margin-right: 15px;
                            font-weight: 400;
                            span {
                                font-weight: 500;
                            }
                            &.scanning span { color: @grading-scanning-color }
                            &.a_grade span { color: @grading-a-color; }
                            &.b_grade span { color: @grading-b-color; }
                            &.c_grade span { color: @grading-c-color; }
                            &.d_grade span { color: @grading-d-color; }
                        }

                        .plan {
                            font-size: @font-size-large;
                            font-weight: 400;
                            span {
                                color: @brand-primary;
                                font-weight: 500;
                            }
                        }

                        .mywebsites-site-status {
                            align-self: center;
                        }
                        .mywebsites-site-buttons {
                            .transition(all @header-transition-time ease-in-out);
                            display: grid;
                            grid-template-columns: max-content max-content;
                            grid-column-gap: 10px;
                            justify-items: center;
                            align-items: end;
                            &.hidden {
                                opacity: 0;
                                visibility: 0;
                            }
                        }
                    }
                }
            }
        }
    }
}
