.notice {
    .panel-section-content {
        text-align: center;

        h1 {
            font-weight: 400;
            color: @brand-primary;
        }

        p {
            font-size: 17px;
            padding: @block/2 @block*3;
            line-height: 20px;
        }

        .more-info {
            background: @gray-lighter;
        }
    }

    .panel-footer {
        text-align: center;
    }
}
