.notifications {
    position: fixed;
    bottom: 0px;
    z-index: 999999;

    &-container {
        margin-bottom: @block / 3;
        margin-left: @block;
        padding: @block / 2;
        min-width: @block * 3;
        border-radius: @border-radius;
        display: grid;
        line-height: @block / 2;
        grid-template-columns: 1fr @block;
        .box-shadow();

        // Default colors INFO
        background-color: @brand-primary-subtle;
        color: @brand-primary;
        border-left: 1px solid @brand-primary;

        .notification-title {
            .icomoon(@icon-circle-cross-content, @brand-primary, 15px);
            font-size: @font-size-medium;
            font-weight: 400;
        }

        .notification-info{
            font-size: @font-size-small;
            font-family: @font-family-text;
            margin-left: @block / 2;
            font-weight: 400;
        }

        .notification-close {
            .notification-icon {
                text-align: right;
                cursor: pointer;
                .icomoon(@icon-cross-content, @brand-primary, 16px, 1px);
            }
        }

    }

    &-container.error {
        background-color: lighten(@brand-danger, 35%);
        color: @brand-danger;
        border-left: 3px solid @brand-danger;
        .notification-title {
            .icomoon(@icon-circle-cross-content, @brand-danger, 15px);
        }
        .notification-icon {
            .icomoon(@icon-cross-content, @brand-danger, 16px, 1px);
        }
    }

    &-container.success {
        background-color: lighten(@brand-success, 45%);
        color: @brand-success;
        border-left: 3px solid @brand-success;
        .notification-title {
            .icomoon(@icon-circle-check-inverse2-content, @brand-success, 15px);
        }
        .notification-icon {
            .icomoon(@icon-cross-content, @brand-success, 16px, 1px);
        }
    }

    &-container.warning {
        background-color: lighten(@brand-warning, 45%);
        color: @brand-warning;
        border-left: 3px solid @brand-warning;
        .notification-title {
            .icomoon(@icon-warning-content, @brand-warning, 15px);
        }
        .notification-icon {
            .icomoon(@icon-cross-content, @brand-warning, 16px, 1px);
        }
    }


}
