.period-selector {
    display: flex;
    border-radius: @border-radius;
    cursor: pointer;
    justify-content: space-between;
    align-items: center;
    padding: 10px;

    &.active {
        background-color: @gray-lighter;
        .period-selector-option, .period-selector-info {
            color: @gray-darker;
            font-weight: 500;
        }
    }

}

.period-selector-option {
    input {
        margin-right: 10px;
        width: auto;
    }
}

.period-selector-info {
    text-align: right;
    span {
        color: @brand-primary;
    }
}
