#profile {

    .contact {
        form {
            .panel-section {
                .panel-section-content {
                    display: grid;
                    grid-template-rows: 1fr 1fr;
                    grid-template-columns: 1fr 1fr;
                    grid-column-gap: @block;
                }
            }
            .panel-footer {
                .center-content();
            }
        }
    }

    .billing {
        .billing-content {
            display: grid;
            grid-template-rows: 1fr;
            grid-template-columns: 1fr max-content;
            grid-column-gap: @block;
            align-items: start;

            .empty-state {
                background-color: @gray-lighter;
                .border-radius();
                img {
                    width: 150px;
                    height: auto;
                }
                h1 { font-size: @font-size-larger; }
            }

            .invoice-line-ammount, .invoice-header-ammount {
                text-align: right;
            }

            .invoice-line-status, .invoice-header-status {
                text-align: center;
            }

            .history {
                font-family: @font-family-text;
                font-size: @font-size-base;

                .invoice-line-date {
                    max-width: 220px;
                    padding-right: 1.5em;
                    color: @gray-medium;

                    .ellipsis();
                }

                .invoice-date {
                    font-size: @font-size-small;
                    font-family: monospace;
                    margin-right: 1.5em;
                }

                .invoice-domain {
                    color: @gray-dark;
                }

                .invoice-domain-cancelled {
                    color: @gray-medium;
                    font-style: italic;
                }

                .actions {
                    text-align: center;
                    button {
                        margin-top: @block/2;
                        min-width: 50%;
                    }
                }


            }

            .card {
                h1 {
                    font-size: @font-size-medium;
                    font-weight: 700;
                    margin-top: 14px;
                    margin-bottom: 20px;
                    text-align: right;
                }
            }
        }

        .invoice-paid {
            .icomoon(@icon-circle-check-content, @brand-success, @font-size-medium);

            // Quitamos el margen del icono para que se pueda centrar
            // correctamente en la columna de la tabla.
            &:before {
                margin: 0px;
            }
        }

        .invoice-unpaid {
            .icomoon(@icon-circle-cross-content, @brand-danger, @font-size-medium);

            // Quitamos el margen del icono para que se pueda centrar
            // correctamente en la columna de la tabla.
            &:before {
                margin: 0px;
            }
        }
    }
}
