.remember {
    .panel-section-content {
        .flash {
            text-align: center;
            color: @brand-danger;
            padding: @block/2;
        }
        .input-container {
            position: relative;
            label.error {
                color: @brand-danger;
                position: absolute;
                top: 0;
                right: 0;
                text-align: right;
            }
            input.error {
                border-color: @brand-danger;
                background-color: #fdd0d0;
                color: @gray-darker;
            }
        }
    }
    .panel-footer { text-align: center; }
}

.remember-sent {
    .panel-section-content {
        text-align: center;
        padding: @block !important;

        h1 {
            .icomoon(@icon-circle-check-inverse2-content);
            &:before { color: @brand-success; }
            font-size: @font-size-larger;
            font-weight: lighter;
            line-height: 60px;
        }
    }
    .panel-footer { text-align: center; }
}