#score {
    margin-top: -@block;
    display: grid;
    grid-template-columns: 30% 1fr;
    grid-column-gap: @block;

    .device-container {
        text-align: center;
        figure {
            width: 273px;
            height: 250px;
        }
    }

    .ola_panel-footer {

        display: grid;
        grid-template-columns: 60% 1fr;
        grid-column-gap: @block;
        padding-top: @block / 3;
        padding-bottom: @block / 3;

        .scan-texts {
            align-self: center;
        }
        .btn-rescan {
            align-self: center;
            text-align: center;
        }

        .progress-text, .scanning-cta p {
            margin: 0px;
            line-height: @block / 2;
            // color: @gray;
            font-size: @font-size-small;
            // strong { color: @gray-dark; }
        }

        .scanning-cta p {
            display: inline;
        }

        .scanning-cta a {
            font-size: @font-size-small;
            color: @brand-primary;
            &:hover {
                border-bottom: 1px solid @brand-primary;
            }
        }

        &.scanning {
            background-color: #ffffff;
            background-image: linear-gradient(
                -45deg,
                @brand-primary-subtle 25%,
                transparent 25%,
                transparent 50%,
                @brand-primary-subtle 50%,
                @brand-primary-subtle 75%,
                transparent 75%,
                transparent
            );
            background-size:@block @block;
            animation:progress 1s linear infinite;
        }
    }

    .score-content {
        display: grid;
        grid-template-columns: 60% 1fr;
        grid-column-gap: @block;

        .chart-container{
            margin-top: -20px;
        }

        .goo-chart-title {
            top: 20px;
        }

        .selector-range{
            top:20px;
        }

        h2 {
            color: @gray-darker;
            font-weight: 400;
            margin: 0px 0px 10px 0px;
            font-size: @font-size-large;
        }

        #score-status {
            .center-container(flex, auto, column);
            h2 {
                text-align: center;
            }
        }

    }

}
