.input-container {

    .select-container {

        // Es importante resetear el "min-height" del "input" en estos controles
        // select porque el componente lo "esconde" del DOM pero Firefox mantiene
        // el min-height original lo que da pie a que se descuadre el elemento.
        .select-input__input > input {
            min-height: initial;
        }

        .select-input__control {
            // Básicamente duplicar los estilos de lib/input.less: input
            background-color: @input-bg;
            color: @input-color;
            border: 2px solid @input-border;
            outline: none;
            min-height: @input-height-base;
            font-weight: 500;
            .border-radius();
            .transition(~"border-color ease-in-out .15s, box-shadow ease-in-out .15s, background-color ease-in-out .15s");

            &:hover {
                border: 2px solid @input-border;
            }

            &:focus {
                outline: none;
            }

            &.error {
                border: 2px solid @brand-danger;
            }

            &.select-input__control--is-focused {
                border: 2px solid @input-border-focused;
                box-shadow: none;
                background-color: @input-bg-focused;
            }

            .select-input__indicators {
                .select-input__indicator-separator {
                    background-color: @input-border;
                }
            }
        }


        .select-input__menu {
            background-color: @input-bg-focused;
            border: 2px solid @input-border-focused;
            box-shadow: none;
            margin-top: -2px;

            // Resetear borders para que se integre con el menú pull-down
            border-top: none;
            .border-radiuses(0, 0, @border-radius, @border-radius);

            .fadeInDown(.3s);
        }

        .select-input__option {
            color: @input-color-select;

            &.select-input__option--is-selected {
                font-weight: 500;
                background-color: transparent;
                color: @input-color;
            }

            &.select-input__option--is-focused {
                background-color: @input-bg-selection;
            }
        }

        &.error {
            .select-input__control {
                border: 2px solid @brand-danger;
            }
        }
    }


}
