.section-seo-progress{

    display: flex;
    justify-content: space-between;

    .progress-container{
        width: 30%;
        section {
            padding: @block / 2 @block / 2;
            display: flex;
            flex-direction: column;
            align-items: center;
            height: 83%;
            .content{
                display: flex;
                flex-direction: column;
                align-items: center;
                flex: 1;
            }
            .knob {
                .grade{
                    font-size: 35px;
                }
                svg .ring {
                    stroke-width: 3%;
                }
            }
            h2, p{
                margin-top: 8px;
                margin-bottom: 8px;
                font-size: 20px;
                text-align: center;
            }
            p{
                text-align: center;
                font-size: @font-size-base;
                color: @gray-medium;
                padding: 0 9px;
            }
            .completed{
                color: @brand-success;
                text-transform: uppercase;
                margin-top: 0px;
                margin-bottom: @block / 2.3;
                .icomoon(@icon-circle-check-inverse-content, @brand-success, 20px);
            }
            button{
                margin-top: 0px;
                margin-bottom: @block / 3;
                min-width: 138px;
            }
            .waiting{
                .icon-clock {
                    color: @gray-light;
                    font-size: 95px;
                    padding: 11px;
                }
            }
        }
    }
}
