#search-engines {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: @block;

    .search-engine {
        display: flex;
        align-items: center;
        justify-content: center;
        // margin-top: @block / 2;

        figure {
            width: @block * 1.5;
            height: @block * 1.5;
            margin-right: @block / 2;

            &.google {
                background: url("/img/logo/google.png") no-repeat;
                background-size: 100%;
            }

            &.bing {
                background: url("/img/logo/bing.png") no-repeat;
                background-size: 100%;
            }

            &.yahoo {
                background: url("/img/logo/yahoo.png") no-repeat;
                background-size: 100%;
            }
        }

        .kpi-value {
            font-size: @font-size-medium;
            font-weight: 500;

            &.pass {
                color: @brand-success;
                .icomoon(@icon-circle-check-inverse2-content, @brand-success, (@block / 2));
            }
            &.nopass {
                color: @brand-danger;
                .icomoon(@icon-circle-cross-inverse2-content, @brand-danger, (@block / 2));
            }
            &.pending {
                color: @brand-warning;
                .icomoon(@icon-cycle-content, @brand-warning, (@block / 2));
            }
        }

        .search-engine-preview {
            font-family: @font-family-text;
            font-size: @font-size-base;
            font-weight: 400;
            line-height: @font-size-medium;
            cursor: pointer;
        }
    }

}
