// Por defecto llevas los estilos de google y después
// se añaden las particularidades de yahoo y bing

.snippet {
    font-family: @font-family-text;
    font-weight: 400;
    width: auto;
    max-width: 600px;
    padding: 15px;
    .header{
        padding-left: @block/2;
        padding-right: @block/2;
        padding-top: 10px;
        padding-bottom: 10px;
        p{
            margin: 0px;
            font-weight: 600;
            font-size: @font-size-small;
        }
    }
    .snippet-engine {
        font-weight: 400;
        font-size: @font-size-small;
    }
    .snippet-content {
        padding: @block/2;
        padding-top: 0px;

        .snippet-title {
            color: #1a0dab;
            font-size: @font-size-medium;
            margin: 0;
        }

        .snippet-url {
            color: #006621;
            font-size: @font-size-base;
            margin: 3px 0;
        }

        .snippet-description {
            color: #545454;
            font-size: @font-size-small;
            margin: 0;
        }
    }

    &.snippet-yahoo {}
    &.snippet-bing {}
}
