.social-data {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.social-chart {
    .social-chart-title {
        color: @gray-dark;
        margin: @block 0px @block/2 0px;
        h2 {
            font-size: @font-size-medium;
            font-weight: 500;
            margin: 0;
            text-transform: uppercase;
        }
        p {
            font-size: @font-size-small;
            margin: 0;
        }
    }
}

.kpi-description {
    .fb { .icomoon(@icon-facebook2-content, @facebook, 44px, 10px); }
    .lk { .icomoon(@icon-linkedin2-content, @linkedin, 44px, 10px); }
    .gp { .icomoon(@icon-googleplus2-content, @googleplus, 44px, 10px); }
    .icon-social {
       margin-right: 5px;
    }
}
