.spinner-container{
    .center-container(flex, auto);
    padding: 50px;
    &.loading{
        .do_spinner();
        &:before, &:after{
            position: relative;
            left: auto;
            top: auto;
        }

        &::before{
            margin-left: -30px;
            margin-right: -10px;

        }

        &::after{
            margin-left: -25px;
            margin-right: -25px;
        }
    }
}
