.tasks {
    .recocard {
        .recocard-title {
            font-size: @font-size-medium;
            height: 80px;
            padding: 0px var(--size-8);
            // padding: 0px @block-panel 0px @block-panel + 25px;
            display: flex;
            align-items: center;
            cursor: pointer;

            .ola_button {
                display: none;
            }

            &:hover {
                .ola_button {
                    display: block;
                    margin-left: auto;  // @block * 2;    // auto;

                    .fadeInRight();
                }
            }
        }

        &.recocard-pending .recocard-title {
            .icomoon(@icon-circle-cross-content, @brand-danger, 20px, @block * 0.75);

            // Hay que resetear la posición "top" que le inyecta el .icomoon
            // para que en flexbox se alinée correctamente al centro.
            &:before {
                position: initial;
                top: auto;
            }

            &:hover {
                background: @brand-primary-subtle;
            }
        }

        &.recocard-completed .recocard-title {
            cursor: auto;
            .icomoon(@icon-circle-check-content, @brand-success, 20px, @block * 0.75);

            // Hay que resetear la posición "top" que le inyecta el .icomoon
            // para que en flexbox se alinée correctamente al centro.
            &:before {
                position: initial;
                top: auto;
            }
        }

        &.recocard-reopened .recocard-title {
            .icomoon(@icon-warning-content, @brand-warning, 20px, @block * 0.75);

            // Hay que resetear la posición "top" que le inyecta el .icomoon
            // para que en flexbox se alinée correctamente al centro.
            &:before {
                position: initial;
                top: auto;
            }

            &:hover {
                background: @brand-primary-subtle;
            }
        }

        .recocard-wrapper {
            overflow: hidden;
            height: 0px;
            opacity: 0;
            transition: opacity 0.5s linear;
        }

        &.toggled {
            background: white;
            width: 101%;
            margin-left: -3px;
            box-shadow: 0px -3px 5px -1px rgba(0,0,0,0.1);
            transition: box-shadow 0.5s ease;
        }
        &.toggled.recocard-pending .recocard-wrapper,
        &.toggled.recocard-reopened .recocard-wrapper {
            height: auto;
            opacity: 1;
        }

        &.toggled .recocard-title {
            font-weight: 500;
            color: @gray-darker;
        }

        &.toggled .recocard-content {
            // display: grid;
            // grid-template-columns: 0px auto;
            // grid-column-gap: 0px;
            padding: 0px 95px @block 95px;
        }

        .recocard-line {
            height: 100%;
            background-color: @gray-lighter;
        }

        .recocard-info {
        }

        .recocard-section {
            font-weight: 400;
            font-family: @font-family-text;
            margin-bottom: @block / 1.5;

            h4 {
                display: flex;
                align-items: center;
                font-size: 21px;
                margin: 0px;
                font-family: @font-family-base;
                font-weight: 400;
                color: @gray-darker;

                span {
                    margin-right: 8px;
                }
            }

            a {
                color: @brand-primary;
                font-weight: 500;
                &:hover {
                    color: @brand-primary-dark;
                }
            }

            li {
                font-size: @font-size-base;
                font-family: @font-family-text;
                font-weight: 400;
                line-height: 1.5em;
                margin: 0.5em 0;
                code {
                    white-space: nowrap;
                }
            }

            &.ribbon {
                background: fade(@brand-warning, 10%);
                color: darken(@brand-warning, 5%);
                padding: 15px 25px;
                border-radius: @border-radius;
                font-size: @font-size-small;
                display: flex;
                flex-direction: row;
                align-items: center;
                p{
                    margin: 0px 0px 5px 0px;
                    .icomoon(@icon-warning-content, @brand-warning, 16px);
                }

                .left{
                    flex: 1;
                    margin-right: 50px;
                }

                .right{
                    width: auto;
                    align-items: center;
                    justify-content: center;
                    display: flex;
                }

                .ribbon-date {
                    background-color: @brand-warning;
                    color: #ffffff;
                    padding: 0.3em 1.2em;
                    border-radius: @border-radius;
                    float: right;
                    font-size: @font-size-smaller;
                    font-weight: bold;
                }
            }

            &.cta {
                display: grid;
                grid-template-columns: auto 260px;
                background-color: @gray-lighter;
                border-radius: @border-radius;
                padding: @block 0px @block @block-panel;

                div {
                    align-self: center;
                    font-family: @font-family-base;
                }

                .cta-title {
                    font-size: 35px;
                    text-align: left;
                    color: @gray-dark;

                    span {
                        font-weight: 500;
                    }
                }

                h3{
                    margin: 5px 0px;
                    font-weight: 500;
                    font-size: 24px;
                    color: @gray-dark;
                }

                .cta-list li {
                    font-family: @font-family-text;
                }

                .cta-action {
                    margin-top: 15px;
                    text-align: left;
                }

                .imgBoat{
                    background-image: url("/img/upgrade/boatPro.svg");
                    width: 100%;
                    height: 165px;
                    background-size: contain;
                    background-position: center;
                    background-repeat: no-repeat;
                }
            }

            &.metadata {
                background-color: @gray-lighter;
                border-radius: @border-radius;
                .metadata-action {
                    padding: @block / 2 @block;
                    text-align: center;
                }
                .metadata-info {
                    padding: @block / 2 @block;
                    max-height: 400px;
                    overflow-y: auto;

                    .pagina {
                        display: flex;
                        align-items: baseline;
                        flex-direction: column;
                        margin-top: 10px;
                        strong {
                            .icomoon(@icon-file-content);
                            display: block;
                            max-width: 700px;
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                        }
                        a {
                            display: block;
                            max-width: 700px;
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            font-size: @font-size-small;
                            font-family: @font-family-text;
                            color: @brand-primary;
                            margin-top: 5px;
                            margin-bottom: @block / 2;
                        }
                    }
                    .inner-info {
                        font-size: @font-size-small;
                        margin-left: -20px;
                        margin-top: -20px;

                        p {
                            color: @gray;
                            margin: 0px 0px @block / 2 23px;
                        }

                        code {
                            padding: 2px 4px;
                            font-size: 90%;
                            color: darken(@brand-danger, 10%);
                            background-color: fade(@brand-danger, 10%);
                            border-radius: @border-radius;
                        }

                    }

                }
            }

            pre {
                font-size: @font-size-small;
                background-color: @gray-lighter;
                padding: @block/2 @block;
                .border-radius();
            }

            &.about{
                img{
                    width: 100%;
                    height: auto;
                }
            }

        }

        .recocard-section-content {
            margin-left: @block;
            &.wefound{
                margin-left: 0px;
                padding: 5px 25px;
                background-color: lighten(@brand-primary, 30%);
                margin-top: 20px;
                color: darken(@brand-primary, 40%);
                max-width: 730px;
                overflow-wrap: break-word;
                word-wrap: break-word;
            }
        }

        .recocard-footer {
            background-color: @gray-lighter;
            text-align: center;
            padding: @block/2 0px;
            margin-bottom: 3px;
            box-shadow: 0 4px 9px -4px rgba(0,0,0,0.3);

            button {
                margin: 0px @block;
            }

            &.scanning {
                h3 {
                    margin: 0px 0px 10px 0px;
                    padding: 10px @block;
                    border: solid 1px @brand-primary-light;
                    background-color: @brand-primary-light;
                    color: @btn-alt-color;
                    text-transform: uppercase;
                    .border-radius(@btn-border-radius);
                    display: inline-block;
                    font-size: @font-size-base;
                    font-weight: 500;
                }
                p {
                    margin: 0px;
                    font-size: @font-size-small;
                }
                background-color: #ffffff;
                background-image: linear-gradient(
                    -45deg,
                    @brand-primary-subtle 25%,
                    transparent 25%,
                    transparent 50%,
                    @brand-primary-subtle 50%,
                    @brand-primary-subtle 75%,
                    transparent 75%,
                    transparent
                );
                background-size:@block @block;
                animation:progress 1s linear infinite;
            }

        }

    }
}

@keyframes progress {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: -@block 0px;
    }
}
