.section-traffic {
    .alexa {
        .ola_panel-content > div {

            display: grid;
            grid-template-columns: 1fr 1fr;
            align-items: stretch;
            justify-items: stretch;
            padding-top: 0px;

            .alexa-kpi {

                text-align: center;
                &:nth-child(odd) { border-right: solid 2px @gray-lighter; }

                .alexa-kpi-title {
                    font-size: @font-size-large;
                    font-weight: 400;
                    color: @gray-darker;
                }
                .alexa-kpi-value {
                    font-size: @font-size-largest;
                    font-weight: 400;
                }
                .alexa-kpi-description {
                    font-size: @font-size-base;
                }

                &.pass .alexa-kpi-value { color: @brand-success; }
                &.nopass .alexa-kpi-value { color: @brand-danger; }
                &.warning .alexa-kpi-value { color: @brand-warning; }
                // &.disabled .alexa-kpi-value { color: @gray-lighter; }
            }
        }
    }

    &.ga .panel-heading .ola_panel-title {
        &:after {
            content: '';
            display: block;
            position: absolute;
            background-image: url('/img/logos/logo_lockup_analytics_icon_horizontal_black_2x.png');
            background-repeat: no-repeat;
            background-size: 100%;
            width: 150px;
            height: 25px;
            right: @block;
            top: 35px;
        }
    }

    .analytics {
        &.disconnected, &.scanning {

            width: 100%;

            #analytics-content {

                h3 {
                    font-size: @font-size-large;
                    font-weight: 400;
                    margin: 0px;
                    display: inline;
                    button {
                        margin-left: 20px;
                    }
                }

                a.analytics-logo {
                    float: right;
                    margin-top: 7px;
                    img {
                        width: 200px;
                    }
                }
            }
        }

        &.connected {
            .ola_panel-content { padding-top: 10px; }
            .btn{ margin: 30px 0px 30px 0px; }
        }

        &.scanning {
            h3 {
                position: relative;
                padding-left: @block;
                // .do_spinner(12px, 27px);
            }

            p {
                display: inline-block;
                padding-left: @block;
                margin: 0;
                font-size: @font-size-base;
                color: @gray;
            }
        }
    }
}


.analytics-logo {
    &.horizontal img {
        width: 150px;
        height: auto;
    }
    &.vertical img {
        width: auto;
        height: 40px;
    }
}
