.upgrade {
    .modal-content {
        display: flex;
        .modal-section {
            border-radius: 0;
            background-color: @white;
            flex: 1 1 auto;
            padding: 60px 50px 10px;

            .product {
                text-align: center;
                .img{
                    .center-container(flex, 150px);
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-position: center center;
                    width: 100%;
                    &.boat1{
                        background-image: url("/img/wizard/barco.svg");
                    }
                    &.boat2{
                        background-image: url("/img/upgrade/boatPro.svg");
                    }
                }
                .product-name {
                    font-size: 40px;
                    font-weight: 200;
                }
                .product-status {
                    display: block;
                    font-weight: bold;
                    margin-bottom: 20px;
                    color: @brand-primary;
                    min-height: 0;
                    padding-left: 0;
                    font-weight: 600;
                }
                .product-description {
                    font-weight: 400;
                    > ul {
                        min-height: 180px;
                        padding: 0px 0px 0px 0px;
                        list-style: none;
                        > li {
                            line-height: 25px;
                            font-size: 16px!important;
                        }
                    }
                }
                .product-action {
                    margin: 30px 0px 40px;
                }
            }

            &.active {
                border-radius: 0;
                background-color: @gray-lighter;
                .product-status {
                    color: @gray;
                }
                .product-action .btn-default {
                    color: @gray;
                    border-color: @gray;
                }
            }
        }
    }
}
