.accordion{
    margin-top: 0;
    .panel{
        &:first-child{
            margin-top: 0;
        }
        .panel-heading{

            .panel-title{
                text-align: left;
                a{
                    font-size: 18px;
                    font-weight: 400;
                    span{
                        font-size: 24px;
                        margin-top: 0;
                        margin-bottom: 0;
                    }
                }
            }
        }
        .panel-collapse{
            .panel-body{
                font-size: 16px;
                text-align: left;
            }
        }
    }
}