.loading-header {
    background: @loading-header-bg;
    padding: @loading-header-padding;
    margin: @loading-header-margin;
}

.progress-box {
    position: relative;

    h1 {
        font-weight: 200;
        color: @gray;
    }
    p {
        font-weight: 400;
    }
}

// Tenemos que limitar el ancho del elemento "analyzing-intro" para que en
// dominios muy largos no se meta en el thumbnail.
.analyzing-intro {
    width: 65%;
    .ellipsis();
}

.loading-animation {
    float: left;
    width: 200px;
    height: 200px;
    margin-right: 30px;
    .opacity(0.5);
}

.failed-loading-animation {
    float: left;
    width: 200px;
    height: 200px;
    margin-right: 30px;
    .opacity(0.5);
}

// Para el FWR visualizado en Weebly necesitamos una caja de acciones
.weebly-button-navigation {
    margin-top: 40px;
    margin-left: 230px;
}

.water-loading-animation {
    position: absolute;
    width: 100%;
    bottom: -60px;
    left: 0px;
    .fadeInUp();
}

#fwr-loader > .jumbotron {
    padding: @loading-jumbotron-padding;
    background-color: @loading-jumbotron-bg;
}

// Customización del color de las "aguas" de la animación de carga
#water path {
    fill: @loading-water-color;
}

.progress-display {
    background: white;
    padding: 40px 50px 100px;
    position: relative;
    overflow: hidden;
    margin: 0px;

    h2 {
        font-size: 35px;
        margin-top: 25px;
    }
}

.error-display {
    background: white;
    padding: 40px 50px 40px;
    position: relative;
    overflow: hidden;
    margin: 0px;

    h2 {
        font-size: 35px;
        margin-top: 25px;
    }
}


.timeout-display {
    margin-top: 30px;
    font-family: @font-family-text;
    text-align: center;

    .icomoon(@icon-repeat-content);
    .fadeInDown();

    strong {
        color: @gray-darker;
    }
}

// El ratio de aspecto de la imagen del iPad
// Los números de ancho y alto tienen que ser los reales del PNG
@device-ipad-ratio: 243px / 280px;

// Tamaños calculados para la nueva imagen
@device-ipad-width: 230px;
@device-ipad-height: ceil(@device-ipad-width * @device-ipad-ratio);
@device-ipad-image-width: 164px;
@device-ipad-image-height: 123px; // @device-ipad-image-width * @device-ipad-ratio;

.device-preview {
    // Estas medidas están puestas para el screenshot de iPad
    width: @device-ipad-width;
    height: @device-ipad-height;
    position: absolute;
    top: 60px;
    right: 35px;
    z-index: @zindex-navbar;

    background: url("/img/devices/iPad-big.png") no-repeat center center;
    background-size: 100%;

    .fadeInUp(1s);

    img {
        margin: 16px 0px 0px 30px;
        width: @device-ipad-image-width;
        height: @device-ipad-image-height;
    }
}

