.modal {
  .border-radius(@border-radius-small);
  .modal-dialog {
    margin-top: 125px;
    .close-modal {
      font-size: 20px;
      padding: 20px;
      position: absolute;
      top: 0;
      right: -100px;
    }
    .change-modal {
      position: absolute;
      top: 50%;
      margin-top: -30px;
      left: -100px;

      .a-icon {
        padding:15px 40px 15px 20px;
        font-size: 30px;
        color: @gray-darker;
        position: absolute;
        left: 0;
        top:0;
        z-index: 1065;
        line-height: 30px;
      }

      .goes-to {
        line-height: 60px;
        border: 1px solid @gray-light;
        background-color: #ffffff;
        padding:0 40px 0 88px;
        font-size: @font-size-large;
        .border-radius(@border-radius-small);
        .opacity(0);
      }
      &:hover {
        z-index: 1060;
        .goes-to {
          .opacity(1);
          .transition(opacity 0.4s ease-out);
        }
      }

      &.next {
        left: auto;
        right: -100px;
        .a-icon {
          left:auto;
          right: 0;
          padding: 15px 20px 15px 40px;
        }
        .goes-to {
          padding: 0 88px 0 40px;
        }
      }
    }
  }
  .modal-content {
    z-index: 1055;
    .box-shadow(none);

    .modal-body {
      padding-left: 35px;
      padding-right: 35px;

      p {
        font-size: @font-size-large;
      }
    }
    .modal-footer {
      padding: 10px 35px;
      margin: 0;
      text-align: left;
      .btn {
        float: right;
      }
    }
  }
  &.recommendation {
    .modal-title {
      line-height: 40px;
      display: inline-block;
    }
    .modal-body {
      .list-group {
        margin:40px 0;

        .list-group-item {
          border-top:1px solid @gray-light;
          background-color: @gray-lighter;
          padding: 13px 20px 11px;

          &:first-child {
            .border-radiuses(@border-radius-small,0,0,@border-radius-small);
            border: none;
          }
          &:last-child {
            .border-radiuses(0,@border-radius-small,@border-radius-small,0);            
          }
        }
      }
      .alert {
        color: @gray-darker;
        padding: 11px 11px 11px 20px;
        .transition(all 0.2s ease-in);
        .close {
          font-size: 10px;
          color: @gray-darker;
          margin-left: 30px;
        }
        .link {
          font-weight: 500;
          float: right;
        }
      }
    }
    .modal-footer {
      span {
        line-height: 40px;

        a {
          font-weight: 500;
          margin-left: 12px;
          font-size: @font-size-large;
        }
      }
    }
  }
}