.navbar-default {
    .opacity(0);
    .translate(0px, -@navbar-height - 20);
    .transition-transform-opacity(.5s ease-out);

    border-width: 0;

    display: flex;
    flex-flow: row nowrap;
    box-shadow: @navbar-default-shadow;

    .navbar-header {
        order: 1;
        flex: 0 0 auto;

        .navbar-brand {
            display: block;
            color: @brand-primary;
            font-size: 45px;
            font-weight: bold;
            letter-spacing: -0.04em;
            text-rendering: optimizelegibility;

            text-transform: lowercase;
            line-height: @navbar-height;

            background: url(@navbar-default-logo-url) left center no-repeat;
            background-size: @navbar-default-logo-size;
            text-indent: -9999px;
            width: @navbar-default-logo-width;

            padding: 0px;
            margin-left: 30px;

            &:hover {
                text-decoration: none;
            }
        }
    }

    #report-navbar {
        order: 2;
        flex: 1 1 auto;
        display: flex !important;
        justify-content: space-around;

        .navbar-nav {
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-around;
            width: 65%;
            padding: 0 35px;
            margin: 0px;

            li {
                float: none; // anti-bootstrap....
                flex: 1;
                border-bottom: @navbar-default-link-bottom-border;
                a {
                    // Animación de iconos
                    .opacity(0);
                    .translate(0px, -20px);
                    .transition-transform-opacity(.3s ease-out);
                    .transition-delay(.5s);

                    color: @navbar-default-link-color;
                    position: relative;
                    text-align: center;
                    width: 100%;
                    height: 100%;
                    padding-top: @navbar-default-link-padding-top;
                    padding-bottom: @navbar-default-link-padding-bottom;
                    border-bottom: @navbar-default-link-bottom-border;

                    // iconos
                    &.sec-score          { .transition-delay(.45s); .icomoon(@icon-bar-graph-2-content); }
                    &.sec-visitors       { .transition-delay(.50s); .icomoon(@icon-head-content);  }
                    &.sec-sitereview     { .transition-delay(.55s); .icomoon(@icon-air-play-content); }
                    &.sec-optimization   { .transition-delay(.60s); .icomoon(@icon-search2-content); }
                    &.sec-content        { .transition-delay(.65s); .icomoon(@icon-paper-content); }
                    &.sec-mobile         { .transition-delay(.70s); .icomoon(@icon-signal-content); }
                    &.sec-popularity     { .transition-delay(.75s); .icomoon(@icon-star-content); }
                    &.sec-social         { .transition-delay(.80s); .icomoon(@icon-share-content); }

                    &:before {
                        display: block;
                        width: 100%;
                        margin-right: 0 !important;
                        font-size: @navbar-default-icon-font-size;
                    }

                    span {
                        // Hide spans on small devices
                        .hidden-xs();
                        .hidden-sm();
                        .hidden-md();

                        // Hack para que el texto haga overflow 
                        // y esté centrado en los links
                        position: absolute;
                        width: 350px;
                        left: 50%;
                        margin-left: -175px;
                        padding: 0;
                        font-size: @navbar-default-link-span-font-size;
                        font-weight: @navbar-default-link-span-font-weight;
                        text-transform: @navbar-default-link-span-transform;
                        font-family: @navbar-default-link-span-font-family;

                        /**
                          * -webkit-bottom: @navbar-link-span-bottom - 13px;
                          * bottom: @navbar-link-span-bottom;
                          * Cambiamos a margin bottom para evitar problemas con
                          * Safari, que no entiende bien el bottom en las
                          * últimas versiones
                          */
                        margin-top: @navbar-default-link-span-top-margin;
                        color: @navbar-default-link-color;
                        display: none;// oculta el texto de los links
                    }
                }
                // muestra el texto de los links
                &:hover a span {
                    display: block;
                }

                &.active {
                    border-bottom-color: @navbar-default-active-color;
                    a, a span { color: @navbar-default-active-color; }
                }
                &:hover {
                    a, a span{
                        color: @navbar-default-active-color;
                    }
                }
            }
        }
    }

    .navbar-cta {
        order: 3;
        flex: 0 0 auto;

        height: @navbar-height;
        line-height: @navbar-height;
        text-align: right;

        .btn {
            display: inline-block;
            margin-right: 30px;
            white-space: nowrap;
            max-width: 400px;
            overflow: hidden;
            text-overflow: ellipsis;
            &:hover {
                word-break: break-word;
                white-space: normal;
            }
        }
    }


    &.visible {
        .opacity(1);
        .translate(0px, 0px);

        #report-navbar .navbar-nav > li > a {
            .opacity(1);
            .translate(0px, 0px);
        }
    }
}


@media all and (min-width: 1150px) {
    .navbar-default .navbar-cta .btn { max-width: 250px; }
}
@media all and (min-width: 1300px) {
    .navbar-default .navbar-cta .btn { max-width: 350px; }
}

@media all and (max-width: 1150px) {
    // Ajustes para que el menú salte por debajo del resto de elementos
    .navbar-default { flex-flow: row wrap; }
    .navbar-default .navbar-header { order: 1; flex: 1 1 50%;}
    .navbar-default #report-navbar { order: 3; flex: 1 1 100%; }
    .navbar-default .navbar-cta    { order: 2; flex: 1 1 49%;}
    .navbar-default #report-navbar .navbar-nav li a {
        margin-bottom: @navbar-default-link-padding-bottom + 19px;
    }
}

