.panel {

    .panel-heading {
        padding: 13px 20px 15px;

        .knob {
            position: absolute;
            top: 0px;
            left: 5px;
            width: 55px;
            height: 55px;

            .ring {
                stroke-width: 6%;
            }
        }

        h1 {
            margin: 0px;
        }

        aside {
            .icomoon(@icon-clipboard2-content);

            // Customize the icomoon appearence above
            &:before {
                line-height: 1.3em;
                float: left;
                padding-right: 5px;
                font-size: 25px;
                color: #ddd;
            }

            color: #aaa;
            font-family: @font-family-text;
            font-size: 11px;
            float: right;
            width: 35%;
        }
    }

    .panel-sub-heading, .sub-heading {
        background-color: @panel-subheading-bg;
        color: @panel-subheading-color;
        padding: 25px 90px;
        text-align: center;
        font-size: 13px;
        font-family: @font-family-text;
        position: relative;
        .triangleDown(@panel-subheading-bg, 20px);

        .knob {
            position: absolute;
            left: 50%;
            top: -85px;
            margin-left: -55px;
            padding: 3px;
        }

        p {
            margin: 0px;
            color: @panel-subheading-color;
            font-size: @font-size-base;
            font-weight: normal;
        }
    }

    .panel-body {
        position: relative;

        .big-value {
            font-size: 70px;
            color: @brand-success;
            text-align: center;
            line-height: 1em;
            text-transform: uppercase;

            @media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
                font-size: 60px;
            }

            &.pass {
                color: @brand-success;
            }

            &.waiting {
                color: @gray-lighter;
            }

            &.value-fail, &.nopass {
                color: @brand-danger;
            }

            &.value-disabled, &.disabled {
                color: @gray;
            }

            &.value-warning, &.warning {
                color: @brand-warning;
            }

            &.value-small {
                font-size: 60px;
            }
        }

        .visitors-rank .big-value {
            font-size: 40px;
        }

        .social-rank .big-value {
            display: block;
            margin-top: 20px;
            font-size: 50px;
        }

        .column {
            border-left: solid 1px @gray-light;

            &:first-child {
                border-left: none;
            }
        }

        @media screen and (max-width: @screen-xs-max) {
            .column {
                border: none;
                margin-top: @subpanel-body-padding;

                &:first-child {
                    border: none;
                    margin-top: 0px;
                }
            }
        }

        .explanation {
            font-family: @font-family-text;
            font-size: @font-size-smaller;
            color: @gray;
            margin-top: 10px;
            padding: 0px 10px;

            strong {
                font-weight: 500;
                color: @gray-darker;
                font-size: 1.3em;
            }
        }

        .sub-panel {
            text-align: center;
            border-top: solid 1px @gray-light;
            margin: 0px -@panel-body-padding;
            padding: @subpanel-body-padding (@subpanel-body-padding * 2);

            &:first-child {
                border: none;
            }

            &.sub-panel-empty {
                filter: blur(2px);
                filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='2');
            }

            h1 {
                text-align: left;
            }

            h2 {
                text-align: left;
                margin-bottom: 15px;
                margin-top: 0px;
                color: @gray-darker;

                // Having a fixed heigh for panel headings solves the problem
                // of variable data heigh (for example the sub-panel for page
                // loading speed and size. Those YES/YES values will be
                // displayed non-aligned because the header text varies and
                // overflows)
                // height: @headings-line-height * 2em;
            }

            h3 {
                margin-bottom: 5px;

                // Margin top for H3 elements "pulls up" the header in some
                // sections that have the H3 close to the previous H2
                // (Example: Visitors Global and Local Rank) but also
                // makes the H3 closer to the "span.big-value" when the H3
                // is used underneath the span.
                // margin-top: -15px;

                color: @gray;
            }

            &.social-rank h3 {
                margin-top: 0px;
            }


            // Make the H3 headers on popularity rank sub-panels higher
            &.popularity-rank h3 {
                margin-bottom: 30px;
                margin-top: 0px;
            }
        }
    }
}

.empty-info {
    background: fadeout(@white, 30%);
    position: absolute;

    top: @panel-body-padding * 2;
    bottom: @panel-body-padding;
    left: 0px;
    right: 0px;

    z-index: @zindex-dropdown;

    .panel {
        margin: 15% 15% 15% 15%;
        padding: 40px;

        border: 0px;
        box-shadow: 0px 0px 50px @gray-light;
        background: @white;
    }

    .popularity & .panel {
        margin: 7% 15% 7% 15%;
    }

    h1 {
        font-size: 22px;
        margin: 0em 0em 1em 0em;
    }

    p {
        font-family: @font-family-text;
        line-height: 1.5em;
        margin: 0px;
    }
}


.visit-shares {
    border-collapse: separate;
    margin: 0px auto;
    width: 100%;

    td {
        border: 2px solid transparent;
        text-align: left;
        padding: 1px;
        position: relative;

        &.data {
            width: 50%;
            text-align: right;
            font-weight: bold;

            .sharebar {
                position: absolute;
                width: 50%;
                background: #E5F6D2;
                height: 100%;
                z-index: 1;
                right: 0px;
                top: 0px;
            }
            .value {
                position: absolute;
                right: 5px;
                top: 0.1em;
                z-index: 2;
                color: @gray-darker;
            }
        }

        &.name {
            width: 50%;
            padding-left: 10px;
        }

        .flag16 {
            vertical-align: middle;
            margin-right: 3px;
        }
    }
}


.new_header_icon() {
    &:before {
        font-size: 0.8em;
        margin-left: 0.12em;
        margin-right: 1em;
    }
}

.visitors .panel-heading h1 {
    .icomoon(@icon-head-content);
    .new_header_icon();
}

.site_review .panel-heading h1 {
    .icomoon(@icon-desktop-content);
    .new_header_icon();
}

.search_optimization .panel-heading h1 {
    .icomoon(@icon-search2-content);
    .new_header_icon();
}

.content .panel-heading h1 {
    .icomoon(@icon-paper-content);
    .new_header_icon();
}

.mobile .panel-heading h1 {
    .icomoon(@icon-signal-content);
    .new_header_icon();
}

.popularity .panel-heading h1 {
    .icomoon(@icon-star-content);
    .new_header_icon();
}

.social .panel-heading h1 {
    .icomoon(@icon-share-content);
    .new_header_icon();
}

.summary .panel-heading h1 {
    .icomoon(@icon-clipboard-content);
    .new_header_icon();
}
