@media print {

    * {
        -webkit-print-color-adjust: exact;
        print-color-adjust: exact;
    }

    body {
        zoom: 0.54; /* using 0.55 or higher results in the elements not lining up correctly */
        background: transparent;
    }

    .wow {
        visibility: visible !important;
    }

    .jellyBounce,
    .bounceIn,
    .animated,
    .wow {
        .animation-name(none) !important;
        .animation-duration(0s) !important;
    }

    // a[href^=http]:after {
    //     content:" <" attr(href) "> ";
    // }

    .list-group-item {
        page-break-inside: avoid;
        .workon {
            display: block;
        }
    }

    .panel .panel-body .sub-panel {
        border-top: none;
    }

    #debug_info_debug,
    .navbar-default.visible,
    .actions,
    .btn {
        display: none;
    }

    .cta-panel a {
        margin-top: 25px;
        display: block;
        position: relative;
        &:after {
            content:" (" attr(href) ") ";
            position: absolute;
            top: 50px;
            left: 0;
            width: 100%;
            color: darken(@brand-primary, 10%);
            text-transform: lowercase;
        }
    }
    .middle-cta {
        padding: 30px 60px 50px !important;
        a:after {
            content:" (" attr(href) ") ";
            position: absolute;
            top: 50px;
            left: 0;
            width: 100%;
            color: darken(@brand-primary, 10%);
            text-transform: lowercase;
        }
    }
    .panel .panel-body .sub-panel .cta-panel h2:after {
        display: none;
    }

    .header-intro {
        &:after {
            bottom: -40px;
        }
    }

    .header-summary {
        padding-top: 65px;

        .status {
            width: 100%;
            padding: 40px 130px;
            h2 {
                font-size: 26px;
            }
        }
        .knob {
            width: 200px;
            height: 200px;
            top: -15px;
            left: 570px;
            .knob-score {
                .grade {
                    margin-top: -50px;
                    span {
                        font-size: 1.4em;
                    }
                }
            }
        }
        .screenshot {
            left: 50%;
            margin-left: -200px;
            figure {
                width: 361px;
                padding: 335px 0px 0px 0px;
                .header-screenshot {
                    -webkit-print-color-adjust: exact;
                    print-color-adjust: exact;
                    width: 340px;
                    height: 191px;
                    &:after {
                        height: 220px;
                    }
                }
                figcaption {
                    font-size: 18px;
                }
            }
        }
    }

    .panel {
        box-shadow: none;
        .panel-heading {
            width: 30%;
            display: inline-block;
            vertical-align: top;
            height: 100px;
            border: 1px solid #eeeeee !important;
            border-right: none !important;
            padding: 15px;
            .knob {
                display: inline-block;
                vertical-align: middle;
                top: 22px;
                left: 26px;
            }
            h1 {
                display: inline-block;
                vertical-align: middle;
                padding-left: 55px;
                display: flex;
                justify-content: center;
                flex-direction: column;
                height: 100%;
                &:before {
                    position: absolute;
                    left: 42px;
                    top: 39px;
                }
            }
        }
        .panel-sub-heading,
        .sub-heading {
            display: inline-block;
            vertical-align: top;
            width: 69%;
            height: 100px;
            padding: 12px;
            left: 6px;
            &:after {
                display: none;
            }
            &:before {
                // content: "";
                // width: 0;
                // height: 0;
                // border-bottom: 20px solid transparent;
                // border-top: 20px solid transparent;
                // border-right: 20px solid rgba(63, 182, 253, 0.2);
                // position: absolute;
                // left: -19px;
                // top: 50%;
                // margin-top: -19px;
                display: none;
            }
        }

        .panel-body {
            .explanation {
                margin-top: 20px;
                font-size: 14px;
                strong {
                    font-size: 15px;
                }
            }
        }
    }

    .social-rank {
        margin-top: 40px !important;
    }

    #section-visitors,
    #section-sitereview,
    #section-optimization,
    #section-content,
    #section-mobile,
    #section-popularity {
        page-break-before: always;
    }
    #section-social {
        page-break-after: always;
    }

    // title {
    //     string-set: header content();
    // }

}

@import "paged.less";
