
// Fonts and sizes
@font-size-small: 12px;

// Grid
@grid-gutter-width: 40px;

// Container
@container-large-desktop: ((920px + @grid-gutter-width));
@container-lg: @container-large-desktop;

// Report Header
@header-bg:                    @white;
@header-color:                 @gray;
@header-strong-color:          @gray-darker;
@header-logo-url:              "../img/logo.svg";
@header-logo-size:             100%;
@header-logo-width:            201px;
@header-logo-position:         inherit;

@header-intro-bg:              @white;
@header-intro-color:           @gray;
@header-intro-color-strong:    @gray-darker;
@header-intro-triangle-color:  @header-intro-bg;
@header-intro-padding:         0px 0px 55px;
@header-intro-margin:          0px 0px 90px 0px;
@header-intro-font-size:       auto;//26px;
@header-intro-font-weight:     auto;//normal;
@header-intro-line-height:     auto;//28.6px;


@header-summary-h1:            @gray-darker;
@header-summary-h2:            @gray;


// CTAs
@cta-panel-bg:                 @brand-primary-subtle;
@cta-panel-title-color:        @brand-primary;
@cta-panel-text-color:         @gray-darker;
@cta-panel-arrow-color:        @brand-success;

@cta-middle-bg:                @brand-primary-darker;
@cta-middle-color:             @white;
@cta-middle-link-color:        @brand-primary;


// LOADING
@loading-header-bg:            transparent;
@loading-header-padding:       55px 0px;;
@loading-header-margin:        inherit;
@loading-water-color:          @brand-primary-light;
@loading-jumbotron-padding:    inherit;
@loading-jumbotron-bg:         inherit;







