.ola_segment {
    display: inline-flex;
    max-width: 100%;

    & > .ola_button {
        border-radius: 0;
        flex-shrink: 1;

        & + .ola_button {
            border-left: none;
        }
    }

    & > .ola_button:first-child {
        border-top-left-radius: var(--radius-big);
        border-bottom-left-radius: var(--radius-big);
    }
    & > .ola_button:last-child {
        border-top-right-radius: var(--radius-big);
        border-bottom-right-radius: var(--radius-big);
    }
}
