.ola_segment {
  display: inline-flex;
  max-width: 100%;
  border: solid 2px var(--gray-light);
  border-radius: calc(var(--radius-big) + 2px);
  height: var(--size-8);
  box-sizing: border-box;

  & > .ola_button {
    border: none;
    flex-shrink: 1;
    min-height: 100%;
  }
}
