.ola_segment {
    display: inline-flex;
    max-width: 100%;
    border: solid 1px var(--gray-light);
    border-radius: var(--radius-big);

    & > .ola_button {
        border: solid 2px white;
        flex-shrink: 1;
    }
}
