.ola_segment {
  display: inline-flex;
  gap: var(--size-1);
  max-width: 100%;
  border: solid 2px var(--color-neutral-500);
  border-radius: var(--radius-xl);
  height: var(--size-5);
  box-sizing: content-box;
}
