.ola_modal {
    background: var(--white);
    border-radius: var(--radius);
    border: none;
    box-shadow: var(--shadow-3);
    max-width: 850px;
    margin: 8vh auto;
    animation: modal-show .5s;
    animation-fill-mode: both;
    position: relative;
    & > .ola_modal-header {
        padding: var(--inner-gap) var(--inner-gap) 0;
    }
}

.ola_modal-header {
  display: grid;
  grid-template-areas: "title" "intro";
  grid-template-columns: 1fr auto;
  grid-column-gap: var(--size-6);
  &.has-extra {
      grid-template-areas: "title title" "intro extra";
  }
}

.ola_modal-extra {
    grid-area: extra;
}

.ola_modal-close {
    position: absolute;
    top: var(--size-4);
    right: var(--size-4);
}
.ola_modal-title {
    grid-area: title;
    margin: 0;
    font: var(--font-headline);
    font-weight: var(--regular);
}
.ola_modal-intro {
    grid-area: intro;
    margin-top: var(--size-3);
    font: var(--font-callout);
    color: var(--gray);
}
.ola_modal-content {
    padding: var(--size-8);
}
.ola_modal-footer {
    padding: 0 var(--size-8) var(--size-7);
}
.ola_modal-overlay {
    background: #0006;
    position: fixed !important;
    z-index: 10;
    margin: 0 !important;
    top: 0 !important;
    left: 0 !important;
    width: 100% !important;
    height: 100% !important;
    box-sizing: border-box;
    padding: var(--size-8);
    overflow: auto;
}

@keyframes modal-show {
    from {
        opacity: 0;
        transform: translateY(100px);
    }
    50% {
        opacity: 1;
    }
    to {
        transform: translateY(0);
    }
}
