.ola_modal {
    background: var(--white);
    border-radius: var(--radius);
    border: none;
    box-shadow: var(--shadow-3), var(--shadow-line);
    max-width: 850px;
    max-height: calc(100vh - 5vw);
    width: calc(100% - 5vw);
    margin: 2.5vw auto 0;
    animation: modal-show .5s;
    animation-fill-mode: both;
    position: fixed;
    display: none;
    flex-direction: column;
    box-sizing: border-box;
    top: 0;
    left: 0;
    right: 0;

    &[open] {
      display: flex;
    }

    @media (--from-width-1) {
        margin: 5vh auto 0;
        width: calc(100% - 10vw);
        max-height: calc(100vh - 10vh);
    }
}

.ola_modal::backdrop {
    background: #0006;
}
.ola_modal + .backdrop {
    background: #0006;
}
.ola_modal + .backdrop,
._dialog_overlay {
  position: fixed;
  top: 0; right: 0; bottom: 0; left: 0;
}

.ola_modal-header {
  display: grid;
  grid-template-areas: "title" "intro";
  grid-template-columns: 1fr auto;
  grid-column-gap: var(--column-gap);
  grid-row-gap: var(--size-3);
  flex: 0 0 auto;
  padding: var(--inner-gap) var(--inner-gap) var(--size-3);

  &.has-extra {
        grid-template-areas: "title" "intro" "extra";

        @media (--from-width-2) {
            grid-template-areas: "title extra" "intro extra";
            grid-template-columns: 1fr auto;
        }
    }
}

.ola_modal-extra {
    grid-area: extra;
}

.ola_modal-close {
    position: absolute;
    top: var(--size-4);
    right: var(--size-4);
}
.ola_modal-title {
    grid-area: title;
    margin: 0;
    font: var(--font-headline);
    font-weight: var(--regular);
}
.ola_modal-intro {
    grid-area: intro;
    margin: 0;
    font: var(--font-callout);
    color: var(--gray);
}
.ola_modal-content {
    padding: var(--size-3) var(--inner-gap);
    min-height: 0;
    overflow-y: auto;

    &:first-child {
        padding-top: var(--inner-gap);
    }
    &:last-child {
        padding-bottom: var(--inner-gap);
    }
}
.ola_modal-footer {
    padding: var(--size-3)  var(--inner-gap) var(--inner-gap);
    flex: 0 0 auto;
}

@keyframes modal-show {
    from {
        opacity: 0;
        transform: translateY(100px);
    }
    50% {
        opacity: 1;
    }
    to {
        transform: translateY(0);
    }
}
