.ola_modal {
    background: var(--color-white-100);
    border-radius: var(--radius);
    border: none;
    box-shadow: var(--shadow-3), var(--shadow-line);
    max-width: 850px;
    width: calc(100% - 5vw);
    margin: 2.5vw auto 0;
    position: fixed;
    display: none;
    box-sizing: border-box;
    top: 0;
    left: 0;
    right: 0;
    padding: 0;

    &[open] {
        display: block;
        animation: fadeIn var(--duration);
        animation-fill-mode: both;
    }

    @media (--from-width-1) {
        margin: 5vh auto 0;
        width: calc(100% - 10vw);
    }

    &.is-narrow,
    &.is-center {
        top: 50%;
        margin-top: 0;
        transform: translateY(-50%);
    }

    &.is-narrow {
        max-width: var(--size-12);
    }

    &.is-closable {
        @media (--from-width-2) {
            & .ola_modal-extra {
                margin-top: var(--size-8);
            }
        }
        @media (--to-width-2) {
            & .ola_modal-title {
                margin-right: var(--size-8);
            }
        }
    }
}

.ola_modal::backdrop {
    background: #0006;
    animation: fadeIn .4s;
}
.ola_modal + .backdrop {
    background: #0006;
    animation: fadeIn .4s;
}
.ola_modal + .backdrop,
._dialog_overlay {
  position: fixed;
  top: 0; right: 0; bottom: 0; left: 0;
}

.ola_modal-container {
    flex-direction: column;
    display: flex;
    max-height: calc(100vh - 5vw);

    @media (--from-width-1) {
        max-height: calc(100vh - 10vh);
    }

    & > * {
        padding-left: var(--column-gap-3);
        padding-right: var(--column-gap-3);
    }

    & > :first-child {
        margin-top: var(--row-gap-3);
    }
    & > :last-child {
        margin-bottom: var(--row-gap-3);
    }

    & > * + * {
        margin-top: var(--row-gap-2);
    }

    & > .ola_modal-header + *,
    & > * + .ola_modal-footer {
        margin-top: var(--row-gap-3);
    }
}

.ola_modal-header {
  display: grid;
  grid-row-gap: var(--row-gap-1);
  flex: 0 0 auto;

  &.has-extra {
        grid-template-areas: "title" "intro" "extra";
        grid-column-gap: var(--column-gap-2);

        @media (--from-width-2) {
            grid-template-areas: "title extra" "intro extra";
            grid-template-columns: 1fr auto;
        }

        & .ola_modal-title {
            grid-area: title;
        }
        & .ola_modal-intro {
            grid-area: intro;
        }
        & .ola_modal-extra {
            grid-area: extra;
        }
    }
}

.ola_modal-close {
    position: absolute;
    top: var(--size-5);
    right: var(--size-5);
}
.ola_modal-title {
    margin: 0;
    font: var(--font-headline);
    font-weight: var(--regular);
}
.ola_modal-intro {
    margin: 0;
    font: var(--font-callout);
    color: var(--color-neutral-700);
}
.ola_modal-content {
    flex-shrink: 0;

    &.is-fullwidth-scroll,
    &.is-fullwidth {
        padding-left: 0;
        padding-right: 0;
    }

    &.is-fullwidth-scroll,
    &.is-scroll {
        flex-shrink: 1;
        min-height: 0;
        overflow-y: auto;
    }
}
.ola_modal-footer {
    flex: 0 0 auto;

    @media (--from-width-1) {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }

    @media (--from-width-2) {
        flex-wrap: nowrap;
    }

    & > .is-reversed {
        margin-left: auto;
    }

    & > .is-center {
        flex: 1 1 auto;
    }
}

@keyframes modal-show {
    from {
        opacity: 0;
        transform: translateY(100px);
    }
    50% {
        opacity: 1;
    }
    to {
        transform: translateY(0);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
