@import "welcome.less";

body {
    &.wp-ui{
        padding-left: 9%;
        padding-bottom: 73px;

        .maincontent-wrapper {
            float: none;
            margin: 0 auto
        }

        .sidebar-wrapper {
            display: none;
        }

        .recocard-modal{
            &.modal-dialog {
                left: 55%;
            }
        }

        .vex-content {
            left: 5%;
        }

        div[role=main-menu]{
            background-color: @brand-primary;
            .container {
                nav {
                    ul {
                        li[role=selector] {
                            display: none;
                        }
                        li[role=menu]{
                            .dropdown{
                                display: none;
                            }

                            ul {
                                li {
                                    a {
                                        margin-bottom: 4px;
                                    }
                                    a:hover, a:visited, a:focus, a:active{
                                        background-color: rgba(255,255,255,0.1);
                                        color: white;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .navbar-header {
                .navbar-brand {
                    margin-left: 70%;
                    height: 53px;
                    width: 145px;
                }
            }
        }
    }

    @media (max-width: 960px) {
        .maincontent-wrapper {
                float: left;
        }

        div[role=main-menu]{
            .container {
                .navbar-header {
                    .navbar-brand {
                        margin-left: 18%;
                    }
                }
            }
        }
    }
}
