.ola_tag {
    --color: var(--color-neutral-700);
    --background: var(--color-neutral-200);
    --padding: var(--size-3);

    display: inline-flex;
    align-items: center;
    white-space: nowrap;
    color: var(--color);
    background-color: var(--background);
    padding: 0 var(--padding);
    border-radius: var(--radius-small);
    border: solid 1px var(--background);
    vertical-align: baseline;
    cursor: default;
    max-width: 100%;
    letter-spacing: 0;

    & > span {
        text-overflow: ellipsis;
        overflow: hidden;
        min-width: 0;
    }

    &.is-success {
        --color: var(--color-white-100);
        --background: var(--color-positive-500);
    }

    &.is-error {
        --color: var(--color-white-100);
        --background: var(--color-negative-500);
    }

    &.is-warning {
        --color: var(--color-white-100);
        --background: var(--color-warning-500);
    }

    &.is-chart-0 {
        --color: var(--color-white-100);
        --background: var(--color-chart-0);
    }

    &.is-chart-1 {
        --color: var(--color-neutral-900);
        --background: var(--color-chart-1);
    }

    &.is-chart-2 {
        --color: var(--color-neutral-900);
        --background: var(--color-chart-2);
    }

    &.is-chart-3 {
        --color: var(--color-neutral-900);
        --background: var(--color-chart-3);
    }

    &.is-chart-4 {
        --color: var(--color-white-100);
        --background: var(--color-chart-4);
    }

    &.is-invert {
        --color: var(--color-white-100);
        --background: var(--color-neutral-700);
    }

    &.is-info {
      --color: var(--color-white-100);
      --background: var(--color-info);
  }

    &.is-pro {
        --color: var(--color-white-100);
        --background: var(--color-pro-500);
    }

    &.is-small {
        height: var(--size-6);
        font: var(--font-caption);
        font-weight: var(--bold);
    }

    &.is-medium {
        height: var(--size-7);
        font: var(--font-callout);
        font-weight: var(--bold);
    }

    &.is-big {
        --padding: var(--size-4);
        height: var(--size-8);
        font: var(--font-body);
        font-weight: var(--bold);
    }

    & > .ola_buttonIcon {
        margin-right: calc(var(--padding) * -1);
        margin-left: var(--size-3);
        --color: currentColor;
        flex: 0 0 auto;
        height: 100%;

        & .ola_icon {
            border-radius: 0 calc(var(--radius-small) - 1px) calc(var(--radius-small) - 1px) 0;
            padding-top: 0;
            padding-bottom: 0;
        }
    }
}
