.chart-container {
    position: relative;
    padding: 30px @panel-body-padding @panel-body-padding + 10px 0px;
    background: @gray-lighter;
    border-radius: @border-radius-small;
    .ranking{
        #labelY{
            top: -22px;
        }
    }
    .labelSerie{
        position: absolute;
        font-size: 10px;
        text-transform: uppercase;
        text-align: end;
        color: @gray-dark;
    }

    #labelX{
        right: 5px;
        bottom: -12px;
    }

    #labelY{
        left: -36px;
        width: 79px;
        top: 0px;
    }
}

// This determines the chart height
.section-chart {
    padding-top: 0;

    .goo-chart-canvas {
        height: @medium-height - (@panel-body-padding * 4);
    }
}

.progress-chart {
    padding-top: 0;

    .goo-chart-canvas {
        height: 160px;
    }
}

.results-chart {
    padding-top: 0;

    .goo-chart-canvas {
        height: 170px;
    }
}

.ranking-chart {
    margin-top: 50px;
}

.results {
    .goo-chart-popularity {
        .goo-chart-canvas {
            height: 196px;
        }
    }
}

.selector {
    list-style: none;
    text-align: right;
    margin: 0;
    padding: 0;

    position: absolute;
    right: 0px;
    top: -42px;

    .results-chart & {
        top: -35px;
    }

    .progress-chart & {
        top: -50px;
    }

    li {
        display: inline-block;
        margin: 0;
        padding: 0 2px;

        a {
            display: inline-block;
            cursor: pointer;
            color: @chart-links-color;

            padding: 4px;
            font-size: @font-size-base;
            font-weight: 500;
            text-transform: uppercase;

            &:hover {
                border-bottom: solid 1px @chart-links-color;
            }
        }

        &.selected {
            a {
                cursor: auto;
                color: @gray-darker;
                border-bottom: solid 1px @gray-darker;
            }
        }
    }

    &.selector-engine {
        left: 0px;
        text-align: left;
    }
}

.goo-chart-container {
    position: relative;
}

.goo-chart-label {
    display: block;
    width: 100%;
    height: 100%;
    font-family: @font-family-base;

    // FIX para safari. El texto heredaba en width del chart
    stroke-width: 0px !important;
}

.goo-chart-horizontal {
    text-align: left;
    position: relative;
    left: -5px;
    padding-top: 5px;
    font-size: @font-size-smaller;
    font-weight: 500;
    // border-top: 1px solid #ccc;
    color: #333;
}

.goo-chart-vertical {
    text-align: right;
    font-size: 11px;
    color: #666;
    padding-top: 10px;
    font-family: @font-family-text;
}

.goo-chart-title {
    text-align: right;
    font-size: 13px;
    font-weight: 500;
    color: #333;
    padding-right: 10px;
    text-transform: uppercase;
    position: absolute;
    right: 0px;
    top: -21px;
}

.goo-chart-axis {
    text-align: left;
    font-size: @font-size-smaller;
    font-weight: 500;
    color: #666;
    padding-left: 20px;
    text-transform: uppercase;
    position: absolute;
    left: 5px;
    top: -17px;
    background-color: @gray-lighter;
    z-index: 1;
}

.goo-chart-tooltip {
    position: absolute;
    z-index: @zindex-tooltip;

    padding: 8px 12px;
    border-radius: @border-radius-small;
    background: rgba(0, 0, 0, .8);
    color: white;
    font-size: 18px;
    font-family: @font-family-base;
    font-weight: 500;
    text-align: center;
    pointer-events: none;

    &:after {
        content: "";
        width: 0;
        height: 0;
        border-left: @chart-tooltip-arrow-size solid @chart-tooltip-background;
        border-top: @chart-tooltip-arrow-size solid @chart-tooltip-background;
        border-right: @chart-tooltip-arrow-size solid transparent;
        border-bottom: @chart-tooltip-arrow-size solid transparent;
        position: absolute;
        left: 10px;
        bottom: -@chart-tooltip-arrow-size * 2;
    }

}


/* GRID --------------------------------------------------------------- */

.goo-chart-grid {
    stroke: rgba(0, 0, 0, .2);
    stroke-width: 1px;
    stroke-dasharray: 2 4;
}

.goo-chart-point {
    stroke-width: 3px;
    fill: white;
    stroke-linecap: round;
}

.goo-chart-line {
    fill: none;
    stroke-width: 3px;
}

.goo-chart-line-gap {
    fill: none;
    stroke-width: 2px;
    opacity: 0.5;
    stroke-dasharray: 5 5;
}

.goo-chart-area {
    stroke: none;
    fill-opacity: .5;
}

.goo-chart-bar {
    fill: none;
    stroke-width: 10px;
    opacity: 0.5;
}

.chart-serie-prev3m .goo-chart-bar {
    stroke-width: 80px;
}

.goo-chart-slice.goo-chart-donut {
    fill: none;
    stroke-width: 60px;
}




/* SERIES --------------------------------------------------------------- */
.goo-chart-series .goo-chart-bar,
.goo-chart-series .goo-chart-line,
.goo-chart-series .goo-chart-line-gap,
.goo-chart-series .goo-chart-point,
.goo-chart-series .goo-chart-slice.goo-chart-donut {
    stroke: @chart-color;
}

.goo-chart-series .goo-chart-point {
    opacity: 0;
    transition: opacity 0.2s linear;
    &.visible {
        opacity: 1;
    }
}

.chart-container:hover .goo-chart-series .goo-chart-point {
    opacity: 1;
}


.goo-chart-series .goo-chart-area,
.goo-chart-series .goo-chart-slice:not(.goo-chart-donut) {
    fill: @chart-color;
}




// ===== Opciones de Morris que hay que deprecar



.morris-hover.morris-default-style {
    border-radius: 5px;
    color: white;
    background: black;
    border: none;
    font-family: inherit;

    .morris-hover-point {
        color: white !important;
        font-size: 18px;
        padding: 5px 10px;
        font-weight: 500;

        // It needs important because Morris overrides the value with the color pattern
    }
}




#results-rankings-chart-container {
    margin-top: 40px;
    .not-ranked {
        margin: 100px 0;
    }
}
#dashboard-visitors-chart,
#popularity-backlinks-chart {
    padding: 0;
}

.section-chart-container {
    position: relative;
    .selector {
        position: absolute;
        top: -25px;
        right: 12px;
    }
}

.results-chart-container {
    position: relative;
    .selector {
        position: absolute;
        top: -20px;
        right: 12px;
    }
    .results-chart {
        margin-top: 30px;
        padding: 0;
    }
}
