
.label-suggested-common()
{
    font-size: @font-size-smaller;
    font-weight: 500;
    text-transform: uppercase;
    padding: 5px 10px;
    background: @brand-primary-light;
}

.form-group {
    position: relative;
    margin: 0px 0px 15px 0px;

    .help-block {
        position: absolute;
        margin-top: 0px;
        top: -20px;
        right: 4px;

        font-family: @font-family-text;
        font-weight: bold;
        font-size: 11px;

        .fadeInUp(.3s);
    }

    label ~ .help-block {
        top: 2px;
    }

    &.has-error .help-block {
        .icomoon(@icon-warning-content);
    }

    .form-group {
        .fadeInDown(.2s);
        margin: 15px 60px 15px 60px;
    }

    .label-suggested {
        position: absolute;
        bottom: 9px;
        right: 10px;
        .label-suggested-common();
    }

    &.ppc-budget {
        text-align: center;
    }
}


@keyframes barberpole {
    from    { background-position: 0 0; }
    to      { background-position: 60px 30px; }
}

.striped-animation()
{
    background-color: transparent;
    background-size: 30px 30px;
    background-image: linear-gradient(
        -45deg,
        @stripped-animation-color-2   25%,
        @stripped-animation-color-1              25%,
        @stripped-animation-color-1              50%,
        @stripped-animation-color-2   50%,
        @stripped-animation-color-2   75%,
        @stripped-animation-color-1              75%,
        @stripped-animation-color-1
    );
    animation: barberpole 1s linear infinite;
}


.form-control {
    .placeholder(fadeout(black, 80%));

    // Override del transition de Bootstrap para añadir el background
    .transition(~"border-color ease-in-out .15s, box-shadow ease-in-out .15s, background-color ease-in-out .15s");
    padding: 2 @padding-base-horizontal;

    font-size: 16px;
    font-weight: 500;
    line-height: @input-height-base;
    .box-shadow(none);

    // padding: 6px 15px;
    border-width: 2px;

    &:focus {
        .box-shadow(none);
        background-color: lighten(@brand-primary, 35%);
        // .striped-animation();
    }

    .has-error & {
        .box-shadow(none);
        background: @state-danger-bg;
        color: darken(@state-danger-text, 20%);

        &:focus {
            border-color: darken(@state-danger-text, 20%);
            background: @state-danger-bg-focused;
            .box-shadow(none);
        }
    }

    .busy & {
        .striped-animation();
    }
}

.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    background-color: lighten(@gray-light, 6%) !important;
}

.control-label {
    font-size: 15px;
    font-weight: 500;
    font-family: @font-family-base;
    color: @gray-dark;
    display: block;
    text-align: left;
    padding: 0px 0px 0px 2px;
    margin-bottom: 5px;

    .form-inline & {
        margin-bottom: 10px !important;
    }
}

input[type=radio] {
    display: none;

    &:checked + label {
        .icomoon(@icon-circle-check-inverse2-content, @gray-darker, 1.2em);
        &:before {
            .bounceIn();
        }
    }
}

input[type=checkbox] {
    display: none;

    &:checked + label {
        .icomoon(@icon-square-check-inverse2-content, @gray-darker, 1.2em);
        &:before {
            .bounceIn();
        }
    }
}

.radio, .radio-inline {
    label {
        cursor: pointer;
        font-size: 16px;
        font-weight: 500;
        color: @input-color;
        padding: 5px 15px 5px 8px;
        border-radius: 25px;

        .icomoon(@icon-circle-content, @gray-medium, 1.2em);

        &:hover {
            background-color: @input-bg-focused;

            &:before {
                color: @gray-darker;
                content: @icon-circle-check-content;
            }
        }
    }
}

.checkbox, .checkbox-inline {
    label {
        cursor: pointer;
        font-size: 16px;
        font-weight: 500;
        color: @input-color;
        padding: 5px 15px 5px 8px;
        border-radius: 25px;

        .icomoon(@icon-square-content, @gray-medium, 1.2em);

        &:hover {
            background-color: @input-bg-focused;

            &:before {
                color: @gray-darker;
                content: @icon-square-check-content;
            }
        }
    }
}

.radio {
    padding-left: 20px;

    + .radio {
        margin-top: -10px;
    }
}

.checkbox {
    padding-left: 20px;

    + .checkbox {
        margin-top: -10px;
    }
}

.radio-inline, .checkbox-inline {
    padding-left: 0px;
}

td.radio, td.checkbox {
    margin: 0px;
    padding: 0px;

    label {
        font-family: @font-family-base;
        padding-top: 0px;
        padding-bottom: 0px;
    }

    .label-suggested {
        position: absolute;
        bottom: 7px;
        right: 0px;
        max-width: 100px;
        overflow: hidden;
        white-space: nowrap;
        .label-suggested-common();

        // .transition(max-width 0.3s ease-in-out);
    }

    // &:hover .label-suggested {
    //     max-width: 10px;
    // }
}

.bootstrap-tagsinput {
    display: inline-block;
    width: 460px;
    overflow: hidden;
    text-align: left;
    margin: 0px 10px 0px 0px;

    // Estilos para simular un "input" (class .form-control)
    font-size: 16px;
    font-weight: 500;
    box-shadow: none !important;
    min-height: 40px;
    line-height: 1.2;
    color: #333333;
    background-color: @input-bg;
    background-image: none;
    border: 2px solid @input-border;
    .border-radius(@input-border-radius);
    .transition(~"border-color ease-in-out .15s, box-shadow ease-in-out .15s, background-color ease-in-out .15s");

    .focused & {
        border-color: @input-border-focus;
        background-color: @input-bg-focused;

        .tag {
            background: darken(@input-bg-focused, 10%);
        }
    }

    .tag {
        margin: 1px 2px;
        display: inline-block;
        font-size: inherit;
        font-weight: normal;
        padding: 4px 30px 6px 12px;
        position: relative;

        background: @input-tag-bg;
        color: @input-tag-color;
        font-weight: 500;

        a {
            cursor: pointer;
            .icomoon-after(@icon-circle-cross-content);

            // Override for icomoon in the after pseudo-selector
            &:after {
                margin: 0px;
            }

            color: @gray-dark; // @brand-danger;
            position: absolute;
            top: 5px;
            right: 6px;
            font-weight: normal;

            &:hover, &:active {
                color: @brand-danger;
                box-shadow: none !important;

                &:after {
                    content: @icon-circle-cross-inverse-content;
                }
            }
        }
    }
}


.signup {
    .title {
        padding-bottom: 30px;
        h1 {
            font-size: 40px;
        }
    }
    .submit {
        button {
            font-size: 18px;
            margin-bottom: 25px;
        }
    }
}


#competitors {
    .label-not-available {
      position: absolute;
      top: 12px;
      left: 55%;
      z-index: 10;
      color: #3fb6fd;
    }

    input.error {
      border: 1px solid #ff0000;
      background-color: #ffeeee;
    }
}


// PPC Budget Form
.ppc-budget {
    .radio-inline {
        border: 2px solid @gray-light;
        .border-radius(@border-radius-small);
        padding: 20px 20px 10px;

        &:hover {
            border-color: @brand-primary;
            background: @input-bg-focused;
        }
    }
}

.budget-bubble {
    font-family: @font-family-text;
    padding-bottom: 20px;
}

.budget-price, .budget-visits {
    font-family: @font-family-base;
    font-size: 42px;
    font-weight: 100;
    color: #333;
    display: block;
    line-height: 1em;
}


.other-country {
    position: relative;
    input {
        padding-right: 32px;
    }
    a {
        position: absolute;
        top: 14px;
        right: 13px;
        color: red;
        font-weight: bold;
    }
}

.passwordField {
    width: 100%;
    .passwordField__info {
        bottom: -22px !important;
        .passwordField__meter {
            margin-left: 10px !important;
        }
    }
}


.signup-country {
    z-index: 1;
}

.autocomplete-component {
    .autocomplete-input {
        position: relative;
    }
    .autocomplete-matches {
        list-style: none;
        margin: 0 !important;
        padding: 3px 0;
        position: absolute;
        z-index: 1;
        background-color: @white;
        border: 2px solid @gray-light;
        .border-radiuses(0, @border-radius-smaller, @border-radius-smaller, 0);
        border-top: none;
        width: 100%;
        top: 63px;
        max-height: 115px;
        overflow-x: hidden;
        li {
            a {
                display: block;
                width: 100%;
                padding: 6px 13px;
                font-size: @font-size-base;
                font-weight: bold;
                &:hover {
                    background-color: @gray-light;
                }
            }
        }
    }
}
