.panel {
    .panel-heading {
        border-color: @panel-heading-border-color;
    }
    border: none;
    box-shadow: @panel-shadow;
    margin-bottom: 40px;
    position: relative;
}

.panel-footer-switch {
    &:extend(.panel-footer);
    padding: 0px;
    overflow: hidden;
}

.footer-actions {
    padding: @panel-footer-padding;

    .cmn-toggle {
        display: none;
        vertical-align: middle;
    }
}

.panel-signup {
    .panel-heading {
        h2 {
            font-size: 19px;
            padding-top: 8px;
        }
    }
    .panel-body {
        form.signup-form {
            padding: 25px 25px 10px 25px;
            .signup-actions {
                padding-top: 15px;
            }
        }
    }
}
