
.progress {
    background-color: @progressbar-bg;
    border: @progressbar-border;
    display: block;
    height: @progressbar-height;
    margin: 0px;
    padding: 0;
    box-shadow: @progressbar-shadow;
    width: 150px;
    border-radius: @progressbar-radius;
    .progress-bar {
        overflow: visible;
        white-space: nowrap;
        background: @progressbar-fill-color;
        border-radius: @progressbar-radius;
    }
}

.progress-sitemap-top {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    border-radius: 0px;
    border: 0px;
    padding: 0px;
    z-index: @zindex-modal-background;
    background: lighten(@brand-primary, 20%);

    opacity: 0;
    visibility: hidden;
    .transition( ~"opacity .2s linear 0s, visibility 0s linear .2s" );

    .scan-in-progress & {
        opacity: 1;
        visibility: visible;
        .transition-delay(0s);
    }

    .progress-bar {
        border-radius: 0px @border-radius-small @border-radius-small 0px;
    }
}

.navbar-fixed-top , div[role=main-menu] {
    .transition(transform 0.2s linear);
    transform: translateY(0px);

    .scan-in-progress & {
        transform: translateY(20px);
    }
}




// Resetear los valores mínimos que Bootstrap pone en los progress-bar
.progress-bar {
    &[aria-valuenow="0"],
    &[aria-valuenow="1"],
    &[aria-valuenow="2"] {
        min-width: 0px;
    }
}
