.bootstrap-tagsinput {
    display: inline-block;
    width: 460px;
    overflow: hidden;
    text-align: left;
    margin: 0px 10px 0px 0px;

    // Estilos para simular un "input" (class .form-control)
    font-size: 16px;
    font-weight: 500;
    box-shadow: none !important;
    min-height: 40px;
    line-height: 1.2;
    color: #333333;
    background-color: @input-bg;
    background-image: none;
    border: 2px solid @input-border;
    .border-radius(@input-border-radius);
    .transition(~"border-color ease-in-out .15s, box-shadow ease-in-out .15s, background-color ease-in-out .15s");

    .focused & {
        border-color: @input-border-focus;
        background-color: @input-bg-focused;

        .tag {
            background: darken(@input-bg-focused, 10%);
        }
    }

    .tag {
        margin: 1px 2px;
        display: inline-block;
        font-size: inherit;
        font-weight: normal;
        padding: 4px 30px 6px 12px;
        position: relative;

        background: @input-bg-focused;
        color: @gray-darker;
        font-weight: 500;

        a, span[data-role="remove"] {
            cursor: pointer;
            .icomoon-after(@icon-circle-cross-content);

            // Override for icomoon in the after pseudo-selector
            &:after {
                margin: 0px;
            }

            color: @gray-dark; // @brand-danger;
            position: absolute;
            top: 5px;
            right: 6px;
            font-weight: normal;

            &:hover, &:active {
                color: @brand-danger;
                box-shadow: none !important;

                &:after {
                    content: @icon-circle-cross-inverse-content;
                }
            }
        }
    }
}
