.fullcontent-wrapper {
    .suspended {
        text-align: center;

        h1 {
            font-size: 60px;
        }

        p {
            font-family: inherit;
            font-size: 25px;
        }
    }
}