// COLORS

// Generic
@white:                 #ffffff;
@gray-darker:           #293955;    // Fijo. Los demás son "opacity" contra @gray-lighter
@gray-dark:             #59677c;    // fadeout(@gray-darker, 25%)
@gray:                  #8b96a5;    // fadeout(@gray-darker, 50%)
@gray-medium:           #bdc4ce;    // fadeout(@gray-darker, 75%)
@gray-light:            #e2e7ec;    // fadeout(@gray-darker, 90%)
@gray-lighter:          #edf2f5;    // Fijo...

// Body
@body-bg:    @gray-lighter;
@text-color: @gray-dark;

// Brand
@weebly-color: #2990EA;// ???

@background-color:      @gray-lighter;

@brand-primary:         #3fb6fd;
@brand-primary-light:   #d8effd;
@brand-primary-dark:    #0494e8;
@brand-primary-darker:  #0f222e;
@brand-primary-subtle:  fadeout(@brand-primary, 90%);
@brand-danger:          #F73D3D;
@brand-info:            #ffb63e;
@brand-success:         #7ED321;


// Sections
@color-one: @brand-success;     // review, popularity
@color-two: @brand-primary;     // optimize for search, check content
@color-three: #cd68ae;          // social
@color-four: @brand-info;       // mobile
@color-five: #ff9400;           // local

@color-one-dark: darken(@color-one,5%);
@color-two-dark: darken(@color-two,5%);
@color-three-dark: darken(@color-three,5%);
@color-four-dark: darken(@color-four,5%);
@color-five-dark: darken(@color-five,5%);

// Specific headers for some sections
@header-icon-color: fadeout(@brand-primary, 50%);
@results-panel-heading-color: @brand-primary;

// Tables
@table-border-color: @gray-light;
@table-bg-hover: fadeout(@brand-primary, 80%);
@table-bg-active: @gray-lighter;

// Social
@facebook:   #3b5998;
@twitter:    #01aced;
@googleplus: #dd4b39;
@linkedin:   #007bb6;


// FONTS

@font-family-base: 'omnes-pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
@font-family-text: 'Helvetica Neue', Helvetica, Arial, sans-serif;

@font-size-base: 14px;
@font-size-large: 16px;
@font-size-larger: 18px;
@font-size-extra-large: 40px;
@font-size-small: 13px;
@font-size-smaller: 10px;

@font-size-h1: 26px;
@font-size-h2: 22px;
@font-size-h3: 18px;
@font-size-h4: 16px;
@font-size-h5: 14px;

@line-height-base: 1.2;

@headings-font-weight: normal;


// RADIUSES

@border-radius-base:    10px;
@border-radius-large:   20px;
@border-radius-larger:  30px;
@border-radius-small:   8px;
@border-radius-smaller: 3px;


// BUTTONS

/**
 * Genéricos
 * Cambiando el brand-primary cambiarán los botones, pero podemos
 * necesitar distinto color del primary en los botones.
 * Cambiando el btn-main-color y el btn-text-color cambian todos los botones
 * El resto solo habría que tocarlos para detalles específicos del branding.
 *
 * Ejemplo: 123reg
 * Su primary es azul pero sus botones son verdes y en ocasiones rojos
 * @brand-primary:  blue;    ==> primario general
 * @btn-main-color: green;   ==> general para botones
 * @btn-primary-bg: red;     ==> tipo de botón concreto
 */
@btn-main-color:              @brand-primary;
@btn-text-color:              @white;

@btn-padding:                 10px 30px;
@btn-padding-hover:           @btn-padding;

@btn-xs-padding-vertical:     @padding-xs-vertical;
@btn-xs-padding-horizontal:   @padding-xs-horizontal;
@btn-sm-padding-vertical:     5px;
@btn-sm-padding-horizontal:   15px;
@btn-lg-padding-vertical:     @padding-large-vertical;
@btn-lg-padding-horizontal:   @padding-large-horizontal;

@btn-border-radius:           2em;
@btn-xs-border-radius:        @border-radius-small;
@btn-sm-border-radius:        @btn-border-radius;
@btn-lg-border-radius:        @border-radius-larger;

@btn-add-competitor-radius:   @border-radius-base;

@btn-font-size:               @font-size-base;
@btn-font-size-small:         @font-size-small;
@btn-font-size-large:         @font-size-large;

@btn-font-weight:             500;
@btn-font-weight-hover:       @btn-font-weight;

@btn-border-width:             2px;
@btn-border-width-hover:       @btn-border-width;
@btn-border-width-small:       1px;
@btn-border-width-small-hover: @btn-border-width-small;

@btn-text-transform:          uppercase;

// Concretos
@btn-default-color:           @btn-main-color;
@btn-default-color-hover:     @btn-main-color;
@btn-default-bg:              transparent;
@btn-default-bg-hover:        transparent;
@btn-default-border:          fadeout(@btn-main-color, 50%);
@btn-default-border-hover:    @btn-main-color;

@btn-primary-color:           @btn-text-color;
@btn-primary-color-hover:     @btn-text-color;
@btn-primary-bg:              @btn-main-color;
@btn-primary-bg-hover:        lighten(@btn-main-color, 15%);
@btn-primary-border:          @btn-main-color;
@btn-primary-border-hover:    darken(@btn-main-color, 5%);

@btn-success-color:           @btn-text-color;
@btn-success-bg:              @brand-success;
@btn-success-border:          @btn-success-bg;

@btn-link-color:              @btn-main-color;

@padding-large-horizontal:    50px;


// PROGRESS BARS
@progressbar-height:        6px;
@progressbar-border:        none;
@progressbar-bg:            @brand-primary-light;
@progressbar-fill-color:    @brand-primary-dark;
@progressbar-shadow:        none;//inset 0 1px 2px rgba(0, 0, 0, 0.1);
@progressbar-radius:        @border-radius-small;


// FORMS
@input-bg:                  @white;
@input-bg-focused:          lighten(@brand-primary, 35%);
@input-bg-disabled:         lighten(@gray-light, 6%);
@input-color:               @gray-darker;
@input-border:              @gray-light;
@input-border-radius:       @border-radius-smaller;
@input-border-focus:        @brand-primary;
@input-color-placeholder:   @gray;
@input-height-base:         40px;
@input-tag-bg:              @input-bg-focused;
@input-tag-color:           @gray-darker;


// STATE FOR FORMS

@state-danger-text:         @brand-danger;
@state-danger-bg:           lighten(@state-danger-text, 35%);
@state-danger-bg-focused:   darken(@state-danger-bg, 2%);


// SCORE BUBBLE
@score-bubble-bg:            fadeout(@brand-primary, 80%);
@score-bubble-color:         darken(@brand-primary, 20%);


// NAVBAR
/**
 * OJO
 * Hay un nav en la app y otro en el report (el oculto que aparece al
 * hacer scroll)
 * Para brandear esto si son diferente se deben sobrecargar las variables
 * en sus respectivos archivos app.less y reports.less
 */
@navbar-height:                        75px;
@navbar-top-border-height:             4px;

@navbar-default-color:                 @white;
@navbar-default-bg:                    @brand-primary-darker;
@navbar-default-border:                @gray-darker;
@navbar-default-border-top:            4px solid @brand-primary;
@navbar-default-brand-color:           @white;
@navbar-default-brand-hover-color:     @gray-lighter;
@navbar-default-toggle-border-color:   transparent;

@navbar-default-logo-url:              "../img/logo-white.svg";
@navbar-default-logo-size:             100%;
@navbar-default-logo-width:            201px;
@navbar-default-shadow:                none;

@navbar-default-link-color:            @white;
@navbar-default-link-hover-color:      @brand-primary;
@navbar-default-link-hover-bg:         darken(@navbar-default-bg, 5%);
@navbar-default-link-active-bg:        @navbar-default-link-hover-bg;
@navbar-default-link-active-color:     @navbar-default-link-hover-color;
@navbar-default-link-bottom-border:    3px solid transparent;
@navbar-default-link-padding-top:      28px;
@navbar-default-link-padding-bottom:   1px;
@navbar-default-link-span-top-margin:  4px;
@navbar-default-link-span-font-size:   12px;
@navbar-default-link-span-font-weight: 500;
@navbar-default-link-span-font-family: @font-family-base;
@navbar-default-link-span-transform:   uppercase;
@navbar-default-active-color:          @brand-primary; // active element hover and bottom border color
@navbar-default-icon-font-size:        17px;
@navbar-default-label-bg:              @brand-primary;
@navbar-default-label-color:           @white;


//CTAS
@cta-ribbon-height: 25px;


// TOOLTIPS
@tooltip-color:                       @white; // lighten(@brand-primary, 20%);
@tooltip-max-width:                   200px;
@tooltip-bg:                          @brand-primary-darker; // @brand-primary;
@tooltip-arrow-color:                 @tooltip-bg;
@tooltip-arrow-width:                 5px;

// POPOVERS
@popover-max-width:                   340px;
@popover-border-color:                @gray-light;
@popover-fallback-border-color:       @gray-light;
@popover-title-bg:                    @white;
@popover-arrow-width:                 10px;


// MODALS
@modal-padding: 30px;

@modal-inner-padding: 25px;
@modal-title-padding: 10px;

@modal-content-border-color: @gray-light;
@modal-content-fallback-border-color: @gray-light;

@modal-backdrop-bg: fadeout(black, 80%);
@modal-backdrop-opacity: 0.8;
@modal-header-border-color: @gray-light;

@modal-md: 700px;
@modal-sm: 450px;

@zindex-modal-background:  1040;


// RECOCARDS
@card-background-color:     @gray-lighter;
@card-footer-color:         @brand-primary-subtle;
@card-width: 775px;

@card-ribbon-bg:            fadeout(@brand-primary, 80%);
@card-ribbon-color:         darken(@brand-primary, 20%);

@card-extra-bg:             @gray-lighter;//lighten(@brand-primary, 35%);


// ALERTS
@alert-padding: 12px;
@alert-border-radius: @border-radius-small;
@alert-link-font-weight: 500;

@alert-warning-bg:            @brand-primary;
@alert-warning-text:          @white;

@alert-danger-bg:             @brand-danger;
@alert-danger-text:           @white;


// LIST GROUPS
@list-group-bg: @gray-lighter;
@list-group-border: none;
@list-group-hover-bg: @gray-light;


// DROPDOWNS
@dropdown-bg:                @brand-primary;
@dropdown-link-color:        @white;
@dropdown-link-hover-color:  @white;
@dropdown-link-hover-bg:     lighten(@brand-primary, 15%);
@dropdown-link-active-color: @dropdown-link-hover-color;
@dropdown-link-active-bg:    @dropdown-link-hover-bg;

@dropdown-label-bg:          @white;
@dropdown-label-color:       @brand-primary;


@chevron-size: 10px;
@chevron-line-height: @chevron-size / 5;
@chevron-animation-time: .1s;
@chevron-color: fadeout(white, 50%);
@chevron-active-color: @brand-primary;


// PANELS
@panel-bg:                  @white;
@panel-body-padding:        15px;
@panel-heading-padding:     @panel-body-padding;
@panel-heading-border-color:transparent;
@panel-subheading-bg:       @brand-primary-subtle;
@panel-subheading-color:    @brand-primary-dark;
@panel-footer-padding:      20px @panel-body-padding;
@panel-shadow:              0px 0px 25px rgba(0, 0, 0, 0.1);
@panel-border-radius:       @border-radius-smaller;
@subpanel-body-padding:     @panel-body-padding * 2;

@new-panel-footer-bg:       @brand-primary-light;
@panel-score-options-bg:    inherit;

@panel-inner-border:        @gray-light;
@panel-footer-bg:           @white;

@panel-default-border:      @gray-light;
@panel-default-heading-bg:  @white;

@alert-info-bg:             @brand-info;
@alert-info-text:           @white;

@panel-warning-text:        @white;
@panel-warning-heading-bg:  @brand-primary;

@panel-danger-text:         @white;
@panel-danger-heading-bg:   @brand-danger;



// header :after triangle
@triangle-width: 46px;
@triangle-height: 45px;



@wizard-padding-horizontal: 70px;
@wizard-padding-vertical:   50px;

@wizard-heading-height: 100px;
@wizard-body-height: 520px;
@wizard-footer-height: 58px;

@wizard-width: 780px;
// @wizard-height: @wizard-heading-height + @wizard-body-height + @wizard-footer-height;
@wizard-height: 656px;


// KNOBS
@knob-circle-size: 110px;


// SPINNER

@loader-dot-color: @brand-primary;
@loader-dot-size:  40px;
@loader-height: 100px;

// STRIPPED ANIMATION
@stripped-animation-color-1: @white;
@stripped-animation-color-2: @input-bg-focused;

// SWITCH

@switch-size: 25px;


// VEX

@vex-animation-time: 0.3s;
@vex-modal-width: 560px;
@vex-content-padding-x: @modal-inner-padding;
@vex-content-padding-y: @modal-inner-padding;


// CHARTS

@chart-tooltip-background: rgba(0, 0, 0, .8);
@chart-tooltip-arrow-size: 4px;
@chart-color:              @brand-primary;
@chart-links-color:        @chart-color;


// PRINT

@print-link-background: #A0D8FB;



//== Grid system
//
//## Define your custom responsive grid.

//** Number of columns in the grid.
@grid-columns:              12;
//** Padding between columns. Gets divided in half for the left and right.
@grid-gutter-width:         15px;



// Media queries (disabling xs, sm responsive)

//== Media queries breakpoints
//
//## Define the breakpoints at which your layout will change, adapting to different screen sizes.

// Extra small screen / phone
@screen-xs:                 1px;   // Screen phone disabled ; 480px;
@screen-xs-min:             @screen-xs;
@screen-phone:              @screen-xs-min;

// Small screen / tablet
@screen-sm:                 2px;   // Screen tablet disabled ; 768px;
@screen-sm-min:             @screen-sm;
@screen-tablet:             @screen-sm-min;

// Medium screen / desktop
@screen-md:                 3px;
@screen-md-min:             @screen-md;
@screen-desktop:            @screen-md-min;

// Large screen / wide desktop
@screen-lg:                 4px;
@screen-lg-min:             @screen-lg;
@screen-lg-desktop:         @screen-lg-min;

//== Container sizes
//
//## Define the maximum width of `.container` for different screen sizes.

// Small screen / tablet
@container-tablet:             ((720px + @grid-gutter-width));
//** For `@screen-sm-min` and up.
@container-sm:                 @container-tablet;

// Medium screen / desktop
@container-desktop:            ((940px + @grid-gutter-width));
//** For `@screen-md-min` and up.
@container-md:                 @container-desktop;

// Large screen / wide desktop
@container-large-desktop:      ((1200px + @grid-gutter-width));
//** For `@screen-lg-min` and up.
@container-lg:                 @container-large-desktop;
