
body.vex-open {
    overflow: hidden;
}

.vex {
    position: fixed;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    z-index: @zindex-modal;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    *, *:before, *:after {
        box-sizing: border-box;
    }
}

.vex-dialog-form {
    margin: 0;
}

.vex-overlay {
    background: @modal-backdrop-bg;
    animation: fadeIn 0.5s;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.vex.vex-closing .vex-overlay {
    animation: fadeOut 0.5s;
    -webkit-backface-visibility: hidden;
}


// MarketGoo Theme

.vex.vex-theme-goo {
    padding-top: 160px;
    padding-bottom: 160px;

    &.disabled {
        visibility: hidden;
    }

    &.vex-closing {
        .vex-content {
            animation: zoomOut @vex-animation-time;
            -webkit-backface-visibility: hidden;
        }
    }

    .vex-content {
        animation: zoomIn @vex-animation-time;
        -webkit-backface-visibility: hidden;

        border: none;
        background: white;
        border-radius: @border-radius-small;
        .box-shadow(0px 0px 90px rgba(0,0,0,.5));
        padding: @vex-content-padding-y @vex-content-padding-x;

        position: relative;
        margin: 0 auto;
        max-width: 100%;
        width: @vex-modal-width;
    }

    .vex-dialog-message {
        h1 {
            background: transparent; // @card-background-color;
            border-radius: @border-radius-small @border-radius-small 0 0;

            // Ponemos margins negativos para alinear con el borde de la caja.
            margin: -@vex-content-padding-y -@vex-content-padding-x @vex-content-padding-y -@vex-content-padding-x;

            // Y los paddings correspondientes para equilibrar
            padding: @vex-content-padding-y @vex-content-padding-x;

            font-size: 18px;
            font-weight: 500;
        }
    }

    .vex-message-content {
        font-family: @font-family-base;
        font-size: 18px;
        line-height: 24px;
        color: @gray;
        padding: 0px (@vex-content-padding-x * 2);

        p {
            font-family: @font-family-base;
        }

        strong {
            color: @gray-darker;
        }
    }

    .vex-dialog-buttons {
        .clearfix();

        background: transparent; // @card-background-color;
        border-radius:  0 0 @border-radius-small @border-radius-small;
        padding: @vex-content-padding-y @vex-content-padding-x;
        text-align: left;

        // Ponemos margins negativos para alinear con el borde de la caja.
        margin: @vex-content-padding-y -@vex-content-padding-x -@vex-content-padding-y -@vex-content-padding-x;

        .btn {
            float: right;
            margin-left: @vex-content-padding-x;
        }
        .vex-first {
            float: left;
            margin-left: 0px;
        }

        // Cuando hay un sólo botón, se marca tanto como vex-first como vex-last
        .vex-first.vex-last {
            float: right;
        }
    }

    .vex-close {
        .icomoon(@icon-cross-content, @gray, 24px);
        cursor: pointer;
        position: absolute;
        top: @vex-content-padding-y;
        right: @vex-content-padding-x;
        width: 24px;
        height: 24px;

        &:hover:before {
            color: black;
        }
    }

}
