.ola_task {
    --inner: var(--size-8);

    margin: 0;
    background: var(--white);

    &.is-success {
        & .ola_task-status {
            fill: var(--success);
        }
    }
    &.is-error {
        & .ola_task-status {
            fill: var(--error);
        }
    }
    &.is-warning {
        & .ola_task-status {
            fill: var(--warning);
        }
    }
    &.is-suggested {
        & .ola_task-status {
            fill: var(--gray);
        }
    }

    & .ola_task-title {
            flex: 1 1 auto;
            @media (--to-width-1) {
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
            }
    }

    & .ola_task-extra {
        margin-left: var(--size-6);
    }

    &[open] {
        --inner: calc(var(--size-8) + var(--size-4));

        position: relative;
        z-index: 2;
        box-shadow: var(--shadow-2);
        margin-left: calc(var(--size-4) * -1);
        margin-right: calc(var(--size-4) * -1);
        border-radius: var(--radius);
        padding-top: var(--size-4);
        margin-top: calc(var(--size-4) * -1);
        margin-top: var(--size-4);

        & .ola_task-content {
            animation: task-open 200ms;
            animation-fill-mode: both;
            margin-left: var(--size-8);
        }

        & .ola_task-icon {
            display: block;
        }

        & .ola_task-summary {
            color: inherit;

            &:focus-visible {
                box-shadow: none;
            }
            &:hover {
                background: none;
            }
        }

 
        & .ola_task-extra {
            display: none;
        }

        & .ola_task-title {
            @media (--to-width-1) {
                text-overflow: initial;
                overflow: auto;
                white-space: initial;
                padding-right: 0;
            }
        }

        @media (--to-width-2) {
            margin-left: 0;
            margin-right: 0;
        }
    }

}
.ola_task-header {
    font: var(--font-body);
    list-style: none;
    display: flex;
    align-items: center;
    padding: 0 var(--inner);
    cursor: default;
    position: relative;
    z-index: 1;
    min-height: 52px;

    @media (--to-width-2) {
        padding: 0 var(--size-6);
    }
}

.ola_task-summary {
    color: var(--black);
    cursor: pointer;
    transition: background-color var(--duration);
    outline: 0;
    list-style: none;

    &::-webkit-details-marker {
        display: none;
    }

    &:hover {
        color: var(--brand-dark);
        background-color: var(--gray-xlight);
    }

    &:focus {
        position: relative;
        z-index: 2;
        box-shadow: 0 0 0 4px var(--brand-focus);
    }
}
.ola_task-status {
    flex: 0 0 auto;
    margin-right: var(--size-5);
}
.ola_task-icon {
    flex: 0 0 auto;
    margin-left: auto;
    margin-right: calc(var(--size-7) * -1);
    display: none;
    color: var(--gray);

    @media (--to-width-2) {
        margin-right: 0;
    }
}
.ola_task-body {
    padding: var(--size-4) var(--inner) var(--size-8);
    font: var(--font-callout);
    color: var(--gray);

    & p,
    & li,
    & ul {
        margin: 0;
        font: inherit;
        color: inherit;
    }

    & li + li,
    & p + p,
    & p + ul {
        margin-top: 0.8em;
    }

    & strong {
        color: var(--black);
    }

    & ul {
        margin-left: 0;
        padding-left: 0;
    }

    & li {
        list-style: none;
        position: relative;
        padding-left: var(--size-7);

        &::before {
            content: "";
            position: absolute;
            left: 0;
            top: .4em;
            width: var(--size-3);
            height: var(--size-3);
            background: var(--gray-light);
            border-radius: 50%;
        }
    }

    @media (--to-width-1) {
        padding-left: var(--size-6);
        padding-right: var(--size-6);
    }
}
.ola_task-footer {
    padding: 0 var(--inner) var(--size-8);

    @media (--to-width-1) {
        padding-left: var(--size-6);
        padding-right: var(--size-6);
    }
}

.ola_task-info {
    padding: 0 var(--inner) var(--size-8);
    font: var(--font-caption);
    color: var(--gray);
    display: flex;
    flex-wrap: wrap;

    & > * {
        margin: 0;
        margin-right: var(--size-7);
    }

    & strong {
        color: var(--black);
    }

    @media (--to-width-1) {
        padding-left: var(--size-6);
        padding-right: var(--size-6);
    }
}



@keyframes task-open {
    from {
        opacity: 0;
        transform: translateY(-28px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
