.ola_task {
    margin: 0;
    background: var(--white);

    &.is-success {
        & .ola_task-status {
            fill: var(--success);
        }
    }
    &.is-error {
        & .ola_task-status {
            fill: var(--error);
        }
    }
    &.is-warning {
        & .ola_task-status {
            fill: var(--warning);
        }
    }
    &.is-suggested {
        & .ola_task-status {
            fill: var(--gray);
        }
    }

    & .ola_task-title {
        flex: 1 1 auto;
    }

    & .ola_task-extra {
        margin-left: var(--size-6);
        @media (--to-width-1) {
            display: none;
        }
    }

    &[open] {
        position: relative;
        z-index: 2;
        box-shadow: var(--shadow-2), var(--shadow-line);
        margin-left: calc(var(--size-4) * -1);
        margin-right: calc(var(--size-4) * -1);
        border-radius: var(--radius);
        padding-top: var(--size-4);
        margin-top: calc(var(--size-4) * -1);
        margin-top: var(--size-4);

        & .ola_task-content {
            animation: task-open 200ms;
            animation-fill-mode: both;
            padding-left: calc(var(--column-xpadding) + var(--size-8));
            padding-right: calc(var(--column-xpadding));
        }

        & .ola_task-icon {
            display: block;
        }

        & .ola_task-summary {
            color: inherit;

            &:focus-visible {
                box-shadow: none;
            }
            &:hover {
                background: none;
            }
        }


        & .ola_task-extra {
            display: none;
        }

        @media (--to-width-2) {
            margin-left: 0;
            margin-right: 0;
        }
    }

}
.ola_task-header {
    font: var(--font-body);
    list-style: none;
    display: flex;
    align-items: center;
    padding: 0 var(--column-xpadding);
    cursor: default;
    position: relative;
    z-index: 1;
    min-height: 52px;

    @media (--to-width-2) {
        padding: 0 var(--size-6);
    }
}

.ola_task-summary {
    color: var(--black);
    cursor: pointer;
    transition: background-color var(--duration);
    outline: 0;
    list-style: none;

    &::-webkit-details-marker {
        display: none;
    }

    &:hover {
        color: var(--brand-dark);
        background-color: var(--gray-xlight);
    }

    &:focus {
        position: relative;
        z-index: 2;
        box-shadow: 0 0 0 4px var(--brand-focus);
    }
}
.ola_task-status {
    flex: 0 0 auto;
    margin-right: var(--size-5);
}
.ola_task-icon {
    flex: 0 0 auto;
    margin-left: auto;
    margin-right: calc(var(--size-7) * -1);
    display: none;
    color: var(--gray);

    @media (--to-width-2) {
        margin-right: 0;
    }
}
.ola_task-body {
    padding: var(--row-gap) 0;
    font: var(--font-callout);
    color: var(--gray);

    & p,
    & li,
    & ul,
    & ol {
        margin: 0;
        font: inherit;
        color: inherit;
    }

    & h3 {
      font: var(--font-body);
      color: var(--black);
      margin: var(--size-7) 0 var(--size-3);
    }

    & li + li,
    & :matches(p, ul, ol) + :matches(p, ul, ol) {
        margin-top: 0.8em;
    }

    & strong {
        color: var(--black);
    }

    & ol {
        margin-left: 0;
        padding-left: var(--size-7);

        & li::marker {
            font: var(--font-callout);
            font-weight: var(--bold);
            color: var(--gray-light);
        }
    }

    & ul {
        margin-left: 0;
        padding-left: 0;

        & li {
            list-style: none;
            position: relative;
            padding-left: var(--size-7);

            &::before {
                content: "";
                position: absolute;
                left: 0;
                top: .4em;
                width: var(--size-3);
                height: var(--size-3);
                background: var(--gray-light);
                border-radius: 50%;
            }
        }
    }

    @media (--to-width-1) {
        padding-left: var(--size-6);
        padding-right: var(--size-6);
    }
}
.ola_task-footer {
    padding: var(--row-gap) 0 var(--row-xpadding);
}

.ola_task-info {
    padding: 0 0 var(--row-xgap);
    font: var(--font-caption);
    color: var(--gray);
    display: flex;
    flex-wrap: wrap;

    & > * {
        margin: 0;
        margin-right: var(--size-7);
    }

    & strong {
        color: var(--black);
    }

    @media (--to-width-1) {
        padding-left: var(--size-6);
        padding-right: var(--size-6);
    }
}

@keyframes task-open {
    from {
        opacity: 0;
        transform: translateY(-28px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
