.ola_checkArea {
    display: flex;
    box-sizing: border-box;
    min-height: var(--size-7);
    margin: var(--size-2) 0;
    padding: var(--size-2);

    &.is-row {
        flex-direction: column;

        & > .ola_check + .ola_check {
            margin-top: var(--size-4);
        }
    }

    &.is-column {
        flex-direction: row;
        max-width: 100%;
        overflow-x: auto;
        position: relative;
        -webkit-overflow-scrolling: touch;
        text-align: center;

        & > .ola_check {
            max-width: 200px;
            flex: 0 0 100%;
            display: flex;
        }
        & > .ola_check + .ola_check {
            margin-left: var(--size-4);
        }
        & .ola_check-label {
            position: relative;
            padding: var(--size-7) var(--size-7) var(--size-5);
            flex: 1 1 auto;

            &::before {
                position: absolute;
                top: var(--size-3);
                left: var(--size-3);
            }
        }
    }

    & .ola_check {
        display: block;
        padding: 0;
    }

    & .ola_check-label {
        background: var(--white);
        border-radius: var(--radius-small);
        border: solid 2px var(--gray-light);
        padding: var(--size-4);
        transition: background-color 200ms;
    }

    & .ola_check-label:hover {
        border-color: var(--brand-dark);
    }

    & .ola_check-input:checked ~ .ola_check-label {
        border-color: var(--brand);
    }

    & .ola_check-input:focus ~ .ola_check-label {
        box-shadow: 0 0 0 4px var(--brand-focus);
    }
}
.ola_checkArea-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;

    & img {
        max-width: 100%;
        display: block;
        filter: grayscale(1);
        opacity: .7;
    }
}

.ola_check-input:checked ~ .ola_check-label .ola_checkArea-content img,
.ola_check-label:hover .ola_checkArea-content img {
    filter: none;
    opacity: 1;
}