.ola_button_icon {
  --color: var(--base-color);
  --background: transparent;
  --background-hover: var(--color-neutral-100a);

  display: inline-flex;
  min-height: var(--size-4);
  min-width: var(--size-4);
  align-items: center;
  justify-content: center;
  background-color: var(--background);
  color: var(--color);
  border: none;
  cursor: pointer;
  padding: 0;
  outline: 0;
  vertical-align: middle;
  border-radius: 50%;
  transition: all var(--duration) ease-out;

  &::-moz-focus-inner {
    border: 0;
  }

  & > svg {
    fill: var(--color);
    height: 18px;
    width: 18px;
  }

  &:focus-visible,
  &:focus {
    box-shadow: var(--shadow-focus);
  }

  &:hover:not(:disabled) {
    background-color: var(--background-hover);
  }

  &.is-invert {
    --color: var(--color-white);
    --busy-color: var(--color-white);
  }

  &.is-disabled {
    --color: var(--disabled-color);
  }

  &.is-busy {
    --color: var(--busy-color);
  }

  &.is-disabled,
  &.is-busy {
    cursor: default;
  }
}

