.ola_buttonIcon {
    --color: currentColor;
    --background: transparent;
    --color-hover: var(--black);
    --background-hover: var(--gray-xlight);
    --shadow-focus: var(--accent-focus);
    --background-active: var(--gray-light);

    display: inline-block;
    min-height: var(--size-6);
    min-width: var(--size-6);
    background: none;
    background-color: var(--background);
    color: var(--color);
    border: none;
    cursor: pointer;
    padding: 0;
    border-radius: 50%;
    outline: 0;

    &::-moz-focus-inner {
        border: 0;
    }

    &:focus {
        box-shadow: 0 0 0 4px var(--shadow-focus);
    }

    &:hover {
        color: var(--color-hover);
        background-color: var(--background-hover);
    }

    &:active {
        background: var(--background-active);
    }

    & > svg {
        display: block;
    }

    & .ola_icon.is-medium {
        padding: var(--size-3);
    }
}

