.ola_tooltip {
    --pointer: var(--size-1);
    --width: var(--size-14);

    display: inline-block;
    position: relative;
    white-space: initial;
    text-align: left;

    &.is-wide {
        @media (--from-width-1) {
            --width: var(--size-16);
        }
    }
}
.ola_tooltip-trigger {
    list-style: none;
    outline: 0;
    &::-webkit-details-marker {
        display: none;
    }

    & .ola_button {
        display: flex;
    }
}
.ola_tooltip-content {
    will-change: opacity, transform;
    position: absolute;
    filter: drop-shadow(var(--shadow-2)) drop-shadow(var(--shadow-line));
    background: var(--color-white-100);
    border-radius: var(--radius);
    padding: var(--size-3);
    width: var(--width);
    box-sizing: border-box;
    z-index: 5;
    font: var(--font-0-regular);
    color: var(--color-neutral-900);
    display: none;

    &::before {
        content: "";
        display: block;
        position: absolute;
        width: 0;
        height: 0;
        border-style: solid;
    }

    &.is-bottomright,
    &.is-bottomright-extra,
    &.is-bottomcenter,
    &.is-bottomcenter-extra,
    &.is-bottomleft,
    &.is-bottomleft-extra {
        margin-top: calc(var(--pointer) / 2);

        &::before {
            top: calc(var(--pointer) * -1);
        }
    }

    &.is-topright,
    &.is-topright-extra,
    &.is-topcenter,
    &.is-topcenter-extra,
    &.is-topleft,
    &.is-topleft-extra {
        bottom: 100%;
        margin-bottom: calc(var(--pointer) / 2);

        &::before {
            bottom: calc(var(--pointer) * -1);
        }
    }

    &.is-topright-extra,
    &.is-bottomright-extra {
        left: 50%;

        &::before {
            left: 0;
        }
    }

    &.is-topright,
    &.is-bottomright {
        left: calc(50% - var(--pointer) * 4);

        &::before {
            left: calc(var(--pointer) * 3);
        }
    }

    &.is-topcenter,
    &.is-bottomcenter,
    &.is-topcenter-extra,
    &.is-bottomcenter-extra {
        left: calc(50% - var(--width) / 2);

        &::before {
            right: calc(50% - var(--pointer));
        }
    }

    &.is-topcenter-extra,
    &.is-bottomcenter-extra {
        max-width: 90vh;
    }

    &.is-topleft,
    &.is-bottomleft {
        right: calc(50% - var(--pointer) * 4);

        &::before {
            right: calc(var(--pointer) * 3);
        }
    }
    &.is-topleft-extra,
    &.is-bottomleft-extra {
        right: 50%;

        &::before {
            right: 0;
        }
    }

    &.is-topright-extra {
        border-bottom-left-radius: 0;

        &::before {
            border-width: var(--pointer) var(--pointer) 0 0;
            border-color: white transparent transparent transparent;
        }
    }
    &.is-bottomright-extra {
        border-top-left-radius: 0;

        &::before {
            border-width: var(--pointer) 0 0 var(--pointer);
            border-color: transparent transparent transparent white;
        }
    }
    &.is-topleft-extra {
        border-bottom-right-radius: 0;

        &::before {
            border-width: 0 var(--pointer) var(--pointer) 0;
            border-color: transparent white transparent transparent;
        }
    }
    &.is-bottomleft-extra {
        border-top-right-radius: 0;

        &::before {
            border-width: 0 0 var(--pointer) var(--pointer);
            border-color: transparent transparent white transparent;
        }
    }
    &.is-topleft,
    &.is-topcenter,
    &.is-topcenter-extra,
    &.is-topright {
        &::before {
            border-width: var(--pointer) var(--pointer) 0 var(--pointer);
            border-color: white transparent transparent transparent;
        }
    }
    &.is-bottomleft,
    &.is-bottomcenter,
    &.is-bottomcenter-extra,
    &.is-bottomright {
        &::before {
            border-width: 0 var(--pointer) var(--pointer) var(--pointer);
            border-color: transparent transparent white transparent;
        }
    }
}

.ola_tooltip[open] {
    & .ola_tooltip-trigger .ola_buttonIcon svg,
    & .ola_tooltip-trigger .ola_button {
        color: var(--color-hover);
        background-color: var(--background-hover);
    }
    & .ola_tooltip-content {
        &.is-bottomright,
        &.is-bottomright-extra,
        &.is-bottomcenter,
        &.is-bottomcenter-extra,
        &.is-bottomleft,
        &.is-bottomleft-extra,
        &.is-topright,
        &.is-topright-extra,
        &.is-topcenter,
        &.is-topcenter-extra,
        &.is-topleft,
        &.is-topleft-extra {
            display: block;
            animation: tooltip-show 200ms;
            animation-fill-mode: both;
        }
    }
}

@keyframes tooltip-show {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
