.ola_panel {
    background: var(--white);
    border-radius: var(--radius);
    box-shadow: var(--shadow-1), var(--shadow-line);
    padding-top: 0.1px;
    padding-bottom: 0.1px;

    & > .ola_panel-header {
        padding: var(--row-gap-3) var(--column-gap-3) 0;
    }

    & > *:first-child {
        border-top-left-radius: var(--radius);
        border-top-right-radius: var(--radius);
        margin-top: 0;
    }
    & > *:last-child {
        border-bottom-left-radius: var(--radius);
        border-bottom-right-radius: var(--radius);
    }
}
.ola_panel-header {
    display: grid;

    &.has-extra {
        grid-column-gap: var(--column-gap-2);
        grid-template-areas: "title" "intro" "extra";

        @media (--from-width-2) {
            grid-template-areas: "title extra" "intro extra";
            grid-template-columns: 1fr auto;
        }

        & .ola_panel-title,
        & .ola_panel-display {
            grid-area: title;
        }
        & .ola_panel-intro {
            grid-area: intro;
        }
        & .ola_panel-extra {
            grid-area: extra;
        }
    }
}
.ola_panel-title {
    margin: 0;
    font: var(--font-headline);
    font-weight: var(--regular);
}
.ola_panel-display {
    margin: 0 0 var(--size-4) 0;
    font: var(--font-title);
}
.ola_panel-intro {
    margin-top: var(--size-3);
    font: var(--font-callout);
    color: var(--gray);
}
.ola_panel-extra {

    @media (--from-width-2) {
        max-width: var(--size-11);
    }
}

.ola_panel-subtitle {
    padding: var(--size-3) var(--column-gap-3);
    margin: var(--row-gap-1) 0 0;
    background-color: var(--gray-xlight);
    font: var(--font-body);
    font-weight: var(--regular);
}

.ola_panel-content {
    --background: var(--white);

    margin: var(--row-gap-2) 0;
    padding: 0 var(--column-gap-3);
    background: var(--background);

    &.is-fullwidth {
        padding-left: 0;
        padding-right: 0;
    }

    &.is-highlight {
        --background: var(--gray-xlight);

        margin-top: 0;
        margin-bottom: 0;
        padding-top: var(--row-gap-2);
        padding-bottom: var(--row-gap-2);
    }
}

.ola_panel-footer {
    background: var(--gray-xlight);
    border-radius: 0 0 var(--radius) var(--radius);
    padding: var(--row-gap-1) var(--column-gap-3);

    @media (--from-width-1) {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }

    @media (--from-width-2) {
        flex-wrap: nowrap;
    }

    & > .is-reversed {
        margin-left: auto;
    }
    & > .is-center {
        flex: 1 1 auto;
    }
}
