.ola_panel {
    background: var(--white);
    border-radius: var(--radius);
    box-shadow: var(--shadow-1), var(--shadow-line);
    padding-top: 0.1px;
    padding-bottom: 0.1px;

    & > .ola_panel-header {
        padding: var(--inner-gap) var(--inner-gap) 0;
    }

    & > *:first-child {
        border-top-left-radius: var(--radius);
        border-top-right-radius: var(--radius);
        margin-top: 0;
    }
    & > *:last-child {
        border-bottom-left-radius: var(--radius);
        border-bottom-right-radius: var(--radius);
    }
}
.ola_panel-header {
    display: grid;
    grid-template-areas: "title" "intro";
    grid-column-gap: var(--inner-gap);

    &.has-extra {
        grid-template-areas: "title" "intro" "extra";

        @media (--from-width-2) {
            grid-template-areas: "title extra" "intro extra";
            grid-template-columns: 1fr auto;
        }
    }
}
.ola_panel-title {
    grid-area: title;
    margin: 0;
    font: var(--font-headline);
    font-weight: var(--regular);
}
.ola_panel-display {
    grid-area: title;
    margin: 0 0 var(--size-4) 0;
    font: var(--font-title);
}
.ola_panel-intro {
    grid-area: intro;
    margin-top: var(--size-3);
    font: var(--font-callout);
    color: var(--gray);
}
.ola_panel-extra {
    grid-area: extra;

    @media (--from-width-2) {
        max-width: var(--size-11);
    }
}

.ola_panel-subtitle {
    padding: var(--size-3) var(--inner-gap);
    margin: var(--size-7) 0 0;
    background-color: var(--gray-xlight);
    font: var(--font-body);
    font-weight: var(--regular);
}

.ola_panel-content {
    margin: var(--size-8) 0;
    padding: 0 var(--inner-gap);

    &.is-fullwidth {
        padding-left: 0;
        padding-right: 0;
    }

    &.is-highlight {
        background-color: var(--gray-xlight);
        margin-top: 0;
        margin-bottom: 0;
        padding-top: var(--size-8);
        padding-bottom: var(--size-8);
    }
}
.ola_panel-subtitle + .ola_panel-content {
    margin-top: var(--size-7);

    &.is-highlight {
        margin-top: 0;
        padding-top: var(--size-7);
    }
}

.ola_panel-footer {
    background: var(--gray-xlight);
    border-radius: 0 0 var(--radius) var(--radius);
    padding: var(--inner-gap);

    @media (--from-width-1) {
        padding-top: var(--size-3);
        padding-bottom: var(--size-3);
    }
}
