.ola_checkGroup {

    --border: var(--gray-light);
    box-sizing: border-box;
    min-height: var(--size-7);
    margin: var(--size-2) 0;

    &.is-row {
        display: flex;
        flex-direction: column;
        padding: var(--size-2);
        margin-left: calc(var(--size-2) * -1);

        & > * + * {
            margin-top: var(--size-4);
        }
    }

    &.is-column {
        display: flex;
        flex-direction: row;
        max-width: 100%;
        overflow-x: auto;
        position: relative;
        -webkit-overflow-scrolling: touch;
        text-align: center;
        padding: var(--size-2);
        margin-left: calc(var(--size-2) * -1);

        & > * {
            width: 200px;
            flex: 0 0 auto;
        }
        & > .ola_check {
            display: flex;
        }
        & > * + * {
            margin-left: var(--size-4);
        }
        & > .ola_check.is-area .ola_check-label {
            display: block;
            position: relative;
            padding-top: var(--size-7);
            flex: 1 1 auto;

            &::before {
                position: absolute;
                top: var(--size-3);
                left: var(--size-3);
            }
        }
    }

    &.is-list {
        display: block;
        box-sizing: border-box;
        max-height: var(--size-11);
        width: 100%;
        border: solid 2px var(--border);
        background: var(--white);
        border-radius: var(--radius-small);
        overflow-y: auto;
        position: relative;
    }

    &:invalid,
    &.is-invalid {
        --border: var(--error);
        &:hover {
            --border: var(--error-dark);
        }
    }
}
