
.make-chevron()
{
    background-color: @chevron-color;
    border-radius: @chevron-line-height / 2;
    width: @chevron-size;
    height: @chevron-line-height;
}

.chevron-animation-setup()
{
    // Animations setup. Startup states.
    transition-duration: @chevron-animation-time; // 0s;
    transition-delay: @chevron-animation-time;

    &:before, &:after {
        transition-property: margin, transform, background-color;
        transition-duration: @chevron-animation-time;
        transition-delay: @chevron-animation-time, 0, @chevron-animation-time;
    }
}

.chevron-animation-end()
{
    // End states for the animation.
    background-color: rgba(0, 0, 0, 0.0);
    transition-delay: @chevron-animation-time;

    &:before, &:after {
        background-color: @chevron-active-color;
        margin-top: 0;
        transition-delay: 0, @chevron-animation-time, @chevron-animation-time;
    }

    &:before {
        transform: rotate(45deg);
    }

    &:after {
        transform: rotate(-45deg);
    }
}

.dropdown-toggle {

    .caret {
        margin: 0px 0px 0px 6px;
        position: relative;
        top: -4px;

        display: inline-block;
        .make-chevron();

        &:before, &:after {
            position: absolute;
            content: '';
            display: block;
            .make-chevron();
        }

        &:before {
            margin-top: -(@chevron-size / 2 - @chevron-line-height/2);
        }

        &:after {
            margin-top: @chevron-size / 2 - @chevron-line-height/2;
        }

        .chevron-animation-setup();
    }

    &:hover .caret {
        background-color: @chevron-active-color;
        &:before, &:after {
            background-color: @chevron-active-color;
        }
    }

    .open & .caret {
        .chevron-animation-end();
    }

}

.dropdown {
    .dropdown-menu {
        padding: 0px 0px 5px;
        right: 0;
        left: auto;

        > li > a {
            font-size: 18px;
            font-weight: normal;
            padding: 10px 20px 10px;

            p {
                font-size: @font-size-smaller;
                font-weight: normal;
                color: @gray;
            }

            .label-product {
                background-color: @dropdown-label-bg;
                color: @dropdown-label-color;
            }

            &:hover{
                p {color: @dropdown-link-hover-color;}
            }
        }
    }
}

.dropdown-actions {
    width: 500px;
    border: 0px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    display: block;
    opacity: 0.1;
    visibility: hidden;
    transform: scale3d(1, .9, 1) translate3d(0, -20px, 0);
    transform-origin: center top;
    background-color: @gray-lighter;

    .transition( ~"opacity .2s linear 0s, visibility 0s linear .2s, transform .2s ease-out 0s" );

    .open & {
        opacity: 1;
        visibility: visible;
        .transition-delay(0s);
        transform: scale3d(1, 1, 1) translate3d(0, 0, 0);
    }

    .dropdown-header {
        padding: 10px 15px 15px 15px;
        border-bottom: 1px solid @gray-light;

        h2 {
            margin: -5px 0px 0px 0px;
            font-size: 18px;
            font-weight: 500;
        }

        input.search {
            margin-top: 15px;
            width: 100%;
        }
    }

    .dropdown-body {
        .list-group {
            margin: 0px;
        }
    }

    .dropdown-sitemap {
        max-height: 30vh;
        overflow: auto;
    }

    .page-title, .page-url {
        .ellipsis();
    }

    .page-title {
        font-family: @font-family-text;
    }

    .page-url {
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5em;
        color: @gray-darker;
    }

    .label-selected {
        display: block;
        float: right;
        font-size: @font-size-large;
        padding: 10px 0px;
        background: transparent;
        color: @brand-success;
        .icomoon(@icon-circle-check-inverse2-content);
    }

    .keyword {
        font-size: 16px;
        font-weight: normal;
        color: @gray-darker;
        .ellipsis();
    }

    .highlight {
        background-color: lighten(@brand-primary, 20%);
        border-radius: 3px;
    }

    .list-group-item {
        cursor: pointer;

        &:hover {
            background-color: @brand-primary;
            color: @white;

            .page-title, .page-url {
                color: @white;
            }

            .keyword {
                color: @white;
            }
        }

        &.sitemap-page {
            border-radius: 0px;
        }
    }

    .dropdown-footer {
        padding: 15px 15px 10px 15px;
        border-top: 1px solid @gray-light;

        p {
            margin: 0px;
        }
    }

}
