.kpi-container {
    .make-md-column(4);
    min-height: 150px;
    position: relative;

    &:hover {
        .kpi-value {
            &.updown {
                transform: translate3d(0px, -10px, 0px);
            }
        }
    }

    &.selectable {
        cursor: pointer;
        #popover-kpi {
            cursor: default;
        }
    }
}

.new-panel-row-header {
    .kpi-container {
        .make-md-column(12);
    }
}


.kpi-description {
    color: @gray;
    position: absolute;
    top: 0px;

    // En lugar de darle un width, posicionamos el bloque de kpi-description
    // según la parte de "gutter" que le correspondería por ser parte de un
    // elemento "make-md-column"
    left: @grid-gutter-width / 2;
    right: @grid-gutter-width / 2;

    h5 {
        font-weight: 500;
        margin: 0px 0px 0px 0px;
    }

    p {
        color: @gray;
        min-height: 27px;
        font-size: @font-size-small;
    }
}

.kpi-value {
    font-size: 50px;
    margin-top: 60px;
    transition: transform .2s;

    span {
        font-size: @font-size-large;
    }

    &.pass {
        color: @brand-success;
    }

    &.nopass {
        color: @brand-danger;
    }

    &.warning {
        color: @brand-warning;
    }

    &.waiting {
        color: @gray-lighter;
        font-size: 45px;
        margin-top: 65px;
    }

    .more-info-container {
        display: flex;
    }
}

.pass .kpi-value {
    color: @brand-success;
}

.nopass .kpi-value {
    color: @brand-danger;
}

// Personalización para KPIs en la sección de Mobile

.mobile-kpis {
    .kpi-value {
        margin-top: 0px;
        .more-info-container {
            display: flex;
            justify-content: center;
        }
    }
}

.thumb-device {
    float: left;
    margin-right: 20px;
}

// Los kpi-descriptions, al ser posicionados de forma absoluta hay que
// "salvar" la distancia moviéndolos convenientemente
.thumb-device-iphone + .kpi-description {
    left: 104px;
}

.thumb-device-ipad + .kpi-description {
    left: 180px;
}

.kpi-more-info {
    .fadeInUpSmooth(0.3s);
    padding: 4px 15px;
    span {
        font-size: @font-size-smaller;
    }

    &.pass {
        background-color: fadeout(@brand-success, 80%);
        color: darken(@brand-success, 5%);
    }

    &.nopass {
        background-color: fadeout(@brand-danger, 80%);
        color: darken(@brand-danger, 5%);
    }
}

#section-mobile {
    .kpi-more-info {
        &.center{
            text-align: center;
        }
    }
}

.more-info {
    color: @brand-danger;
    font-size: @font-size-smaller;
    font-weight: 500;
}

.related-tasks {
    color: @gray-dark;
    font-size: 13px;
    font-family: @font-family-text;
    font-weight: 500;
    margin-top: 20px;
    padding-top: 15px;
    margin-bottom: 10px;
    border-top: 1px solid @gray-lighter;
}

.kpi-task-description{
    &.nopass {
        .icomoon(@icon-circle-cross-content, @brand-danger, 20px);
        cursor: pointer;
        &:hover {
            background-color: lighten(@gray, 37%);
            border-radius: 8px;
            span {
                color: @gray-darker;
            }
        }
    }

    &.pass {
        .icomoon(@icon-circle-check-content, @brand-success, 20px);
    }

    &.dismiss {
        .icomoon(@icon-warning-content, @brand-warning , 20px);
    }

    color: @gray;
    padding: 8px 5px 8px 5px;
    display: flex;
    align-items: center;
    justify-content: start;

    span {
        font-size: 13px;
    }
}

#popover-kpi {
    min-width: 400px;
    .fadeInUpSmooth(0.3s);

    .popover-title {
        .popover-title();
        color: @gray-darker;
    }

    .popover-content {
        .loader {
            height: 38px;
        }
        .close-handle {
            .icomoon(@icon-cross-content, @gray, 18px);
            z-index: 1;
            cursor: pointer;
            position: absolute;
            top: 15px;
            right: 14px;
            width: 18px;
            height: 18px;
            line-height: 18px;
            opacity: 0.5;
            transition: opacity .5s;

            &:hover {
                opacity: 1;
            }
        }
    }
}
