#section-mobile {

    .new-panel-row .new-panel-row-header .kpi-container {
        .make-md-column(12);
    }

    .kpi-container {
        .make-md-column(6);
        min-height: 145px;
    }

    .new-panel-row-body {
        // display: flex;

        // .kpi-container {
        //     width: 50%;
        //     display: flex;
        //
        //     // .thumb_info {
        //     //     padding: 20px 0px 0px 10px;
        //     //     width: 160px;
        //     //     p {
        //     //         height: 46px;
        //     //     }
        //     // }
        // }
    }

    .kpi-description {
        height: auto;

        .thumb-device {
            float: left;
            margin-right: 20px;
            position: relative;
            top: -10px;
        }
    }


    .mobile-kpis {
        .kpi-container {
            .make-md-column(6);
            min-height: 90px;
            .kpi-description {
                .make-md-column(6);
            }
            .kpi-value {
                .make-md-column(6);
                text-align: center;
                transition: transform .2s;
                &.waiting {
                    margin-top: 5px;
                }
            }
        }
    }
}
