

.ReactModalPortal {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1050;

    .modal-overlay {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.3);
        min-height: 100vh;
        height: 100%;

        // .panel-modal {
        //     .make-md-column-offset(2);
        //     .make-md-column(8);
        //     .border-radius(@border-radius-smaller);
        //     padding: 0;
        //     margin-top: 100px;
        //
        //     .panel-heading {
        //         .border-radiuses(@border-radius-smaller, 0, 0, @border-radius-smaller);
        //         background: @brand-primary;
        //         padding: @modal-padding;
        //         h1 {
        //             color: white;
        //             text-align: center;
        //         }
        //     }
        //
        //     .panel-body {
        //         position: relative;
        //         padding: @modal-padding;
        //         h2 {
        //             font-size: @font-size-larger;
        //             font-weight: 400;
        //             margin: 0px 0px 10px;
        //             color: #444;
        //         }
        //     }
        //
        //     .panel-footer {
        //         .border-radiuses(0, @border-radius-smaller, @border-radius-smaller, 0);
        //         padding: @modal-padding/2;
        //         button {
        //
        //         }
        //     }
        // }
    }
}

.ReactModal__Body--open {
    overflow-x: auto;
    overflow-y: hidden;
}

.ReactModalPortal .modal-overlay {
    position: fixed;
    overflow-y: auto;
}

.ReactModal__Content--after-open{
    .zoomIn();
}

.rootModal {

    .upgrade {
        .modal-dialog {
            width: 750px;
        }
        .modal-content {
            display: flex;
            .modal-section {
                border-radius: 0 @border-radius-base @border-radius-base 0;
                background-color: @white;
                flex: 1 1 auto;
                padding: 60px 50px 10px;

                .product {
                    text-align: center;
                    .product-name {
                        font-size: 40px;
                        font-weight: 500;
                    }
                    .product-status {
                        display: block;
                        font-weight: bold;
                        margin-bottom: 20px;
                        color: @brand-primary;
                    }
                    .product-description {
                        > ul {
                            min-height: 180px;
                            padding: 0px 0px 0px 0px;
                            list-style: none;
                            > li {
                                line-height: 25px;
                                font-size: 16px!important;
                            }
                        }
                    }
                    .product-action {
                        margin: 30px 0px 40px;
                    }
                }

                &.active {
                    border-radius: @border-radius-base 0 0 @border-radius-base;
                    background-color: @gray-lighter;
                    .product-status {
                        color: @gray;
                    }
                    .product-action .btn-default {
                        color: @gray;
                        border-color: @gray;
                    }
                }
            }
        }
    }

    .cancel-survey {
        .modal-dialog {
            .make-md-column-offset(3);
            .make-md-column(6);
            .modal-header {
                background-color: @brand-primary!important;
                h1 {
                    color: @white!important;
                    text-transform: none;
                }
            }
            .modal-body {
                text-align: left;
                padding: 25px 50px; //@modal-padding;
                h3 {
                    font-weight: 500;
                }
                .alert {
                    font-weight: 500;
                    font-size: 16px;
                    color: @brand-primary;
                    background-color: fadeout(@brand-primary, 90%);
                    &.alert-danger {
                        h2 {
                            font-weight: 500;
                            font-size: 16px;
                        }
                        color: @brand-danger;
                        background-color: fadeout(@brand-danger, 90%);
                    }
                }
                .options {
                    padding-bottom: 15px;
                    .radio {
                        display: inline-block;
                        width: 33%;
                        padding: 5px 0px 5px 20px;
                    }
                }
            }
            .modal-footer {
                text-align: center;
            }
        }
        .state-success .modal-body {
            .border-radiuses(@border-radius-smaller, 0, 0, @border-radius-smaller);
            background-color: @brand-primary;
            text-align: center;
            padding: 40px;
            .fadeIn();
            h1 {
                color: white;
                font-size: 30px;
                font-weight: 500;
                &:after {
                    content: "";
                    width: 150px;
                    height: 150px;
                    background-image: url('../img/favicons/favicon-apple-152x152.png');
                    background-color: white;
                    position: relative;
                    display: block;
                    // background-position: 113% 19%;
                    background-size: 100%;
                    background-repeat: no-repeat;
                    border: solid 2px @white;
                    left: 50%;
                    margin-left: -75px;
                    margin-top: 30px;
                    margin-bottom: 30px;
                    .border-radius(50%);
                }
            }
            p {
                color: white;
                font-size: 18px;
                font-weight: 500;
                font-family: @font-family-base;
            }
        }


        .state-fail .modal-body {
            .border-radiuses(@border-radius-smaller, 0, 0, @border-radius-smaller);
            padding: 40px;
            background-color: @white;
            color: @brand-primary;
            text-align: center;
            .fadeIn();
            h2 {
                color: @brand-primary;
                font-weight: 500;
                &:before {
                    content: "";
                    width: 150px;
                    height: 150px;
                    background-image: url('../img/favicons/favicon-apple-152x152.png');
                    background-color: white;
                    position: relative;
                    display: block;
                    // background-position: -29px 18px;
                    background-size: 100%;
                    background-repeat: no-repeat;
                    border: solid 2px @white;
                    left: 50%;
                    margin-left: -90px;
                    margin-bottom: 30px;
                    .border-radius(50%);
                }
            }
        }


        .invarid-form {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            color: red;
            font-weight: 500;
            font-family: @font-family-base;
            font-size: 15px;
            text-align: center;
            padding: 7px 0px;
            background-color: rgba(255, 0, 0, 0.13);
            .fadeIn();
        }
    }

    .select-analytics-profile {
        .modal-dialog {
            .make-md-column-offset(3);
            .make-md-column(6);
            .modal-content {
                .modal-header {
                    background-color: @brand-primary;
                    h1 {
                        font-weight: 500;
                        font-size: 25px;
                        color: white;
                        padding: 20px 60px;
                        text-transform: none;
                    }
                }
                .modal-body {
                    h3 {
                        font-weight: 500;
                        text-align: left;
                        margin-top: 20px;
                    }
                    p {
                        text-align: left;
                        padding: 0;
                    }
                    .profiles-list {
                        padding: 8px;
                        .profile {
                            margin-bottom: 5px;
                            padding: 15px 15px 15px 46px;
                            .profile-description {
                                .icomoon(@icon-circle-content, @gray-lighter, 25px);
                                &:before {
                                    position: absolute;
                                    left: -30px;
                                    top: 4px;
                                }
                                .profile-url {
                                    font-weight: 600;
                                    margin: 0;
                                }
                                .profile-name {
                                    margin: 0;
                                }
                            }
                            .profile-web-property-id {
                                p {
                                    margin: 0;
                                    text-align: right;
                                    margin-top: 7px;
                                }
                            }

                            &:hover {
                                background-color: @gray-lighter;
                                cursor: pointer;
                                .profile-description {
                                    &:before {
                                        content: @icon-circle-check-inverse2-content;
                                        color: @white;
                                    }
                                }
                            }
                            &.selected {
                                background-color: @gray-lighter;
                                .profile-description {
                                    &:before {
                                        content: @icon-circle-check-inverse2-content;
                                        color: @gray-darker;
                                    }
                                }
                            }
                        }
                    }
                    .profile-not-found {
                        padding: 10px;
                        h5 {
                            font-weight: 600;
                            margin-bottom: 3px;
                            color: @gray-dark;
                            font-family: @font-family-text;
                        }
                        a {
                            font-weight: 600;
                            text-decoration: underline;
                        }
                    }
                    &.error {
                        padding: 20px;
                        span {
                            color: @brand-danger;
                            display: block;
                            font-size: 70px;
                            margin: 20px 0px;
                        }
                        h2 {
                            margin-bottom: 5px;
                            font-weight: 500;
                        }
                        p {
                            text-align: center;
                        }
                    }
                    &.done {
                        padding: 20px;
                        span {
                            color: @brand-success;
                            display: block;
                            font-size: 100px;
                            margin: 20px 0px;
                        }
                        h2 {
                            margin-bottom: 5px;
                            font-weight: 500;
                        }
                        p {
                            text-align: center;
                        }
                    }
                }
                .modal-footer {
                    background-color: transparent;
                    border-top: solid 1px @gray-lighter;
                    text-align: center;
                }
            }
        }
    }


}


.analytics-logo {
    &.horizontal img {
        width: 150px;
        height: auto;
    }
    &.vertical img {
        width: auto;
        height: 40px;
    }
}
