
div[role=main-menu]{
    border-top: @navbar-default-border-top;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
    width: 100%;
    background-color: @navbar-default-bg;

    .container {
        display: flex;
        flex-flow: row nowrap;

        .navbar-header{
            flex: 0 0 240px;
        }

        nav{
            display: flex;
            flex: 1;
            flex-flow: row nowrap;

            /* Reset de algunos estilos incompatibles */
            .dropdown-toggle span { top: 0; }
            .dropdown-menu {
                margin-top: 0;
                border-top-right-radius: 0;
                border-top-left-radius: 0;
            }

            hr {
                border-top: none;
                .nav-divider(@dropdown-divider-bg);
            }

            & > ul {
                margin: 0px;
                padding: 0px;
                list-style-type: none;
                display: flex;
                flex: 1;
                flex-flow: row nowrap;
                align-items: stretch;

                & > li {
                    &[role=selector]{
                        flex: 0.7;
                        display: flex;
                        flex-flow: row nowrap;

                        & > a {
                            display: flex;
                            flex-flow: row nowrap;
                            align-items: center;

                            color: @navbar-default-link-color;
                            font-size: 18px;
                            font-weight: 500;
                            padding: 0px 30px;

                            &:hover,
                            &:focus {
                              color: @navbar-default-link-hover-color;
                              background-color: @navbar-default-link-hover-bg;
                            }

                            & > p {
                                margin: 0px;
                                font-family: @font-family-base;
                                &[role=siteurl]{
                                    flex: 1 1 auto;
                                    max-width: 280px;
                                    .ellipsis;
                                    padding-right: 5px;
                                }

                                &.label {
                                    padding: 3px 7px;
                                    margin-right: 12px;
                                }

                            }
                        }

                        & > ul {
                            left: 0;
                            li a { .ellipsis; }
                        }
                    }

                    &[role=menu]{

                        flex: 1;
                        display: flex;
                        flex-flow: row nowrap;

                        & > ul{
                            flex: 1;
                            display: flex;
                            flex-flow: row nowrap;
                            justify-content: flex-end;
                            align-items: stretch;

                            & > li {
                                display: flex;
                                flex-flow: row nowrap;
                                align-items: center;

                                & > a {
                                    color: @navbar-default-link-color;
                                    font-weight: 500;
                                    font-family: @font-family-base;

                                    align-self: stretch;

                                    display: flex;
                                    align-items: center;
                                    padding: 0px 25px;

                                    &:hover,
                                    &:focus {
                                      color: @navbar-default-link-hover-color;
                                      background-color: @navbar-default-link-hover-bg;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
