.takeover {
    .navbar-default {
        display: none;
    }
}

div[role="main-menu"] {
    box-shadow: @navbar-default-shadow;
}

.navbar-brand {
    display: block;
    color: @brand-primary;
    font-size: 45px;
    font-weight: bold;
    letter-spacing: -0.04em;
    text-rendering: optimizelegibility;

    text-transform: lowercase;
    line-height: @navbar-height;

    background: url(@navbar-default-logo-url) left center no-repeat;
    background-size: @navbar-default-logo-size;
    text-indent: -9999px;
    width: @navbar-default-logo-width;

    padding: 0px;

    &:hover {
        text-decoration: none;
    }

    margin-right: 30px;
}

.navbar {
    border: 0px;

    &.navbar-fixed-top {
        border-top: @navbar-top-border-height solid @brand-primary;
    }

    .navbar-nav {
        font-size: @font-size-large;
        font-weight: 500;
        line-height: 1;

        > li {
            > a {
                .transition(all 0.1s ease-out);
                padding: 30px;
                padding-top: ((@navbar-height - @font-size-large) / 2);
                padding-bottom: (((@navbar-height - @font-size-large) / 2));
            }

            &.web-selection {
                > a {
                    font-size: 18px;
                    .ellipsis();
                    max-width: 470px;
                }
            }

            &.account {
                > a {
                    border-left: 1px solid @gray-dark;
                }
                .dropdown-menu {
                    padding: 10px 0 0 0;
                    > li {
                        > a {
                            padding: 10px 25px;
                        }
                        &.divider {
                            margin-top: 10px;
                        }
                    }
                }
            }
        }
    }
}

.label-product {
    display: inline-block;
    background-color: @navbar-default-label-bg;
    color: @navbar-default-label-color;
    margin-right: 12px;
    font-size: @font-size-smaller;
    font-weight: 500;
    .transition(all 0.1s ease-out);
}
