.new-panel {
    margin-bottom: 40px;

    /* Titulo Cabecera */
    h1 {
        font-size: 30px;
        margin-bottom: 15px;
    }

    h3 {
        font-size: 20px;
        font-weight: 500;
        margin: 0px 0px 5px 0px;
        color: @gray-dark;
    }

    h5 {
        font-weight: 500;
        margin: 0px 0px 0px 0px;
        font-size: @font-size-large;
        line-height: 1.5em;
    }

    &-section {
        border-radius: @border-radius-smaller;
        box-shadow: @panel-shadow;
        background-color: #ffffff;
    }

    &-row {
        .make-row();
        border-bottom: 1px solid @gray-lighter;
        padding: 25px;
    }

    &-footer {
        padding: 10px 0px;
        background-color: @new-panel-footer-bg;
        text-align: center;
        border-radius: 0px 0px @border-radius-smaller @border-radius-smaller;
    }

    .new-panel-row {

        &.loading {
            .striped-animation();
        }

        .new-panel-row-header {
            .make-md-column(3);
            padding: 0 35px 0 0;
            margin: 0;
        }

        .new-panel-row-body {
            .make-md-column(9);
            padding: 0;
            margin: 0;

            .row {
                margin-bottom: 20px;
            }
        }
    }
}
