.alert {
    background-color: @brand-primary;
    color: white;
    margin: 3px inherit 3px inherit;

    &.alert-success {
        background-color: @brand-success;
    }

    &.alert-notice {
        background-color: @brand-primary;
    }

    &.alert-warning {
        background-color: @brand-warning;
    }

    &.alert-danger {
        background-color: @brand-danger;
    }

    a {
        color: white;
    }

    p {
        font-family: @font-family-text;
        font-weight: bold;
        font-size: 15px;
        line-height: 1.2;
        text-align: center;

        .inner-link {
            display: inline-block;
            padding: inherit 3px;
            font-weight: 500;
        }
    }

    .close {
        color: white;
        top: -5px;
    }

    .alert-collapse, a[data-dismiss="alert"] {
        display: block;
        width: 100%;
    }
}
