
.panel-campaign {
    position: relative;

    .panel-body {
        position: relative;
        padding: @campaign-padding-vertical @campaign-padding-horizontal;
        height: @campaign-height;
    }

    // Los elementos dentro del .panel-campaign deben tener "position: absolute"
    // para poderse animar correctamente.
    // La posición del "top", "left" y "right" debe ser el mismo que el padding
    // para compensar.
    .ppc-campaign-estimation, .ppc-campaign-budget, .ppc-campaign-confirm {
        position: absolute;
        top: @campaign-padding-vertical;
        left: @campaign-padding-horizontal;
        right: @campaign-padding-horizontal;
    }

    // Prácticamente compiado de ".panel-wizard .panel-footer"
    .panel-footer {
        .clearfix();
        // background: @brand-primary-subtle;
        padding-left: @campaign-padding-horizontal;
        padding-right: @campaign-padding-horizontal;
        position: absolute;
        bottom: 0px;
        left: 0px;
        right: 0px;
        height: @campaign-footer-height;

        button {
            margin-right: 10px;

            &.pull-right {
                margin-right: 0px;
                margin-left: 10px;
            }
        }
    }

    .ppc-estimation-header, .ppc-budget-header, .ppc-confirm-header {
        padding: 45px 250px 45px 45px;
        margin: -@campaign-padding-vertical -@campaign-padding-horizontal @campaign-padding-vertical -@campaign-padding-horizontal;
        border-radius: @panel-border-radius @panel-border-radius 0 0;
        // .triangleDownBorder(fadeout(@brand-primary, 80%), 20px, @gray-dark);
        // border-bottom: 1px solid @gray-medium;

        h1 {
            margin-top: 0px;
        }
    }

    .ppc-estimation-header {
        background: fadeout(@brand-primary, 80%) url(/img/ppc/estimation-header.png) no-repeat bottom right;
    }

    .ppc-budget-header {
        background: fadeout(@brand-primary, 80%) url(/img/ppc/budget-header.png) no-repeat bottom right;
    }

    .ppc-confirm-header {
        background: fadeout(@brand-success, 80%) url(/img/ppc/confirm-header.png) no-repeat bottom right;
    }

    .ppc-campaign-confirm {
        .checkbox {
            text-align: center;
            margin: 30px;
        }
    }

    .criteria-details {
        margin: 5px 0px 0px 0px;
        padding: 7px 10px;
        .icomoon(@icon-globe-content);
    }
}

.panel-ppc-dashboard {

    .ppc-management-header {
        padding: 10px 10px 20px 10px;

        h1 {
            margin-top: 0px;
        }
    }

    .ppc-management-body {
        .triangleDownInside(@panel-bg, 20px, @panel-inner-border);

        // Compensar con margin negativos el padding dado al panel-body en
        // app/panels.less
        margin: 0px -(@panel-body-padding * 1.5) -(@panel-body-padding * 1.5);

        padding: @panel-body-padding * 2;
        border-top: 1px solid @panel-inner-border;
        background: fadeout(@gray-lighter, 50%);
    }

    .panel-data {
        background: @white;
    }

    .ppc-dashboard-table {
        margin-bottom: @panel-body-padding * 2;
    }
    
    .ppc-dashboard-budget .panel-data .panel-body {
        padding: 5px 0px 50px 0px;
    }

    .ppc-dashboard-clicks .panel-data .panel-body {
        padding: 5px 0px 5px 0px;
    }
}

.table-campaign-confirm {
    th {
        text-align: right;
        width: 50%;
    }

    td {
        // .value-styles mixin definido en "include/tables.less"
        .value-styles();

        text-align: left;
        width: 50%;
    }

    // Debido a la alta especificalidad de los TD de bootstrap, esto tiene que
    // ir así:
    > tbody > tr > td {
        padding: 7px;
    }
    > tbody > tr > th {
        vertical-align: bottom;
    }

}

