#popularity-ranking-container {
    .make-md-column(6);

    .kpi-container {
        .make-md-column(6);

        margin-top: 15px;
    }

    .popularity-chart-container {
        .make-md-column(12);

        padding: 0px;
        margin-top: 25px;
        margin-bottom: 10px;

        h3 {
            font-size: 17px;
            font-weight: 600;
            margin-bottom: 20px;
        }
    }
}

#popularity-linking-to-you-container {
    .make-md-column(6);

    .table-website {
        padding-left: 30px;
        margin-top: 20px;

        .cell-center {
            text-align: center;
        }

        td {
            padding-left: 8px;
        }

        tr.selected {
            background: @gray-lighter;
        }
    }

    .icon-cloud-download {
        font-size: 16px;
        margin-right: 6px;
        top: 2px;
        position: relative;
    }

    .download-button {
        margin-top: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
