@media print {

    // Colores e imágenes
    * {
        -webkit-print-color-adjust: exact;
        print-color-adjust: exact;
    }

    // Tamaño del pdf
    body {
        zoom: 0.54; /* using 0.55 or higher results in the elements not lining up correctly */
        background: transparent;
        padding-top: 0 !important;
    }

    // Animaciones
    .jellyBounce,
    .bounceIn,
    .animated,
    .wow {
        visibility: visible !important;
        .animation-name(none) !important;
        .animation-duration(0s) !important;
    }

    // Esconder debug, menús, etc...
    #debug_info_debug,
    .navbar,
    .sidebar-wrapper {
        display: none;
    }

    
    // Saltos de página
    section {
        page-break-inside: avoid;
        page-break-after: always;

        padding-top: 65px;
    }

    // Gráficas
    // Círculos de la línea
    .chart-container .goo-chart-series .goo-chart-point {
        opacity: 1 !important;
    }
    // Ejes
    .goo-chart-labels {
        opacity: 1 !important;
        display: block !important;
        foreignobject {
            opacity: 1 !important;
            display: block !important;
            .goo-chart-label {
                opacity: 1 !important;
                display: block !important;
            }
        }
    }


    .results {

        // Esconder elementos inecesarios
        .section-header, //titulo de la sección reuslts
        .panel-footer-switch, //switch de cometidores
        .table-action-add, //botón de añadir competidor
        .btn-download { //botón de descargar CSV
            display: none;
        }

        // Screenshot y score
        .result-score {
            width: 100%;
            text-align: center;
            min-height: 600px !important;
            .display.imac {
                width: 400px;
                margin: 100px auto auto auto;
                .screen, .glare {
                    top: -7px;
                }
                .shot {
                    height: 111.5%;
                }
            }
            .knob.large {
                width: 225px;
                height: 225px;
                top: 0 !important;
                left: 530px !important;
                .grade {
                    font-size: 6em;
                }
            }
            aside.score {
                top: 430px;
                font-size: 25px;
                background: none;
                &:after {
                    // top: -14px;
                    display: none;
                }
            }
        }

        .result-score-chart {
            width: 100%;
            text-align: center;
            margin-top: 50px;
        }

        // Mostrar panel de competidores
        .panel-footer-competitors {
            display: block;
            padding-top: 30px;
            .competitors-wrapper {
                border-top: none;
                // Mostrar enlaces de los competidores
                .table-competitors {
                    a[href^=http] {
                        position: relative;
                        &:before {
                            content: attr(href);
                            position: absolute;
                            top: -85px;
                            left: 5px;
                            -webkit-transform: rotate(-12deg);
                            -ms-transform: rotate(-12deg);
                            transform: rotate(-12deg);
                            z-index: 5;
                            display: block;
                            background-color: @print-link-background;
                            border-radius: 15px;
                            color: white;
                            padding: 0px 13px;
                        }
                    }
                }
            }
        }



        .panel {
            &.panel-data {
                box-shadow: none;
                .panel-heading {
                    height: 100px;
                    h1 {
                        position: relative;
                        padding-right: 660px;
                        display: inline-block;
                        margin-left: 15px;
                        &:before {
                            display: inline-block;
                            // position: absolute;
                            // left: -40px;
                            // top: 21px;
                        }
                        .info-tooltip {
                            opacity: 1 !important;
                            position: absolute;
                            width: 625px;
                            top: 0;
                            right: 0;
                            &:before {
                                display: none;
                            }
                            &:after {
                                content: attr(data-content);
                                color: white;
                                opacity: 1;
                                display: block;
                                padding: 5px;
                                text-align: center;
                            }
                        }
                    }
                }
            }
        }

    }
}
