
/* carousel */
#quote-carousel {
    padding: 0 10px 30px 10px;
    text-align:center;
    height: 195px;

    /* indicator position */
    .carousel-indicators {
        right: 50%;
        top: auto;
        bottom: -10px;
        margin-right: -19px;
        /* indicator color */
        li {
            background: #c0c0c0;
            /* active indicator */
            &.active {
                background: #333333;
                height:10px;
                width:10px;
                margin-bottom:1px;
            }
        }
    }
    .quote-who {
        text-align: center;
        padding: 15px;
        img {
            width: 100%;
            height: auto;
            margin-bottom: 15px;
        }
        .who-name {
            display: block;
            color: black;
        }
        .who-url {
            display: block;
        }
    }
    .quote-what {
        padding: 15px;
        p {
            text-align: left;
            font-family: 'Helvetica Neue', Helvetica, Arial, omnes-pro, sans-serif;
            font-size: 16px;
            font-style: italic;
            font-weight: 200;
            line-height: 20px;
        }
    }
}