.rankings {
    .ranking {
        h1 {
            position: absolute;
            text-align: center;
            top: 14px;
            font-size: @font-size-large;
            width: 100%;
        }
    }
}

#rankings-competitors-toggle-button {
    margin-bottom: 14px;
}

.results-empty-data {
    a {
        p {
            font-size: 18px;
        }
        .icon {
            font-size: 50px;
            display: block;
            margin-bottom: 8px;
        }
    }
}
