#dashboard {

    h2 {
        font-weight: 500;
        font-size: @font-size-large;
    }

    .dashboard-container {
        .make-md-column(12);
        .clearfix();

        padding-left: 5px;
        padding-right: 5px;
        margin-top: 10px;
        margin-bottom: 30px;

        .chart-container {
            border-radius: @border-radius-smaller;
        }
    }

    #score {
        .make-md-column(5);

        .knob {
            position: absolute;
            z-index: 12;
            top: -5px;
            right: 6px;
            width: 100px;
            height: 100px;
            padding: 0px;

            &.medium {
                .ring {
                    stroke-width: 9%;
                }

                .grade {
                    right: 5px;
                }
            }
        }

        .display.imac {
            width: 265px;
            height: 221px;
        }

        aside {
            &.score {
                bottom: -35px;
                margin-left: 10px;
                margin-right: 10px;
            }

            &:after{
                display: none;
            }
        }
    }

    #progress {
        .make-md-column(7);

        .panel {
            margin-bottom: -3px;
            border-radius: @border-radius-smaller;
        }

        .panel-scanning {
            .make-md-column(12);

            border-radius: @border-radius-smaller;
            box-shadow: @panel-shadow;
            background-color: @white;

            text-align: left;

            &.scanning-busy {
                .striped-animation();
            }

            .panel-footer {
                padding: 10px 10px;
            }

            //ajuste para que entre todo el contenido en idiomas largos
            .panel-heading {padding-right: 5px; }

            .btn-start-scanning {
                float: right;

                //ajustes para que entre todo el contenido en idiomas largos
                &.btn.loading {
                    padding-left: 30px;
                    &:before, &:after {
                        width: 20px;
                        height: 20px;
                        margin-top: -10px;
                        margin-left: -10px;
                    }
                }
            }

            p {
                display: inline-block;
                margin: 0px;

                // Al P dentro del "panel-scanning" le damos estos line-height
                // y padding concretos para que se centre verticalmente con el
                // botón que va a tener a la derecha que es un "btn-sm"
                line-height: @line-height-small;
                padding: @btn-sm-padding-vertical 0px 0px;
            }
        }
    }
}
