#section-site-results {

    .chart-container {
        margin: 45px 0px 8px 0px;
    }

    .disbleAnalytics {
        float: right;
        font-size: @font-size-smaller;
    }

    .search-engines {
        display: flex;

        .search-engine {
            .make-md-column(3);
            height: auto;
        }
    }

    .search-engine {
        display: flex;
        align-items: center;
        justify-content: center;

        figure {
            width: 55px;
            height: 40px;
            margin-right: 10px;

            &.google {
                background: url("/img/logo-google.png") no-repeat;
            }

            &.bing {
                background: url("/img/logo-bing.png") no-repeat;
            }

            &.yahoo {
                background: url("/img/logo-yahoo.png") no-repeat;
            }
        }

        .kpi-value {
            font-size: @font-size-large;
            font-weight: 500;
            margin-top: 0px;

            &.pass {
                color: @brand-success;
                .icomoon(@icon-circle-check-inverse2-content, @brand-success, 20px, 5px);
            }
            &.nopass {
                color: @brand-danger;
                .icomoon(@icon-circle-cross-inverse2-content, @brand-danger, 20px, 5px);
            }
            &.pending {
                color: @brand-warning;
                .icomoon(@icon-cycle-content, @brand-warning, 20px, 5px);
            }
        }

        .search-engine-preview {
            font-family: @font-family-text;
            font-size: @font-size-small;
        }
    }

    .traffic {
        display: flex;

        .kpi-container {
            .make-md-column(3);

            .kpi-value {
                // Anular el espacio superior del value para containers
                // que tienen visualización horizontal
                margin-top: 0px;

                text-align: center;

                /* Este font-size y font-weight lo cambiamos porque
                 no cabe la palabra MODERATE del estimated traffic,
                 y menos en otros idiomas. */
                font-size: 30px;
                font-weight: 500;
            }

            .value-disabled {
                // comentado para que cuadre con el moderate
                // font-size: 33px;
                // margin-top: 11px;
            }
        }
    }

    .analytics {

        p {
            color: @gray;
        }
        .kpi-container {
            .make-md-column(6);
            &:last-child {
                text-align: center;
            }
        }
        &.connected {
            .make-md-column(12);
            .analytics-logo {
                float: right;
            }
        }

    }

    .new-panel-keywords {
        .kpi-container {
            .make-md-column(6);
            height: auto;
        }
    }

    .table-keyword {
        margin-top: 20px;
        tr.selected {
            background: @gray-lighter;
        }
        td {
            padding: 5px 10px;
            text-align: center;
            font-weight: 500;
            color: @gray;
            &:first-child {
                text-align: left;
            }
        }
        tbody tr {
            border-bottom: none;
        }
        thead td {
            font-weight: 600;
            color: @gray-dark;
            padding: 7px 0px;
        }
    }

}
