.snippet {

    background-color: @gray-lighter;
    padding: 20px;
    .border-radius(@border-radius-smaller);

    p {
        cursor: pointer;
        font-weight: normal;
        font-size: 13px;
        line-height: 16px;
    }

    .snippet-container {
        text-align: left;
        .border-radius(@border-radius-smaller);
        box-shadow: @panel-shadow;
        background-color: white;
        border: solid 1px #F2F4F6;
        padding: 20px;
    }

    &.snippet-results {
        background-color: white;
        padding: 10px 0px 0px 0px;
        .snippet-container {
            box-shadow: none;
            background-color: white;
        }
    }

    &.snippet-google {
        p {
            font-family: arial, sans-serif;

            &.snippet-title {
                color: #1a0dab;
                font-size: 18px;
                line-height: 19px;
                margin-bottom: 3px;
            }
            &.snippet-url {
                color: #006621;
                margin-bottom: 5px;
            }
            &.snippet-description {
                color: #545454;
            }
        }
    }

    &.snippet-yahoo {
        p {
            font-family: 'helvetica neue', helvetica, arial, sans-serif;

            &.snippet-title {
                color: #324fe1;
                font-size: 16px;
                line-height: 19px;
                text-decoration: underline;
            }
            &.snippet-url {
                font-weight: bold;
                color: #1e7d83;
                margin-bottom: 5px;
                margin-top: 3px;
            }
            &.snippet-description {
                color: black;
            }
        }
    }
    &.snippet-bing {
        p {
            font-family: Arial, Helvetica, sans-serif;

            &.snippet-title {
                color: #1020CC;
                font-size: 18px;
                line-height: 21px;
                text-decoration: underline;
            }
            &.snippet-url {
                color: #009030;
                margin-bottom: 3px;
                margin-top: 6px;
            }
            &.snippet-description {
                color: #404040;
            }
        }
    }
}

.snippet-info {
    font-size: @font-size-smaller;
    text-align: right;
    span {
        font-weight: 600;
    }
}

.chart-container {
    .snippet {
        margin-top: 30px;
        margin-left: 15px;
    }
}

// SES snippets
.popover-content {
    h4 { margin-bottom: 2px;}
    .snippet {
        background-color: transparent;
        padding: 0;
        .snippet-container {
            box-shadow: none;
            background-color: transparent;
            padding: 10px;
        }
    }
}
