#section-social {

    .kpi-container {
        .make-md-column(3);
    }

    .kpi-value {
        text-align: left;

        .icon-social:before {
            top: -9px;
        }

        .fb {
            .icomoon(@icon-facebook2-content, @facebook, 44px, 10px);
        }

        .lk {
            .icomoon(@icon-linkedin2-content, @linkedin, 44px, 10px);
        }

        .gp {
            .icomoon(@icon-googleplus2-content, @googleplus, 44px, 10px);
        }
    }

    .chart-container {
        background: none;
    }
}
