.submission-status {
    text-align: center;

    margin-bottom: 18px;
    font-size: 18px;

    .submission-snippet {
        .snippet {
            margin: 0;
        }
    }

    .explanation:first-child {
        margin-bottom: 8px;
    }

    .info-text {
        .icomoon(@icon-speech-bubble-content, lighten(@brand-primary, 20%), 1.2em);
    }
}


.engine-name {
    font-weight: 500;
    font-size: 18px;
    color: @gray-dark;
}

.engine-badge {
    display: inline-block;
    width: @engine-badge-size + (@engine-badge-border * 2);
    height: @engine-badge-size + (@engine-badge-border * 2);
    background: @gray;
    border-radius: 50%;
    border: @engine-badge-border solid @white;

    line-height: @engine-badge-size;
    text-align: center;

    margin: -25px 0px 15px 0px;

    img {
        width: @engine-badge-size / 3;
    }

    &.engine-google { background: #196EEF; }
    &.engine-bing   { background: #F4BD27; }
    &.engine-yahoo  { background: #3F198D; }

    .submission-status-pending & {
        background: @gray-light;
    }
}

.engine-status {
    position: absolute;
    top: 32px;
    left: 60%;

    .result-icon:before {
        font-size: 30px;
    }

    .submission-status-pending & .icon-fail:before {
        color: @gray;
        border-color: @gray;
    }
}

.engine-info {
    .submission-status-pending & .explanation {
        .icomoon(@icon-clock-content);
    }
}

