.task-section-icon(@icon){
    .icomoon(@icon);
    &:before {
        .box-shadow(0 2px 5px rgba(0, 0, 0, 0.175));
        display: block;
        position: absolute;
        background-color: @white;
        border-radius: 50%;
        color: @brand-primary;
        padding: 6px;
        font-size: 18px;
        width: 30px;
        height: 30px;
        top: -19px;
        right: 10px;
    }
}

.TasksContainer {
    .panel-empty-data{
        background-color: @white !important;
    }
    .TasksHeader {
        .make-sm-column(12);
        .make-lg-column(12);
        background-color: @white;
        padding: 25px;
        .TasksFilter {
            span {
                margin-right: 15px;
            }
        }
        &-title {
            .make-sm-column(6);
            .make-lg-column(6);
            .TasksFilter {
                text-align: left;
                span {
                    display: inline-block;
                    vertical-align: middle;
                    font-size: 16px;
                    font-weight: 500;
                }
                .form-control {
                    display: inline-block;
                    vertical-align: middle;
                    max-width: 200px;
                    border: none;
                    background-color: @gray-lighter;
                    color: @input-color;
                    height: 30px;
                }
                p {
                    color: @gray;
                    font-size: 13px;
                    margin-top: 8px;
                }
            }

        }
        &-progressBar {
            .make-sm-column(6);
            .make-lg-column(6);
        }
    }

    .TasksList {
        .make-sm-column(12);
        .make-lg-column(12);
        text-align: center;
        ul {
            .list-group-item {
                .make-sm-column(4);
                .make-lg-column(4);

                .list-group-item-card {
                    .box-shadow(0 2px 5px rgba(0,0,0,.175));
                    height: 180px;
                    border-radius: @border-radius-smaller;
                    cursor: pointer;
                    position: relative;


                    margin: 3px;
                    overflow: hidden;

                    .preview-image {
                        background-position: center center;
                        background-size: 42%;
                        background-repeat: no-repeat;
                        height: 60%;
                        transition: all 0.5s;
                        background-color: @reco-preview-bg;
                    }

                    .badge-container {
                        position: absolute;
                        top: 0;
                        width: 100%;
                        text-align: right;
                        z-index: 9;
                        padding: 6px;
                        .badge {
                            .box-shadow(0 2px 5px rgba(0, 0, 0, 0.175));
                            display: inline-block;
                            padding: 3px 6px;
                            font-size: @font-size-smaller;
                            border-radius: @border-radius-smaller;
                            text-transform: uppercase;
                            font-weight: 500;
                            color: @reco-tag-text;
                            background-color: @reco-badge-bg;
                            &.warning {
                                background-color: @reco-badge-bg-warning;
                            }
                        }
                    }

                    .title {
                        .border-radiuses(0, @border-radius-smaller, @border-radius-smaller, 0);
                        transition: all 0.2s linear;
                        background-color: @reco-title-bg;
                        padding: 13px 15px;
                        font-size: 13px;
                        font-weight: 500;
                        height: 40%;
                        font-family: @font-family-text;
                        position: relative;
                        color: @reco-title-color;
                        strong {
                            color: @reco-title-color;
                            transition: color 0.2s linear;
                            display: inline-block;
                            .ellipsis();
                            width: 100%;
                        }
                    }

                    &.section-site .title {
                        .task-section-icon(@icon-bar-graph-2-content);
                    }
                    &.section-onpage .title {
                        .task-section-icon(@icon-desktop-content);
                        &:before { padding-left: 6.5px; }
                    }
                    &.section-mobile .title {
                        .task-section-icon(@icon-phone-content);
                        &:before { padding-left: 9px; }
                    }
                    &.section-popularity .title {
                        .task-section-icon(@icon-popularity-content);
                        &:before { padding-left: 7px; }
                    }
                    &.section-social .title {
                        .task-section-icon(@icon-social-content);
                        &:before { padding-left: 5px; }
                    }
                    &.section-search .title {
                        .task-section-icon(@icon-search2-content);
                    }

                    .title:before {
                        color: @reco-icon-color !important;
                    };

                    &:hover {
                        .preview-image {
                            &.scale-image {
                            -ms-transform: scale(1.2);
                            -moz-transform: scale(1.2);
                            -webkit-transform: scale(1.2);
                            -o-transform: scale(1.2);
                            transform: scale(1.2);
                            background-color: @reco-preview-bg-hover;
                            }
                        }
                        .title {
                            background-color: @reco-title-bg-hover;
                            color: @reco-title-color-hover;
                            strong {
                                color: @reco-title-color-hover;
                            }
                        }
                    }
                    &:focus{
                        border: 2px solid @brand-primary;
                    }

                    &.upgrade-task {
                        background: @white;
                        padding: 15px;
                        h2 {
                            font-weight: 500;
                            color: @gray-dark;
                            span {
                                color: @brand-primary;
                                font-weight: 600;
                                font-size: 22px;
                            }
                        }
                        .description-container {
                            width: 65%;
                            .product {
                                font-weight: 600;
                                color: #000000;
                            }
                        }
                        span {
                            font-weight: 500;
                            color: @gray;
                            font-size: 15px;
                        }
                        .btn{
                            margin-top: 17px;
                            padding: 5px 25px;
                            font-size: 13px;
                        }
                        .robotImg{
                            position: absolute;
                            right: -73px;
                            bottom: 0;
                            background-size: 90%;
                            background-repeat: no-repeat;
                            width: 60%;
                            height: 60%;
                        }
                    }
                }
            }
        }

        #empty-data{
            width: 61%;
            margin: 0 auto;
            margin-top: 50px;
            margin-bottom: 50px;
            h1 {
                color: @brand-primary-darker;
                font-size: @font-size-extra-large;
                font-weight: 300;
            }
            h3{
                margin-left: 0;
            }
            p {
                color: @gray;
            }
            h1, figure, h3, p {
                margin-bottom: 25px;
                text-align: center;
            }
            .ok-icon {
                .icomoon(@icon-circle-check-content, @brand-success, 111px,0px);
            }
        }
    }
}


.panel-tasks {
    position: relative; // para el unlock
    .border-radiuses(@border-radius-smaller, @border-radius-smaller, @border-radius-smaller, @border-radius-smaller);
    .box-shadow(0 2px 5px rgba(0,0,0,.175));
    .panel-heading {
        width: 100%;
        .border-radiuses(@border-radius-smaller, 0, 0, @border-radius-smaller);
    }
    .panel-body {
        width: 100%;
        background-color: @gray-lighter;
        .border-radiuses(0, @border-radius-smaller, @border-radius-smaller, 0);
    }
    .loader {
        float: left;
        width: 100%;
        height: 50vh;
    }
}
