// Block heights
@small-height:  80px;
@medium-height: 220px;
@big-height:    300px;

// Altura a la cual a partir de este tamaño se muestra el menú lateral completo
@screen-sidebar-full: 800px;


// MOBILE DEVICES

@iphone-width: 75px;
@iphone-height: @iphone-width * 1.75;

@imac-width: 175px;
@imac-height: @imac-width * 0.84;

@imac-width-small: 150px;
@imac-height-small: @imac-width-small * 0.84;

@ipad-width: 150px;
@ipad-height: @ipad-width * 0.87;

@results-imac-width: 220px;
@results-imac-height: @results-imac-width * 0.84;


// SIDEBAR

@sidebar-item-height:                    45px;
@sidebar-item-radius:                    50px;

@sidebar-item-font-family:               @font-family-base;
@sidebar-item-font-size:                 15px;
@sidebar-item-font-weight:               500;
@sidebar-item-font-weight-active:        500;
@sidebar-item-bg-color:                  transparent;
@sidebar-item-bg-color-active:           @gray-light;
@sidebar-item-text-color:                @gray-dark;
@sidebar-item-text-color-active:         @gray-dark;
@sidebar-item-text-decoration:           none;
@sidebar-item-text-decoration-active:    none;
@sidebar-item-icon-color:                @gray-darker;
@sidebar-item-icon-color-active:         @brand-primary;
@sidebar-item-icon-size:                 16px;
@sidebar-item-icon-bg-color:             transparent;//@white;
@sidebar-item-icon-bg-color-active:      @white;

@sidebar-subitem-radius:                 @border-radius-smaller;
@sidebar-subitem-font-family:            @font-family-base;
@sidebar-subitem-font-size:              15px;
@sidebar-subitem-font-weight:            500;
@sidebar-subitem-font-weight-active:     600;
@sidebar-subitem-padding:                0px 0px 4px 0px;
@sidebar-subitem-bg-color:               transparent;
@sidebar-subitem-bg-color-active:        transparent;
@sidebar-subitem-text-color:             @gray-dark;
@sidebar-subitem-text-color-active:      @brand-primary;
@sidebar-subitem-text-decoration:        none;
@sidebar-subitem-text-decoration-active: none;
@sidebar-subitem-icon-color:             @gray-darker;
@sidebar-subitem-icon-color-active:      @brand-primary;
@sidebar-subitem-icon-size:              @sidebar-subitem-font-size;
@sidebar-subitem-icon-bg-color:          transparent;
@sidebar-subitem-icon-bg-color-active:   transparent;

// SIGNUP

@signup-padding: 25px;


// SES

@engine-badge-border: 4px;
@engine-badge-size: 100px;


// OFS
@ofs-row-bg-hover:              @brand-primary-subtle;
@ofs-row-label-bg:              @gray-lighter;
@ofs-row-label-bg-hover:        @brand-primary-light;
@ofs-row-label-color:           @gray-darker;
@ofs-row-label-color-hover:     @gray-darker;

// PPC

@campaign-padding-horizontal: 30px;
@campaign-padding-vertical:   30px;

@campaign-heading-height: 100px;
@campaign-body-height: 400px;
@campaign-footer-height: 80px;

@campaign-height: @campaign-heading-height + @campaign-body-height + @campaign-footer-height;


// RECOS
@reco-preview-bg:          @brand-primary;
@reco-preview-bg-hover:    @reco-preview-bg;
@reco-title-bg:            @white;
@reco-title-bg-hover:      @reco-title-bg;
@reco-title-color:         @gray-dark;
@reco-title-color-hover:   @gray-darker;
@reco-badge-bg:            @brand-primary;
@reco-tag-text:          @white;
@reco-badge-bg-warning:    @brand-warning;
@reco-tag-text-warning:  @white;
@reco-icon-color:          @brand-primary;
