.ola_progressCircle {
    --color: var(--brand);

    width: var(--size-10);
    height: var(--size-10);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    &.is-busy {
        & .ola_progressCircle-value,
        & .ola_progressCircle-circle-value {
            opacity: 0;
        }
        & .ola_progressCircle-circle-background {
            animation: progressCircle-loading 2s linear infinite;
            animation-fill-mode: both;
            stroke: var(--gray-light);
        }
    }
}

.ola_progressCircle-value {
    font: var(--font-title);
    color: var(--black);
    position: relative;
    transition: opacity 200ms;
    z-index: 1;

    & > span {
        font-size: var(--size-7);
    }
}

.ola_progressCircle-circle {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.ola_progressCircle-circle-background,
.ola_progressCircle-circle-value {
    fill: none;
    stroke-width: 4;
    stroke-linecap: round;
    stroke-dashoffset: 0;
    stroke-dasharray: 390;
    transform-origin: center center;
}

.ola_progressCircle-circle-background {
    stroke: var(--gray-xlight);
    transition: stroke 200ms;
}
.ola_progressCircle-circle-value {
    stroke: var(--color);
    transform: rotate(-90deg);
    transition: opacity 200ms, stroke-dashoffset 400ms;
}

@keyframes progressCircle-loading {
    0% {
        stroke-dasharray: 10 390;
        transform: rotate(0deg);
    }
    50% {
        stroke-dasharray: 390 390;
    }
    100% {
        stroke-dasharray: 10 390;
        transform: rotate(1080deg);
    }
}
