.ola_tabs {
    display: flex;
    height: var(--size-8);
    box-sizing: border-box;
    margin-bottom: var(--row-gap-1);
    border-bottom: 1px solid var(--gray-xlight);

    & > .ola_button {
        border: none;
        height: 100%;
        color: var(--gray);
        border-radius: 0;
        background-color: transparent;
        border-color: transparent;
        border-bottom: 3px solid transparent;
        margin-top: 1px;

        &[aria-pressed="true"] {
          color: var(--brand);
          border-bottom: 3px solid var(--brand);
        }

        &:focus {
          box-shadow: none;
        }

        &:hover {
          background-color: var(--gray-xlight);
        }
    }

}

.ola_tab {
  width: 100%;
  display: none;

  &.selected {
    display: block;
  }
}
