.ola_tab-selector {
    display: inline-flex;
    max-width: 100%;
    height: var(--size-8);
    box-sizing: border-box;
    margin-bottom: var(--row-gap-1);

    & > .ola_button {
        border: none;
        height: 100%;
        color: var(--gray);
        border-radius: 0;
        background-color: transparent;
        border-color: transparent;

        &[aria-pressed="true"] {
          color: var(--brand);
          border-bottom: 3px solid var(--brand);
        }

        &:focus {
          box-shadow: none;
        }
    }
}

.ola_tab-content {
  width: 100%;
  display: none;
  
  &.selected {
    display: block;
  }
}
