.ola_tabs {
    display: flex;
    box-sizing: border-box;
    margin-bottom: var(--row-gap-1);
    border-bottom: 1px solid var(--color-neutral-200);
    list-style: none;
    padding-left: 0px;
    margin-top: 0px;
}

.ola_tab-option {
  --color: var(--color-neutral-700);
  --background: transparent;

  font: var(--font-callout);
  font-weight: var(--bold);
  color: var(--color);
  background: var(--background);
  display: flex;
  align-items: center;
  text-align: left;
  text-decoration: none;
  padding: var(--size-2) var(--size-3);
  outline: 0;
  border: none;
  box-sizing: border-box;
  width: 100%;
  cursor: pointer;
  border-bottom: 3px solid transparent;

  &::-moz-focus-inner {
      border: 0;
  }

  &:hover {
      --background: var(--color-neutral-200);
  }

  & .ola_icon {
      flex: 0 0 auto;
      margin-right: var(--size-2);
  }

  &.is-selected {
    color: var(--color-primary-500);
    --background: var(--color-white-100);
    border-bottom: 3px solid var(--color-primary-500);
    cursor: unset;
  }
}

.ola_tab {
  width: 100%;
  display: none;

  &.selected {
    display: block;
  }
}
