.ola_progressBar {
  --color: var(--brand);
  --background: var(--white);

  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;

  &.is-description-right {
    align-items: baseline;
    flex-wrap: nowrap;
    white-space: nowrap;
  }
}

.ola_progressBar-description {
  font: var(--font-caption);
  color: var(--gray);
  margin: 0px 0px var(--size-3) var(--size-3);
}

.ola_progressBar-description strong {
  color: var(--black);
  font-weight: var(--bold);
}

.ola_progressBar progress {
    appearance: none;
    border: solid 1px var(--color);
    height: 10px;
    width: 100%;
    min-width: 100px;
    background: var(--background);
    border-radius: 6px;
    box-sizing: border-box;

    &::-webkit-progress-value {
        background: var(--color);
    }
    &::-webkit-progress-bar {
        background: transparent;
    }
    &::-moz-progress-bar {
        background: var(--color);
    }

    &:indeterminate {
        --color: var(--gray-xlight);
        --background: var(--gray-xlight);
    }
}

.ola_progressBar meter {
    -moz-appearance: none;
    border-radius: 6px;
    box-sizing: border-box;
    background: var(--background);
    width: 100%;
    height: 10px;

    &::-moz-meter-bar {
        background: none;
        background-color: var(--color);
    }
    &::-moz-meter-optimum::-moz-meter-bar {
        background-color: var(--color);
    }
    &::-moz-meter-sub-optimum::-moz-meter-bar {
        background-color: var(--warning);
    }
    &::-moz-meter-sub-sub-optimum::-moz-meter-bar {
        background-color: var(--error);
    }

    &::-webkit-meter-bar {
        height: 10px;
        border-radius: 6px;
        background: none;
        border: solid 1px var(--color);
    }
    &::-webkit-meter-optimum-value {
        background: var(--color);
    }
    &::-webkit-meter-suboptimum-value {
        background: var(--warning);
    }
    &::-webkit-meter-even-less-good-value {
        background: var(--error);
    }
    &:not(value) {
        --color: var(--gray-xlight);
        --background: var(--gray-xlight);
    }
}
/* Only firefox */
@-moz-document url-prefix() {
    .ola_progressBar meter {
        border: solid 1px var(--color);
    }
}
