.ola_speedmeter {
    --color: var(--color-neutral-700);

    width: var(--size-14);
    height: 110px;
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: center;

    &.is-busy {
        & .ola_speedmeter-metric,
        & .ola_speedmeter-circle-value,
        & .ola_speedmeter-triangle,
        & .ola_speedmeter-breakpoint {
            opacity: 0;
        }
        & .ola_speedmeter-circle-background {
            stroke-dasharray: 8;
            stroke-linecap: butt;
            animation: speedmeter-loading 2s linear infinite;
            animation-fill-mode: both;
            stroke: var(--color-neutral-400);
        }
    }

    &.is-success {
        --color: var(--color-positive-500);
    }

    &.is-error {
        --color: var(--color-negative-500);
    }

    &.is-warning {
        --color: var(--color-warning-500);
    }

}

.ola_speedmeter-metric {
    color: var(--color-neutral-900);
    transition: opacity var(--duration);
    text-align: center;
    margin-bottom: var(--size-0);

    & > * {
        display: block;
    }
}
.ola_speedmeter-value {
    font: var(--font-5-medium);
    line-height: 0.8;
    text-align: center;
}

.ola_speedmeter-unit {
    font: var(--font-2-regular);
    font-weight: var(--font-weight-bold);
}

.ola_speedmeter-busy {
    font: var(--font-0-regular);
    color: var(--color-neutral-700);
    position: relative;
    transition: opacity var(--duration);
    z-index: 1;
    display: block;
    padding: 0 var(--size-2);
    text-align: center;
}

.ola_speedmeter-circle {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.ola_speedmeter-circle-background,
.ola_speedmeter-circle-value {
    fill: none;
    stroke-width: 8;
    stroke-linecap: round;
    stroke-dashoffset: 0;
    stroke-dasharray: 280 278;
    transform-origin: center center;
}

.ola_speedmeter-circle-background {
    stroke: var(--color-neutral-200);
    transition: stroke 200ms;
}
.ola_speedmeter-circle-value {
    stroke: var(--color);
    transition: opacity 200ms, stroke-dashoffset var(--slow-duration);
}

.ola_speedmeter-triangle {
    fill: var(--color);
    transform-origin: 94px 94px;
    transition: transform var(--slow-duration);
}

.ola_speedmeter-breakpoint {
    transform-origin: 94px 94px;
    stroke: var(--color-neutral-700);
    stroke-width: 2;
    stroke-linecap: round;
}

.ola_speedmeter-line {
    stroke: var(--color-neutral-200);
}

@keyframes speedmeter-loading {
    0% {
        stroke-dashoffset: 0;
    }
    100% {
        stroke-dashoffset: 80;
    }
}
