.ola_menu {
    list-style: none;
    margin: 0;
    padding: 0;
}
.ola_menu-option {
    --color: var(--color-neutral-700);
    --background: var(--color-white-100);

    font: var(--font-callout);
    color: var(--color);
    background: var(--background);
    display: flex;
    align-items: center;
    text-align: left;
    text-decoration: none;
    padding: var(--size-2) var(--size-3);
    outline: 0;
    border: none;
    box-sizing: border-box;
    width: 100%;
    cursor: pointer;

    &::-moz-focus-inner {
        border: 0;
    }

    &.is-nav {
        --color: var(--color-primary-500);
        border-top: solid 1px var(--color-neutral-200);
        font-weight: var(--bold);
    }

    &.is-selected,
    &:hover,
    &:focus-visible {
        --color: var(--color-neutral-900);
        --background: var(--color-neutral-200);
    }

    &.is-selected {
        border-left: solid var(--size-0) var(--color-neutral-400);
    }

    &.is-small {
        font: var(--font-caption);
        padding: var(--size-0) var(--size-2);
    }

    &:active {
        --color: var(--color-neutral-900);
        --background: var(--color-primary-100);
    }

    & .ola_icon {
        flex: 0 0 auto;
        margin-right: var(--size-2);
    }
}
.ola_menu-separator {
    border-top: solid 1px var(--color-neutral-400);
    margin-top: var(--size-1);
    padding-top: var(--size-1);
}
.ola_tooltip-content .ola_menu-option {
    margin-left: calc(var(--size-3) * -1);
    margin-right: calc(var(--size-3) * -1);
    width: calc(100% + var(--size-3) * 2);
}
