.ola_thumbnail {
    --color: var(--brand);
}

.ola_thumbnail-image {
    border: var(--size-2) solid var(--color);
    box-shadow: var(--shadow-2), var(--shadow-line);
    border-radius: var(--radius);
}