.ola_accordion {
    &[open] {
        & .ola_accordion-marker {
            transform: rotate(90deg);
        }
        & .ola_accordion-title {
            color: var(--color-neutral-900);
            text-decoration: none;
        }
    }
}
.ola_accordion-header {
    display: inline-block;
    cursor: pointer;
    outline: 0;
    list-style: none;
    border-radius: var(--radius-m);

    &::-webkit-details-marker {
        display: none;
    }

    &:focus-visible {
        box-shadow: 0 0 0 4px var(--color-primary-100);
    }

    &:hover .ola_accordion-title {
        color: var(--color-neutral-900);
    }

    & .ola_tag {
        margin-left: var(--size-1);
    }
}
.ola_accordion-header-content {
    display: inline-flex;
    align-items: center;
    height: var(--size-5);
    padding-right: var(--size-2);
}
.ola_accordion-title {
    font: var(--font-1-regular);
    font-weight: var(--font-weight-bold);
    color: var(--color-primary-500);
    text-decoration: underline;
    text-underline-offset: 4px;
    text-decoration-thickness: 1px;
}

.ola_accordion-marker {
    display: block;
    flex: 0 0 auto;
    margin-right: var(--size-1);
    color: var(--color-neutral-400);
    border-radius: 50%;
    transition: transform var(--duration);

    & svg {
        display: block;
    }
}
.ola_accordion-content {
    margin-top: var(--size-2);
}