.ola_metric {
    display: inline-block;
    vertical-align: top;

    &.is-error {
        & .ola_metric-value {
            color: var(--color-neutral-400);
        }

        & .ola_metric-description,
        & .ola_metric-icon {
            color: var(--color-negative-500);
        }
    }

    &.is-positive {
        & .ola_metric-value {
            color: var(--color-positive-500);
        }
    }

    &.is-negative {
        & .ola_metric-value {
            color: var(--color-negative-500);
        }
    }

    &.is-busy {
        & .ola_metric-value {
            color: var(--color-neutral-400);
        }
    }

    &.is-centered {
        text-align: center;
    }
}
.ola_metric-title {
    font: var(--font-body);
    font-weight: var(--regular);
    color: var(--color-neutral-900);
}
.ola_metric-description {
    font: var(--font-caption);
    color: var(--color-neutral-700);
    margin: var(--size-0) 0 0;
}
.ola_metric-footer {
    font: var(--font-caption);
    color: var(--color-neutral-700);
    margin: var(--size-2) 0 0;
}
.ola_metric-value {
    display: block;
    font: var(--font-title);
    color: var(--color-neutral-900);
    margin: var(--size-0) 0 0;
}
.ola_metric-icon {
    margin-right: var(--size-0);
    position: relative;
    top: 1px;
}
