.ola_metric {
    display: inline-block;
    vertical-align: top;

    &.is-success .ola_metric-value {
        color: var(--success);
    }

    &.is-error {
        & .ola_metric-value {
            color: var(--gray-light);
        }

        & .ola_metric-description,
        & .ola_metric-icon {
            color: var(--error);
        }
    }

    &.is-positive {
        & .ola_metric-value {
            color: var(--success);
        }
    }
    
    &.is-negative {
        & .ola_metric-value {
            color: var(--error);
        }
    }
    
    &.is-busy {
        & .ola_metric-value {
            color: var(--gray-light);
        }
    }
}
.ola_metric-title {
    font: var(--font-body);
    font-weight: var(--regular);
    color: var(--black);
}
.ola_metric-description {
    font: var(--font-caption);
    color: var(--gray);
    margin: var(--size-1) 0 0;
}
.ola_metric-value {
    display: block;
    font: var(--font-title);
    color: var(--black);
    margin: var(--size-1) 0 0;
}
.ola_metric-icon {
    margin-right: var(--size-1);
}