.ola_table-container {
  display: block;
  width: 100%;
  height: auto;
  overflow: auto;

  &.is-sticky .ola_table {
    padding-top: var(--size-7);
  }
}

.ola_table {
  display: grid;
  grid-template-columns: var(--grid-template-columns);
  min-width: var(--min-width);
  max-height: var(--max-height);
  position: relative;
}

.ola_table-row {
  &.is-sticky {
    position: absolute;
    top: 0;
    left: 0;
    display: grid;
    z-index: 50;
  }
}

.ola_table-cell {
  display: inline-flex;
  align-items: center;
  font: var(--font-1-regular);
  border-bottom: 1px solid var(--color-neutral-200);
  height: var(--size-7);
  padding: 0 var(--size-2);
  background-color: var(--color-white);
  transition: all var(--duration);
  
  &.is-header {
    font: var(--font-1-bold);
    border-bottom: 1px solid var(--color-neutral-500);
  }

  &.is-nowrap,
  &.is-header {
    white-space: nowrap;
  }

  &:hover:not(.is-disabled), &.is-selected {
    background-color: var(--color-neutral-100);
  }

  &.is-disabled > * {
    opacity: .5;
    cursor: default;
    user-select: none;
    pointer-events: none;
  }
}