.ola_table {
    font: var(--font-callout);
    color: var(--gray);
    text-align: left;
    width: 100%;
    border-collapse: collapse;
    position: relative;
    overflow-x: auto;

    & td,
    & th {
        border: none;
        height: var(--size-8);
        white-space: nowrap;
    }

    & th {
        font-weight: var(--bold);
        color: var(--black);
        padding-left: var(--size-2);
        padding-right: var(--size-2);
    }

    & td {
        padding: var(--size-3) var(--size-2);
        border-top: solid 1px var(--gray-xlight);
    }

    & :matches(th, td) + :matches(th, td) {
        padding-left: var(--size-8);
    }

    & thead {
        & th {
            white-space: nowrap;
            border-bottom: solid 1px var(--gray-light);
        }
    }

    & caption {
        font: var(--font-caption);
        caption-side: bottom;
        border-top: solid 1px var(--gray-light);
        padding-top: var(--size-3);
        text-align: right;
    }

    &.is-sticky {
        & thead {
          & th {
            position: sticky;
            background: white;
          }
        }
    }
}

.ola_table-container {
  overflow-x: auto;
}

.ola_tableRow {
    &.is-selectable:hover,
    &.is-checked {
        background-color: var(--gray-xlight);
        color: var(--black);
    }

    & .ola_tableRow-check {
        padding-left: var(--size-4);
    }
}
