.ola_table-container {
    overflow-x: auto;
}
.ola_table {
    font: var(--font-callout);
    color: var(--gray);
    text-align: left;
    width: 100%;
    border-collapse: collapse;
    position: relative;

    & tr {
        --table-background: var(--background, var(--white));
        background: var(--table-background);
    }

    & td,
    & th {
        border: none;
        height: var(--size-8);
        background: var(--table-background);
    }

    & th {
        font-weight: var(--bold);
        color: var(--black);
        padding-left: var(--size-2);
        padding-right: var(--size-2);

        & > * {
            vertical-align: middle;
        }
    }

    & td {
        padding: var(--size-3) var(--size-2);
        border-top: solid 1px var(--gray-xlight);
    }

    & thead + tbody > tr:first-child td {
        border-top: solid 1px var(--gray-light);
    }

    & caption {
        font: var(--font-caption);
        caption-side: bottom;
        border-top: solid 1px var(--gray-light);
        padding-top: var(--size-3);
        text-align: right;
    }

    &.is-sticky {
        & thead {
          & th {
            position: sticky;
            top: 0;
          }
        }
    }
}

.ola_table-container.is-responsive {
    white-space: nowrap;
}

.ola_tableRow {
    &.is-selectable:hover,
    &.is-checked {
        --table-background: var(--gray-xlight);
        color: var(--black);
    }
}

.ola_tableCell {
    &.is-left {
        text-align: left;
    }
    &.is-multiline {
        white-space: normal;
    }
    &.is-right {
        text-align: right;
    }
    &.is-center {
        text-align: center;
    }
    &.is-numeric {
        font-variant-numeric: tabular-nums;
        text-align: right;
    }
    &.is-action {
        text-align: right;
        padding-right: 0;
        position: sticky;
        right: 0;
        background: linear-gradient(to right, transparent, var(--table-background) var(--size-8)) no-repeat;
    }
    &.is-check {
        padding-left: var(--size-4);
        width: var(--size-7);

        & + .ola_tableCell {
            padding-left: var(--size-4);
        }
    }

    & + .ola_tableCell {
        padding-left: var(--size-8);
    }
}
th.ola_tableCell.is-action {
    padding-right: var(--size-7);
}
