.ola_field {
    max-width: 100%;

    &.is-disabled {
        cursor: not-allowed;

        & .ola_field-label {
            cursor: inherit;
            color: var(--color-neutral-400);
        }
        & .ola_field-hint,
        & .ola_field-description {
            visibility: hidden;
        }
    }
}
.ola_field-label {
    color: var(--color-neutral-900);
    display: flex;
    justify-content: space-between;
    font: var(--font-callout);
    font-weight: var(--bold);
    cursor: default;
}
.ola_field-hint {
    font: var(--font-caption);
    margin-left: 1em;
    font-weight: var(--regular);
    color: var(--color-neutral-700);
}
.ola_field-input {
    margin: var(--size-2) 0;
}
.ola_field-description,
.ola_field-error {
    font: var(--font-caption);
    margin-top: var(--size-2);
    color: var(--color-neutral-700);
}
.ola_field-error {
    color: var(--color-negative-500);
}
.ola_field.is-invalid {
    & .ola_field-label {
        color: var(--color-negative-500);
    }
}
