.ola_field {
    max-width: 100%;

    &.is-disabled {
        cursor: not-allowed;

        & .ola_field-label {
            cursor: inherit;
        }
    }
}
.ola_field-label {
    color: var(--color-neutral-900);
    font: var(--font-1-bold);
    display: flex;
    justify-content: space-between;
    cursor: default;
}

.ola_field-hint {
    color: var(--color-neutral-700);
    font: var(--font-0-regular);
    margin-left: var(--size-2);
}

.ola_field-input {
    margin: var(--size-0) 0;
}

.ola_field-description,
.ola_field-error {
    font: var(--font-0-regular);
    margin-top: 0;
    display: flex;
    justify-content: space-between;
}
.ola_field-description {
    color: var(--color-neutral-600);
}
.ola_field-error {
    color: var(--color-negative-500);
}

