.ola_buttonGroup {
    display: flex;
    flex-direction: column;
    max-width: 100%;

    & .ola_button + .ola_button {
        margin-top: var(--inner-gap);
    }

    &.is-reversed {
        flex-direction: column-reverse;

        & .ola_button + .ola_button {
            margin-top: 0;
            margin-bottom: var(--inner-gap);
        }
    }

    &.is-center {
      justify-content: center;
    }

    @media (--from-width-1) {
        flex-direction: row;
        align-items: center;

        & .ola_button + .ola_button {
            margin-left: var(--size-6);
            margin-top: 0;
        }

        &.is-reversed, &.is-reversed-center {
            flex-direction: row-reverse;

            & .ola_button + .ola_button {
                margin-left: 0;
                margin-bottom: 0;
                margin-right: var(--size-6);
            }
        }
    }
}
