.ola_check {
    padding: var(--size-3) 0;
    display: inline-block;

    &.is-area {
        display: block;
        padding: 0;

        & .ola_check-label {
            display: block;
            background: var(--white);
            border-radius: var(--radius-small);
            border: solid 2px var(--gray-light);
            padding: var(--size-4);
            transition: background-color 200ms;
        }

        & .ola_check-label:hover {
            border-color: var(--brand-dark);
        }

        & .ola_check-input:checked ~ .ola_check-label {
            border-color: var(--brand);
        }

        & .ola_check-input:active ~ .ola_check-label {
            border-color: var(--black);
        }

        & .ola_check-input:focus ~ .ola_check-label {
            box-shadow: 0 0 0 4px var(--brand-focus);
        }
    }

    &.is-option {
        display: block;
        padding: 0;

        & .ola_check-label {
            padding: var(--size-4);
            transition: background-color 200ms;
        }
        & .ola_check-input:checked ~ .ola_check-label {
            background-color: var(--gray-xlight);
        }
    }
}
.ola_check-input {
    position: absolute;
    opacity: 0;
}
.ola_check-label {
    font: var(--font-callout);
    display: flex;
    align-items: center;

    & img {
        max-width: 100%;
        margin-left: auto;
        margin-right: auto;
        display: block;
        filter: grayscale(1);
        opacity: .7;
        transition-property: filter, opacity;
        transition-duration: var(--duration);
    }
}
.ola_check-label::before {
    --color: var(--gray-light);

    content: "";
    display: block;
    box-sizing: border-box;
    width: 24px;
    height: 24px;
    border: solid 2px;
    border-radius: var(--radius-small);
    flex: 0 0 auto;
    margin-right: 10px;
    color: var(--color);
    transition-property: color, background-color;
    transition-duration: var(--duration);
}
.ola_check-input:checked ~ .ola_check-label img {
    filter: none;
    opacity: 1;
}
.ola_check-input:checked ~ .ola_check-label::before {
    --color: var(--brand);
    background-color: currentColor;
    background-image: url('data:image/svg+xml;charset=UTF-8,<svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M17.919 7c.298 0 .553.109.764.326.211.217.317.48.317.786 0 .307-.107.57-.32.79l-7.56 7.777a1.02 1.02 0 0 1-.76.321 1.03 1.03 0 0 1-.768-.321l-4.28-4.394a1.09 1.09 0 0 1-.312-.79c0-.307.106-.57.317-.787.21-.217.466-.325.764-.325s.555.11.769.33l3.51 3.611 6.79-6.994c.214-.22.47-.33.769-.33z" fill="white"/></svg>');
    background-repeat: no-repeat;
    background-position: center center;
}
.ola_check-input:focus ~ .ola_check-label::before {
    --color: var(--brand);
    box-shadow: 0 0 0 4px var(--brand-focus);
}
.ola_check-input:hover ~ .ola_check-label::before {
    --color: var(--brand-dark);
}

/* Changes for radio */
.ola_check-input[type="radio"] {
    & ~ .ola_check-label::before {
        border-radius: 50%;
    }

    &:checked ~ .ola_check-label::before {
        background-image: url('data:image/svg+xml;charset=UTF-8,<svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><circle fill="white" cx="12" cy="12" r="4"/></svg>');
    }
}
