.ola_spinner {
    --color: currentColor;

    width: var(--size-7);
    height: var(--size-7);
    flex: 0 0 auto;

    & circle {
        fill: none;
        stroke-width: 2;
        stroke: var(--color);
        stroke-dasharray: 72;
        stroke-linecap: round;
        animation: spinner-small 3s linear infinite;
        animation-fill-mode: both;
        transform-origin: center center;
        vector-effect: non-scaling-stroke;
    }

    &.is-medium {
        width: var(--size-9);
        height: var(--size-9);

        & circle {
            animation-name: spinner-medium;
            stroke-dasharray: 213;
            stroke-width: 3;
        }
    }

    &.is-big {
        width: var(--size-10);
        height: var(--size-10);

        & circle {
            animation-name: spinner-big;
            stroke-dasharray: 402;
            stroke-width: 4;
        }
    }
}

@keyframes spinner-small {
    0% {
        stroke-dashoffset: 14;
        transform: rotate(0deg);
    }
    50% {
        stroke-dashoffset: 72;
        transform: rotate(720deg);
    }
    100% {
        stroke-dashoffset: 14;
        transform: rotate(1080deg);
    }
}
@keyframes spinner-medium {
    0% {
        stroke-dashoffset: 42;
        transform: rotate(0deg);
    }
    50% {
        stroke-dashoffset: 213;
        transform: rotate(720deg);
    }
    100% {
        stroke-dashoffset: 42;
        transform: rotate(1080deg);
    }
}
@keyframes spinner-big {
    0% {
        stroke-dashoffset: 80;
        transform: rotate(0deg);
    }
    50% {
        stroke-dashoffset: 402;
        transform: rotate(720deg);
    }
    100% {
        stroke-dashoffset: 80;
        transform: rotate(1080deg);
    }
}
