.ola_spinner {
    --color: currentColor;

    width: var(--size-7);
    height: var(--size-7);

    & circle {
        --diameter: 75;

        fill: none;
        stroke-width: 2;
        stroke: var(--color);
        stroke-dasharray: var(--diameter);
        stroke-linecap: round;
        animation: spinner 3s linear infinite;
        animation-fill-mode: both;
        transform-origin: center center;
        vector-effect: non-scaling-stroke;
    }

    &.is-medium {
        width: var(--size-9);
        height: var(--size-9);

        & circle {
            --diameter: 213;
            stroke-width: 3;
        }
    }

    &.is-big {
        width: var(--size-10);
        height: var(--size-10);

        & circle {
            --diameter: 402;
            stroke-width: 4;
        }
    }
}

@keyframes spinner {
    0% {
        stroke-dashoffset: calc(var(--diameter) * 0.2);
        transform: rotate(0deg);
    }
    50% {
        stroke-dashoffset: var(--diameter);
        transform: rotate(720deg);
    }
    100% {
        stroke-dashoffset: calc(var(--diameter) * 0.2);
        transform: rotate(1080deg);
    }
}
