.ola_treeList {
  list-style: none;
  padding: 0;
  margin: 0;
}
.ola_treeList-option {
  border-bottom: solid 1px var(--gray-xlight);

  &:first-child {
    border-top: solid 1px var(--gray-xlight);
  }
}
.ola_treeList .ola_treeList .ola_treeList-option {
  border: none;
  padding-left: var(--size-8);
  position: relative;

  &::before {
    content: "";
    position: absolute;
    border-left: 2px solid var(--gray-light);
    border-bottom: 2px solid var(--gray-light);
    height: 50%;
    min-height: var(--size-5);
    width: var(--size-5);
    top: 0;
    left: var(--size-5);
    border-bottom-left-radius: var(--size-5) var(--size-5);
  }

  &:not(:last-child)::after {
    content: "";
    position: absolute;
    width: 0;
    height: 100%;
    border-left: 2px solid var(--gray-light);
    top: 0;
    left: var(--size-5);
  }
}
.ola_treeList-option > a,
.ola_treeList-option.is-link > * {
  display: block;
  color: inherit;
  text-decoration: none;
  background-image: url('data:image/svg+xml;utf-8,<svg width="28" height="28" viewBox="0 0 28 28" xmlns="http://www.w3.org/2000/svg"><path d="M26 14L16.708 3.293a1 1 0 00-1.5 1.319L22.5 13H3a1 1 0 00-.117 1.993L22.5 15l-7.207 8.292c-.36.36-.405 1.036-.02 1.408.386.37.946.395 1.339.09L26 14z" fill="%23BBC2CE"></path></svg>');
  background-repeat: no-repeat;
  background-position: right var(--size-4) center;
  background-size: var(--size-6) var(--size-6);
  padding-right: var(--size-8);
  padding-left: var(--size-3);
  padding-top: var(--size-4);
  padding-bottom: var(--size-4);

  &:hover {
    background-color: var(--gray-xlight);
  }
  &:active {
    background-color: var(--gray-light);
  }
  &:focus {
    outline: 0;
    box-shadow: none; /* This is due WordPress */
  }

  & > * {
    margin: 0;
  }
}
.ola_treeList-option .ola_treeList-option > a,
.ola_treeList-option.is-link .ola_treeList-option.is-link > * {
  max-width: max-content;
  background-image: none;
  border-radius: var(--radius);
  margin-left: calc(var(--size-2) * -1);
  padding-right: var(--size-3);
  padding-top: var(--size-3);
  padding-bottom: var(--size-3);
}

.ola_treeList-option {
  &:hover {
    & .ola_issue.is-pending {
      & .ola_icon {
        fill: var(--white);
      }
    }
  }
}
