.ola_carousel {
  background: var(--color-white-100);
  border-radius: var(--radius-xl);
  padding-top: var(--size-4);
  padding-bottom: var(--size-4);
  padding-left: var(--size-2);
  padding-right: var(--size-2);

  &.is-alone {
    padding-left: var(--size-5);
    padding-right: var(--size-5);
  }
}

.ola_carousel-container {
  display: grid;
  align-items: center;
  column-gap: var(--column-gap-1);
  grid-template-columns: auto 1fr auto;
}

.ola_carousel-dots {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: var(--row-gap-2);
}

.ola_carousel-dots-item {
  width: 10px;
  height: 10px;
  border-radius: 10px;
  margin-left: var(--size-0);
  margin-right: var(--size-0);
  background: var(--color-neutral-400);
  cursor: pointer;
}

.ola_carousel-dots-item.is-selected {
  background: var(--color-neutral-700);
}