.ola_level {
    --background: var(--gray-xlight);
    --size: 12px;
    --height: var(--size-6);

    display: inline-flex;
    vertical-align: middle;
    width: var(--size);
    height: var(--height);
    border-left: var(--size) solid;
    border-right: var(--size) solid;
    border-color: var(--background);
    border-radius: var(--radius-small);
    padding: 0 var(--size-1);
    margin: var(--size-1);

    &::after {
        content: "";
        display: block;
        background: var(--background);
        flex: 1 1 auto;
    }

    &.is-small {
        --size: 8px;
        --height: var(--size-4);
    }

    &.is-low {
        border-left-color: var(--error);
    }

    &.is-medium {
        border-left-color: var(--warning);

        &::after {
            background-color: var(--warning);
        }
    }

    &.is-high {
        border-color: var(--success);

        &::after {
            background-color: var(--success);
        }
    }
}
