.ola_score {
  --color: var(--color-neutral-700);
  --stroke-color: var(--color-neutral-200);
  --sup-color: var(--color-neutral-400);

  width: 180px;
  height: 180px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &.is-busy {
    -stroke-color: var(--color-neutral-400);
    & .ola_score-value,
    & .ola_score-circle-value {
      opacity: 0;
    }
    & .ola_score-circle-background {
      animation: score-loading 2s linear infinite;
      animation-fill-mode: both;
      &.is-white {
        --stroke--color: var(--color-white-100);
      }
    }
  }

  &.is-success {
    --color: var(--color-positive-500);
  }

  &.is-error {
    --color: var(--color-negative-500);
  }

  &.is-warning {
    --color: var(--color-warning-500);
  }
}

.ola_score-value {
  font: var(--font-8-medium);
  color: var(--color-neutral-900);
  position: relative;
  transition: opacity 200ms;
  z-index: 1;
  line-height: 0.8;

  & > sup {
    font: var(--font-5-medium);
    vertical-align: baseline;
    color: var(--sup-color);
    &.is-black {
        --sup-color: var(--color-neutral-900);
    }
  }
}

.ola_score-title {
  font: var(--font-0-regular);
  font-weight: var(--font-weight-bold);
  color: var(--color-neutral-700);
  position: relative;
  transition: opacity 200ms;
  z-index: 1;
  display: block;
  text-align: center;
  max-width: 110px;
}
.ola_score-description {
  position: relative;
  transition: opacity 200ms;
  z-index: 1;
  display: block;
}

.ola_score-busy {
  font: var(--font-0-regular);
  color: var(--color-neutral-700);
  position: relative;
  transition: opacity 200ms;
  z-index: 1;
  display: block;
  padding: 0 var(--size-2);
  text-align: center;
}

.ola_score-circle {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.ola_score-circle-background,
.ola_score-circle-value {
  fill: none;
  stroke-width: 8;
  stroke-linecap: round;
  stroke-dashoffset: 0;
  stroke-dasharray: 540;
  transform-origin: center center;
}

.ola_score-circle-background {
  transition: stroke 200ms;
  stroke: var(--stroke-color);

  &.is-white {
    --stroke-color: var(--color-white-100);
  }
}
.ola_score-circle-value {
  stroke: var(--color);
  transform: rotate(-90deg);
  transition: opacity 200ms, stroke-dashoffset 400ms;
}
.ola_score-level .ola_tag {
  margin-top: var(--size-0);
}

@keyframes score-loading {
  0% {
    stroke-dasharray: 10 540;
    transform: rotate(0deg);
  }
  50% {
    stroke-dasharray: 540 540;
  }
  100% {
    stroke-dasharray: 10 540;
    transform: rotate(1080deg);
  }
}
