.ola_button {
  --color: var(--color-accent-500);
  --color-hover: var(--color-accent-600);
  --color-active: var(--color-accent-700);
  --color-selected: var(--color-neutral-900);
  --color-unselected: var(--color-accent-500);
  --background: transparent;
  --background-hover: transparent;
  --background-active: var(--color-accent-100);
  --background-selected: var(--color-neutral-200);
  --background-unselected: var(--color-white);
  --shadow-focus: var(--color-accent-100);
  --border: currentColor;
  --border-hover: currentColor;
  --border-selected: var(--color-neutral-400);
  --border-unselected: currentColor;

  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-height: var(--size-5);
  min-width: var(--size-5);
  max-width: 100%;
  border: none;
  border-color: var(--border);
  background: none;
  color: var(--color);
  background-color: var(--background);
  cursor: pointer;
  border-radius: var(--radius-xl);
  font: var(--font-1-regular);
  padding: 0 var(--column-gap-2);
  font-weight: var(--font-weight-bold);
  transition-property: background-color, color, box-shadow;
  transition-duration: var(--duration);
  outline: 0;
  white-space: nowrap;
  text-decoration: none;
  box-sizing: border-box;
  vertical-align: middle;
  flex: 0 0 auto;

  &::-moz-focus-inner {
    border: 0;
  }

  &:hover {
    color: var(--color-hover);
    background-color: var(--background-hover);
    border-color: var(--border-hover);
  }

  &:focus-visible {
    box-shadow: 0 0 0 4px var(--shadow-focus);
  }

  &:active {
    color: var(--color-active);
    background-color: var(--background-active);
  }

  &.is-primary {
    --color: var(--color-white);
    --background: var(--color-accent-500);
    --color-hover: var(--color-white);
    --background-hover: var(--color-accent-600);
    --shadow-focus: var(--color-accent-100);
    --color-active: var(--color-white);
    --background-active: var(--color-accent-700);
  }

  &.is-secondary {
    border-style: solid;
    border-width: 1px;
  }

  &.is-pro-secondary {
    --color: var(--color-pro-500);
    border-style: solid;
    border-width: 1px;
    --color-hover: var(--color-pro-600);
    background-selected: var(--color-pro-100);
    --color-active: var(--color-pro-700);
    --shadow-focus: var(--color-pro-100);
    --background-active: var(--color-pro-100);
  }

  &.is-destructive-primary {
    --color: var(--color-white);
    --background: var(--color-negative-500);
    --color-hover: var(--color-white);
    --background-hover: var(--color-negative-600);
    --shadow-focus: var(--color-negative-100);
    --color-active: var(--color-white);
    --background-active: var(--color-negative-700);
  }

  &.is-destructive {
    --color: var(--color-negative-500);
    --shadow-focus: var(--color-negative-100);
    --color-hover: var(--color-negative-600);
    --color-active: var(--color-negative-700);
    --background-active: var(--color-negative-100);

    border-style: solid;
    border-width: 1px;
  }

  &.is-pro {
    --color: var(--color-white);
    --background: var(--color-pro-500);
    --color-hover: var(--color-white);
    --background-hover: var(--color-pro-600);
    --shadow-focus: var(--color-pro-100a);
    --color-active: var(--color-white);
    --background-active: var(--color-pro-700);
  }

  &.is-link {
    --color: var(--color-primary-500);
    --color-hover: var(--color-primary-700);
    --background-hover: transparent;
    --shadow-focus: var(--color-primary-100);
    --background-active: var(--color-primary-100);

    cursor: pointer;
    min-width: 0;
    padding-left: 0;
    padding-right: 0;
    border-radius: 0;
    text-decoration: underline;
    text-underline-offset: 4px;
    text-decoration-thickness: 1px;
    min-height: auto;

    &.is-disabled,
    &:disabled {
      color: var(--color-neutral-400);
      text-decoration: none;
      background: none;
    }

    &:disabled.is-busy {
      color: var(--color-neutral-700);
      text-decoration: none;
      background: none;
      cursor: wait;

      & .ola_spinner {
        position: static;

        &:first-child {
          margin-right: var(--size-2);
        }

        &:last-child {
          margin-left: var(--size-2);
        }
      }
    }
  }

  &:disabled.is-busy {
    color: var(--color-neutral-200);
    background-color: var(--color-neutral-700);
    min-width: 0;
    cursor: wait;
    pointer-events: none;
    border: none;

    & .ola_spinner {
      position: relative;

      &:first-child {
        right: var(--size-2);
      }

      &:last-child {
        left: var(--size-3);
      }
    }
  }

  &.is-disabled,
  &:disabled {
    color: var(--color-neutral-700);
    --background: var(--color-neutral-200);
    --background-hover: var(--color-neutral-200);
    --background-active: var(--color-neutral-200);
    border: none;
    cursor: not-allowed;
    pointer-events: none;
    box-shadow: none;
  }

  &[aria-pressed="true"] {
    color: var(--color-selected);
    background-color: var(--background-selected);
    border-color: var(--border-selected);
    cursor: default;
    pointer-events: none;
  }

  &[aria-pressed="false"] {
    color: var(--color-unselected);
    background-color: var(--background-unselected);
    border-color: var(--border-unselected);
    &:hover {
      color: var(--color-accent-600);
      background-color: var(--background-selected);
    }
  }
}

.ola_button-text {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding-top: var(--size-0);
  padding-bottom: var(--size-0);
  user-select: none;
}
.ola_button.is-multiline .ola_button-text {
  white-space: normal;
}

.ola_button-icon {
  right: var(--size-2);
  position: relative;
}
.ola_button-progress {
  margin-left: var(--size-1);
  flex-shrink: 0;
  width: 2em;
}

summary:focus-visible .ola_button {
  box-shadow: 0 0 0 4px var(--focus);
}

.ola_icon svg {
  vertical-align: middle;
}
