.ola_button {
    --color: var(--accent);
    --background: transparent;
    --color-hover: var(--accent-dark);
    --background-hover: var(--gray-xlight);
    --shadow-focus: var(--accent-focus);
    --background-active: var(--accent-focus);

    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: var(--size-8);
    min-width: var(--size-8);
    max-width: 100%;
    border: none;
    background: none;
    color: var(--color);
    background-color: var(--background);
    border-radius: var(--radius-big);
    font: var(--font-callout);
    padding: 0 var(--size-7);
    font-weight: var(--bold);
    transition-property: background-color, color, box-shadow;
    transition-duration: var(--duration);
    outline: 0;
    white-space: nowrap;
    text-decoration: none;
    box-sizing: border-box;
    vertical-align: middle;
    flex: 0 0 auto;

    &::-moz-focus-inner {
        border: 0;
    }

    &:hover {
        color: var(--color-hover);
        background-color: var(--background-hover);
    }

    &:focus {
        box-shadow: 0 0 0 4px var(--shadow-focus);
    }

    &:active {
        background-color: var(--background-active);
    }

    &.is-primary {
        --color: var(--white);
        --background: var(--accent);
        --color-hover: var(--white);
        --background-hover: var(--accent-dark);
        --shadow-focus: var(--accent-focus);
        --background-active: var(--black);
    }

    &.is-secondary {
        border: solid 1px var(--gray-light);

        &:hover {
            border-color: currentColor;
        }
    }

    &.is-destructive-primary {
        --color: var(--white);
        --background: var(--error);
        --color-hover: var(--white);
        --background-hover: var(--error-dark);
        --shadow-focus: var(--error-focus);
        --background-active: var(--black);
    }

    &.is-destructive {
        --color: var(--error);
        --shadow-focus: var(--error-focus);
        --color-hover: var(--error-dark);
        --background-active: var(--error-focus);

        border: solid 1px var(--gray-light);

        &:hover {
            border-color: currentColor;
        }
    }

    &.is-pro {
        --color: var(--white);
        --background: var(--pro);
        --color-hover: var(--white);
        --background-hover: var(--pro-dark);
        --shadow-focus: var(--pro-focus);
        --background-active: var(--black);
    }

    &.is-busy {
        color: var(--white);
        background-color: var(--gray);
        min-width: 0;
        cursor: wait;
        pointer-events: none;
        border: none;

        & .ola_spinner {
            position: relative;

            &:first-child {
                right: var(--size-6);
            }

            &:last-child {
                left: var(--size-6);
            }
        }
    }

    &.is-link {
        --color: var(--brand);
        --background-hover: transparent;
        --shadow-focus: var(--brand-focus);
        --background-active: var(--brand-focus);

        cursor: pointer;
        min-width: 0;
        padding-left: 0;
        padding-right: 0;
        border-radius: 0;
        text-decoration: underline;
        text-underline-offset: 4px;
        text-decoration-thickness: 1px;

        &:hover {
            color: var(--black);
        }

        &.is-disabled,
        &:disabled {
            color: var(--gray-light);
            text-decoration: none;
            background: none;
        }

        &.is-busy {
            color: var(--gray);
            text-decoration: none;
            background: none;
            cursor: wait;

            & .ola_spinner {
                position: static;

                &:first-child {
                    margin-right: var(--size-4);
                }

                &:last-child {
                    margin-left: var(--size-4);
                }
            }
        }
    }

    &.is-disabled,
    &:disabled {
      color: var(--gray-light);
      --background: var(--gray-xlight);
      --background-hover: var(--gray-xlight);
      --background-active: var(--gray-xlight);
      border: none;
      cursor: not-allowed;
      pointer-events: none;
      box-shadow: none;
    }
}

.ola_button-text {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding-top: 4px;
    padding-bottom: 4px;
}

.ola_button:not(button):not(a) {
    cursor: default;
}

summary:focus .ola_button {
  box-shadow: 0 0 0 4px var(--focus);
}
