//
// Configuraciones BASE para todos los CSS de printed media
// NOTA: NO añadir aquí overrides de elementos concretos de la aplicación,
// como por ejemplo la página de "results" o el "Free Website Report". Para
// ello están los diferentes ficheros de "results.less" o "freereport.less".
//
@import "bootstrap-override.less";
//@import "footnotes.less";
//@import "results.less";

@import "score.less";
@import "insights.less";
@import "mobile.less";
@import "social.less";
@import "popularity.less";
@import "site-review.less";
@import "optimization.less";
@import "common.less";

@page-margin: 1.5cm;

@page-margin-top:       @page-margin;
@page-margin-bottom:    @page-margin + 0.5cm;
@page-margin-left:      @page-margin;
@page-margin-right:     @page-margin;

@media print {

    @page {
        margin: @page-margin-top @page-margin-right @page-margin-bottom @page-margin-left;

        // Alucinante, se pueden poner "crop marks" en CSS y bleeding :-)
        // prince-bleed: 10mm;
        // marks: crop cross;

        // Contenidos para los pies de página genéricos. Generalmente irá un
        // número de página más un título del documento.
        @bottom-left {
            content: string(document-title);
            font-size: 8pt;
            color: @gray-dark;
            font-family: @font-family-base;
        }
        @bottom-right {
            content: counter(page);
            font-weight: bold;
            color: black;
            font-size: 8pt;
            font-family: @font-family-base;
        }

        @footnotes {
            border-top: 1pt solid @gray-light;
            border-clip: 5cm;
            padding: 8pt 24pt;

            float: prince-snap;
        }
    }

    meta[name="subject"] {
        string-set: document-title attr(content);
    }

    html, body {
        height: auto;
        margin: 0;
        padding: 0;

        prince-footnote-policy: keep-with-line;


        // Default image resolution: auto-detect, fallback to normal
        //
        // auto   = Usa la resolución que tuviera la imagen, en caso de
        //          formatos que lleven resolución implícita como JPG o PNG.
        //
        // normal = En caso de no tener resolución implícita (GIF), usa la
        //          resolución estandard del documento.
        //
        image-resolution: auto, normal;
    }

    img {
        prince-image-resolution: 150dpi;
    }

    body {
        margin: 0cm;
        background: transparent;
    }

    h2 {
        font-size: 12pt;
    }

    h3 {
        font-size: 10pt;
        font-weight: 300;
    }

    // Sections como páginas independientes
    section {
        page-break-before: always;
        page-break-inside: auto !important;
    }

    section:first-child {
        page-break-before: avoid;
    }

    .panel {
        background: transparent;
    }

    .panel-center{
        width: 100%;
        text-align: center;
    }


    // Esconder elementos inecesarios
    .panel-footer-switch, // Switch de competidores
    .table-action-add, // Botón de añadir competidor
    .btn-download { // Botón de descargar CSV
        display: none;
    }

    // Mostrar los elementos necesarios
    .collapse {
        display: block;
    }

    #debug_info_debug, div[role=main-menu], .sidebar-wrapper {
        display: none;
    }

    .panel .panel-heading{
        padding: 0px;
        h1{
            font-weight: 300;
            font-size: 32px;
        }
        background-color: transparent!important;
    }

    .panel-subheading{
        .wrapper{
            border: 1px solid #f1efef;
            padding: 20px;
        }
    }

    .panel-subheading{
        .wrapper{
            .text{
                padding-right: 100px;
                padding-left: 20px;
                h3{
                    font-size: 12px;
                    color: #999999;
                }
                }
            .image{
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center center;
                width: 105px;
                height: 105px;
                position: absolute;
                top: 75px;
                right: 5px;
            }
        }
    }

    .big-value{
        font-size: 42px;
        color: @brand-success;
    }

}

