@media print {
    .rankings{
        .panel .panel-heading{
            h1{
                .icomoon(@icon-barchart-content, @brand-primary, 34px);
            }
        }

        .panel-subheading{
            .wrapper{
                .image{
                    background-image: url("/img/tasks/url.svg");
                    top: 65px;
                }
            }
        }

        #panel-insights{
            margin-top: 40px;

            .search-engines-title{
                h3{
                    font-weight: 600;
                    font-size: 13px;
                    margin-top: 20px;
                    margin-bottom: 0px;
                }
                span{
                    font-weight: 300;
                    font-size: 10px;
                    color: #999999;
                }
            }

            .search-engines{
                margin-top: 20px;
                figure {
                    width: 55px;
                    height: 40px;
                    margin: 0 auto;

                    &.google {
                        background: url("/img/logo-google.png") no-repeat;
                    }

                    &.bing {
                        background: url("/img/logo-bing.png") no-repeat;
                    }

                    &.yahoo {
                        background: url("/img/logo-yahoo.png") no-repeat;
                    }
                }
                .search-engine{
                    border: 1px solid #f1efef;
                    width: 26%;
                    float: left;
                    text-align: center;
                    padding: 15px;
                    margin-left: 8px;
                    margin-right: 8px;
                    .kpi-value {
                        font-size: 14px;
                        font-weight: 500;
                        margin-top: 8px;
                        &.pass{
                            color: @brand-success;
                            .icomoon(@icon-circle-check-content, @brand-success, 15px);
                        }
                        &.nopass{
                            color: @brand-warning;
                            .icomoon(@icon-reload-content, @brand-warning, 15px);
                        }
                    }
                }
            }
        }

        .traffic{
            margin-top: 20px;
            float: left;
            width: 100%;
            .wrapper{
                width: 50%;
                float: left;
            }
            .kpi-description{
                h3{
                    font-weight: 600;
                    font-size: 13px;
                    margin-bottom: 5px;
                }
                p{
                    font-weight: 300;
                    font-size: 10px;
                    color: #999999;
                    margin: 0px;
                    margin-bottom: 15px;
                }
            }

            .kpi-value{
                font-size: 30px;
                &.pass{
                    color: @brand-success;
                }
                &.nopass{
                    color: @brand-warning;
                }
            }
        }

        .keywords{
            margin-top: 20px;
            float: left;
            width: 100%;

            .table-wrapper{
                background: #F6F8FA;
                padding: 30px 20px 20px 30px;
                margin-top: 10px;
                float: left;
                width: 92%;

                thead {
                    td{
                        font-weight: 600;
                        font-size: 14px;
                        &.value{
                            text-align: center;
                        }
                    }
                }
                tbody {

                    tr{
                        border-top: none;
                    }

                    td{
                        font-weight: 400;
                        font-size: 12px;
                        &.value{
                            text-align: center;
                        }
                    }
                }
            }
            h3{
                font-weight: 600;
                font-size: 13px;
                margin-bottom: 5px;
            }
            p{
                font-weight: 300;
                font-size: 10px;
                color: #999999;
                margin:0px;
                margin-bottom: 15px;
            }
        }
    }
}
