@media print {
    .mobile{
        .panel .panel-heading{
            h1{
                .icomoon(@icon-mobile2-content, @brand-primary, 34px);
            }
        }

        .panel-subheading{
            .wrapper{
                .image{
                    background-image: url("/img/tasks/mobilecontent.svg");
                    top: 65px;
                }
            }
        }

        .device-wrapper{
            width: 100%;
            margin-top: 40px;

            .device-image{
                float: left;
                .display.iphone{
                    width: 160px;
                    height: 340.75px;
                }
                .screen{
                    top: 2px;
                    left: 2px;
                    z-index: 10;
                    width: 159px;
                    height: 323px;
                }
                .glare{
                    top: -2%;
                    right: -1%;
                    z-index: 12;
                    width: 73%;
                    opacity: 0.6;
                }
                .shot{
                    border-radius: 3px;
                }
            }
            .device-value{
                float: left;
                margin-left: 80px;
                margin-top: 100px;
                h3{
                    font-weight: 600;
                    font-size: 13px;
                    margin: 0px;
                    margin-bottom: 5px;
                }
                p{
                    font-size: 12px;
                    color: #999999;
                    margin: 0px;
                    margin-bottom: 20px;
                }
                .kpi-value{
                    font-size: 42px;
                    &.pass{
                        color: @brand-success;
                    }
                    &.nopass{
                        color: @brand-danger;
                    }
                }
            }
        }
        .tasks{
            margin-top: -30px;
        }
    }
}
