@media print {
    .result-score {
        .knob{
            margin: 0 auto;
            width: 220px;
            height: 220px;
            margin-bottom: 35px;
            .grade{
                font-size: 70px;
            }
        }

        h2{
            font-weight: 400;
            font-size: 20px;
            max-width: 308px;
            margin: 0 auto;
        }
    }
    .cover-header{
        padding: 2cm;
        margin: -2cm;

        &:before {
            content: "";
            position: absolute;
            width: 200%;
            height: 55%;
            top: -8%;
            left: -50%;
            z-index: -1;
            background: @brand-primary;
            -webkit-transform: rotate(30deg);
            transform: rotate(10deg);
        }

        .display.imac {
            width: 440px;
            height: 370px;
        }

        h2{
            font-weight: 400;
            color: white;
            margin-bottom: 90px;
            font-size: 20px;
            strong{
                color: white;
            }
        }
    }
}
