@media print {
    .site_review{
        .panel .panel-heading{
            h1{
                .icomoon(@icon-document-content, @brand-primary, 34px);
            }
        }

        .panel-subheading{
            .wrapper{
                .image{
                    background-image: url("/img/tasks/blogalta.svg");
                    top: 65px;
                    right: 15px;
                }
            }
        }
    }
}
