@media print {
    .social{
        .panel .panel-heading{
            h1{
                .icomoon(@icon-social-content , @brand-primary, 34px);
            }
        }

        .panel-subheading{
            .wrapper{
                .image{
                    background-image: url("/img/tasks/section-social.svg");
                    right: 15px;
                    top: 65px;
                }
            }
        }

        .panel-body{
            .column{
                width: 50%;
                float: left;
                margin-top: 35px;
                .big-value{
                    font-size: 35px;
                    color: @brand-success;
                    margin: 0px;
                }
                .explanation{
                    font-size: 12px;
                    margin: 3px 0px 0px 0px;
                }
                .fb{
                    .icomoon(@icon-facebook2-content, @facebook, 54px, 20px);
                    float: left;
                }
                .linkedin{
                    .icomoon(@icon-linkedin2-content, @linkedin, 54px, 20px);
                    float: left;
                }
                .gplus{
                    .icomoon(@icon-googleplus2-content, @googleplus, 54px, 20px);
                    float: left;
                }
                .values{
                    float: left;
                }
            }
        }

        #social-media-competitors{
            .table-competitors{
                img{
                    width: 80px;
                    height: auto;
                }
            }
        }
    }
}
