.ola_page {
    display: grid;
    grid-column-gap: var(--size-4);

    &.has-icon {
        grid-template-columns: min-content 1fr;

        & .ola_page-title,
        & .ola_page-url {
            grid-column: 2;
        }
    }
}
.ola_page-title {
    --skeleton-width: 20em;
    font: var(--font-callout);
    font-weight: var(--bold);
    grid-row: 1;
    display: block;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.ola_page-url {
    --skeleton-width: 14em;
    font: var(--font-caption);
    display: block;
    grid-row: 2;
    justify-self: start;
    white-space: nowrap;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}
span.ola_page-url {
    color: var(--color-neutral-700);
}
.ola_page-icon {
    grid-column: 1;
    grid-row: 1 / 3;
    align-self: center;
    color: var(--color-neutral-400);
}
.ola-skeleton {
    & .ola_page-icon {
        --skeleton-width: var(--size-8);

        &:before {
            height: var(--skeleton-width);
        }
    }
}