@keyframes fadeIn {
    0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes fadeOut {
    0% { opacity: 1; }
  100% { opacity: 0; }
}

.fadeIn(@duration: .75s) {
    .animation-name(fadeIn);
    .animation-duration(@duration);
}

.fadeOut(@duration: .75s) {
    .animation-name(fadeOut);
    .animation-duration(@duration);
}
