@keyframes zoomIn {
    0% {
        opacity: 0;
        .scale3d(.8, .8, .8);
    }

    50% {
        opacity: 1;
    }
}

@keyframes zoomOut {
    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        .scale3d(.8, .8, .8);
    }
}

.zoomIn(@duration: .75s) {
    .animation-name(zoomIn);
    .animation-duration(@duration);
}

.zoomOut(@duration: .75s) {
    .animation-name(zoomOut);
    .animation-duration(@duration);
}
