.ola_chartLine {
    --height: 150px;
    --color: var(--brand);

    display: flex;
    position: relative;
    text-align: center;
    align-items: flex-end;

    &.ola-skeleton {
        --color: var(--gray-xlight);

        & .ola_chartLine-label::before {
            visibility: hidden;
        }
        &.is-loading .ola_chartLine-svg {
            background: linear-gradient(to right, rgba(255, 255, 255, 0) 40%, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0) 60%), linear-gradient(to bottom, var(--gray-xlight), var(--gray-xlight) 66%, var(--white));
            background-size: 800px 100%;
            animation: loadingSkeleton 2s linear infinite;
        }
    }

    &.is-multiple {
        & .ola_chartLine-svg-background {
            fill: none;
        }
        & .ola_chartLine-svg {
            background: linear-gradient(to top, var(--gray-xlight) 50%, var(--gray-xlight) 75%, var(--white));
        }
    }
}

.ola_chartLine-svg {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: calc(var(--height) + 10px);
    background: linear-gradient(to bottom, var(--gray-light), var(--gray-xlight) 50%, var(--gray-xlight) 75%, var(--white));
    padding-bottom: 28px;
}
.ola_chartLine-svg-background {
    fill: var(--white);
    stroke: none;
}
.ola_chartLine-svg-line {
    fill: none;
    stroke: var(--color);
    stroke-width: 4px;
}

.ola_chartLine-label {
    z-index: 1;
    position: relative;
    flex-grow: 1;
    font: var(--callout);
    padding-bottom: calc((var(--height) * var(--value)) - 3px + 28px);

    &::after {
        content: "";
        display: block;
        margin: 14px auto 0;
        border: solid 4px var(--color);
        background: white;
        width: 8px;
        height: 8px;
        border-radius: 50%;
    }
}
