.ola_chartLine {
    --height: 150px;
    --color: var(--brand);

    display: flex;
    position: relative;
    text-align: center;
    z-index: 1;
    min-height: calc(var(--height) + 10px);

    &.ola-skeleton {
        --color: var(--gray-xlight);

        & .ola_chartLine-label::before {
            visibility: hidden;
        }
        &.is-loading .ola_chartLine-svg {
            background-size: 800px 100%;
            animation: loadingSkeleton 2s linear infinite;
        }
    }

    &.is-multiple {
        & .ola_chartLine-svg-background {
            fill: none;
        }
    }
}

.ola_chartLine-svg {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: calc(var(--height) + 10px);
    z-index: -1;
}
.ola_chartLine-svg-background {
    fill: var(--white);
    stroke: none;
}
.ola_chartLine-svg-line {
    fill: none;
    stroke: var(--color);
    stroke-width: 4px;
}

.ola_chartLine-value {
    position: relative;
    flex-grow: 1;
    flex-basis: 10px;
    font: var(--font-callout);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    border-bottom: solid 1px var(--gray-xlight);
}
.ola_chartLine-space {
    height: calc((var(--height) * var(--value)) + var(--size-6));
    flex-shrink: 0;
}
.ola_chartLine-point {
    border: solid 4px var(--color);
    background: white;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    margin: auto;
    display: block;
    position: absolute;
    left: 50%;
    margin-left: -8px;
    bottom: calc((var(--height) * var(--value)) - 4px);
}
.ola_chartLine-footer {
    height: 0;
    position: relative;
    top: var(--size-3);
}
.ola_chartLine-rule {
    position: absolute;
    left: 0;
    width: 100%;
    border-bottom: dashed 1px var(--gray-light);
    padding-bottom: var(--size-2);
    bottom: calc(var(--value) * (var(--height) + 5px));
    text-align: right;
    mix-blend-mode: multiply;
    font: var(--font-caption);
    color: var(--gray);
    pointer-events: none;
}
.ola_chartLine-axis {
    position: relative;
    display: none;
    flex-direction: column-reverse;
    z-index: 1;
    align-self: flex-end;
    height: calc(var(--height) + var(--size-4));
    background: var(--white);
    justify-content: space-between;

    border-right: solid 1px var(--gray-light);
    text-align: right;
    font: var(--font-caption);
    color: var(--gray);
    padding-right: var(--size-3);
    width: var(--size-8);
    white-space: nowrap;
    box-sizing: border-box;
    flex-shrink: 0;


    @media (min-width: 500px) {
        display: flex;

        & ~ .ola_chartLine-svg {
            left: var(--size-8);
            width: calc(100% - var(--size-8));
        }
    }
}