.ola {
    scroll-behavior: smooth;
    font-family: var(--font-ui);
    font-weight: var(--regular);
    color: var(--black);
    text-rendering: auto;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;

    & b,
    & strong {
        font-weight: var(--bold);
    }

    & a {
        color: var(--brand);

        &:hover {
            color: var(--black);
        }
    }

    & hr {
        border: 0;
        margin: var(--size-7) 0;
        border-top: var(--separator);
    }
}
