.ola {
    scroll-behavior: smooth;
    font-family: var(--font-family-1);
    font-weight: var(--regular);
    color: var(--color-neutral-900);
    text-rendering: auto;
    overflow-wrap: break-word;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;

    & b,
    & strong {
        font-weight: var(--bold);
    }

    & a {
        color: var(--color-primary-500);

        &:hover {
            color: var(--color-neutral-900);
        }
    }

    & hr {
        border: 0;
        margin: var(--size-4) 0;
        border-top: var(--separator);
    }
}
