/* Deprecated, use .ola-bg-gray-xlight instead */
.ola-bg {
    background-color: var(--gray-xlight);
}

/* Text sizes */
.ola-display {
    font: var(--font-display);
    letter-spacing: var(--font-display-spacing);
}
.ola-title {
    font: var(--font-title);
    letter-spacing: var(--font-title-spacing);
}
.ola-headline {
    font: var(--font-headline);
}
.ola-body {
    font: var(--font-body);
}
.ola-callout {
    font: var(--font-callout);
}
.ola-caption {
    font: var(--font-caption);
}

/* Colors */
.ola-brand {
    color: var(--brand);
}
.ola-white {
    color: var(--white);
}
.ola-black {
    color: var(--black);
}
.ola-gray {
    color: var(--gray);
}
.ola-gray-light {
    color: var(--gray-light);
}
.ola-gray-xlight {
    color: var(--gray-xlight);
}
.ola-error {
    color: var(--error);
}
.ola-warning {
    color: var(--warning);
}
.ola-success {
    color: var(--success);
}
.ola-pro {
    color: var(--pro);
}

/* Background colors */
.ola-bg-brand {
    background-color: var(--brand);
}
.ola-bg-white {
    background-color: var(--white);
}
.ola-bg-black {
    background-color: var(--black);
}
.ola-bg-gray {
    background-color: var(--gray);
}
.ola-bg-gray-light {
    background-color: var(--gray-light);
}
.ola-bg-gray-xlight {
    background-color: var(--gray-xlight);
}
.ola-bg-error {
    background-color: var(--error);
}
.ola-bg-warning {
    background-color: var(--warning);
}
.ola-bg-success {
    background-color: var(--success);
}
.ola-bg-pro {
    background-color: var(--pro);
}

/* Alignment */
.ola-right {
    text-align: right;
}
.ola-center {
    text-align: center;
}
.ola-numeric {
    font-variant-numeric: tabular-nums;
    text-align: right;
}

/* Misc */
.ola-nomargin {
    margin: 0;
}
.ola-bold {
    font-weight: var(--bold);
}