/* Layout to distribute elements in same-size columns */

.ola_ly-columns {
    --column-width: var(--size-11);
    --gap: var(--column-gap-3);

    column-width: var(--column-width);
    column-gap: calc(var(--gap) * 2);
    column-rule: solid 4px var(--color-neutral-200);

    & > * {
        break-inside: avoid;
    }
}