/**
 * Wrapper to apply a gray background to a section
 *
 * 1. Example with a section:
 *    <div class="ly-main">
 *      <div class="ly-highlight">
 *        <div>Content</div>
 *      </div>
 *    </div>
 *
 * 2. Example with a highlight inside a highlight:
 *    <div class="ly-main">
 *      <div class="ly-highlight">
 *        <div>
 *          Content
 *          <div class="ly-highlight">
 *            Highlighted content
 *          </div>
 *        </div>
 *      </div>
 *    </div>
 */

.ola_ly-highlight {
  padding-top: var(--column-gap-3);
  padding-bottom: var(--column-gap-3);
  background-color: var(--color-neutral-100);

  & .ly-highlight {
    background-color: var(--color-white);
    padding: var(--row-gap-2) var(--column-gap-2);
  }
}

.ola_ly-main > .ola_ly-highlight {
  display: grid;
  grid-column-start: 1;
  grid-column-end: -1;
  grid-template-columns: var(--ly-mainColumns);
  column-gap: var(--column-gap-3);

  & > * {
    grid-column: 2;
  }
}
