/* Common pattern of a img + content */

.ola_ly-imgContent {
    display: grid;
    grid-column-gap: var(--column-gap-3);
    grid-template-columns: auto 1fr;

    & > img {
        width: var(--size-11);
        height: auto;
    }
}