/**
 * Layout to display a compact section
 * (header and content in the same row)
 *
 * 1. Example
 * <div class="ly-main">
 *   <main class="ly-sectionCompact">
 *     <header class="ly-sectionCompact-header"></header>
 *     <div>Content</div>
 *   </main>
 * </div>
 */
.ly-sectionCompact {
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  row-gap: var(--row-gap-3);
  column-gap: var(--column-gap-3);

  @media (min-width: 900px) {
    grid-template-columns: minmax(0, 1fr) minmax(0, 2fr);
  }
}
.ly-sectionCompact-header {
  max-width: calc(var(--ly-maxWidth) * 0.5);
}
