// Include just the mixins and intial Bootstrap variables
// @import "vendor/bootstrap/mixins.less";
// @import "vendor/bootstrap/variables.less";
@import "vendor/custom-bootstrap.less";

// Override Bootstrap variables
@import "include/variables.less";
@import "reports/variables.less";

@import "include/icons.less";
@import "include/mixins.less";
@import "include/flags.less";
@import "include/animations.less";
// @import "include/buttons.less";
@import "include/progressbar.less";
@import "include/tooltip.less";
@import "include/grading.less";
@import "include/panels.less";
@import "include/forms.less";

@import "reports/header.less";
@import "reports/navigation.less";
@import "reports/tables.less";
@import "reports/barchart.less";

@import "reports/accordion.less";
@import "reports/devices.less";
@import "reports/social.less";
@import "reports/summary.less";
@import "reports/panels.less";
@import "reports/loading.less";
@import "reports/checklists.less";
@import "reports/ctas.less";

@import "reports/weebly/modal-paywall.less";

// @import "reports/fwr-paywall.less";


//General styles
//--------------------------------------------------



html {
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
}


// Do NOT delete "position: relative" from the body.
// Needed for "scrollspy" bootstrap plug-in

body {
    position: relative;
}

section {
    margin-top: 20px;
}

footer {
    margin: 0px 0px 100px;
}


code {
    color: @gray-darker;
    background-color: @gray-lighter;
    letter-spacing: 1px;
    border-radius: 5px;

    .list-group-item & {
        margin: 0px 2px;
        font-weight: bold;
    }
}

.icon-cont {
    font-family: @font-family-base;
}

.dropdown-menu {
    max-width: 130px;
    .box-shadow(none);
    padding: 17px 0px;
    border: 0px;
    left: -10%;
    border-radius: @border-radius-large;

    .dropup & {
        bottom: -250%;
    }

    li {
        a {
            font-size: 1.1em;
            font-weight: bold;
            line-height: 1.8em;

            text-transform: uppercase;
        }

        span {
            display: inline-block;
            vertical-align: middle;
            font-size: 25px;
            margin-right: 7px;

            &:before {
                color: @dropdown-link-color;
            }
        }

        &:hover {
            span:before { color: @dropdown-link-hover-color; }
        }
    }
}

.open .dropdown-menu {
    .jellyBounce();
}

.size {
    .column {
        text-align: center;

        h1 {
            text-align: center;
        }

        h2 {
            text-align: center;
        }
    }
}

.progress-display .progress {
    width: 100%;
}

// Incluir los CSS de print los últimos, para que tengan la oportunidad de
// sobreescribir las propiedades de los selectores genéricos tipo "body", etc.
@import "print/base.less";
@import "print/reports.less";
