.ola_input {
    --border: var(--color-neutral-400);
    --color: var(--color-neutral-900);
    --background: var(--color-white-100);
    --focus: var(--color-primary-100);

    display: block;
    box-sizing: border-box;
    height: var(--size-5);
    width: 100%;
    border: solid 2px var(--border);
    background: var(--color-white-100);
    color: var(--color);
    background-color: var(--background);
    border-radius: var(--radius-s);
    font: var(--font-1-regular);
    padding: 0 1em;
    margin: 0;
    transition-property: background-color, color, box-shadow, border-color;
    transition-duration: var(--duration);
    outline: 0;
    text-decoration: none;
    font-weight: var(--font-weight-regular);

    &::placeholder {
        color: var(--color-neutral-400);
        opacity: 1;
    }

    &:focus {
        --border: var(--color-primary-500);
        box-shadow: 0 0 0 4px var(--focus);
    }

    &:hover {
        --border: var(--color-primary-600);
    }

    &:invalid,
    &.is-invalid {
        --border: var(--color-negative-500);
        --color: var(--color-negative-500);
        box-shadow: none;

        &:focus {
            box-shadow: 0 0 0 4px var(--color-negative-100);
        }

        &:hover {
            --border: var(--color-negative-600);
        }
    }

    &:disabled {
        --border: var(--color-neutral-200);
        --color: var(--color-neutral-400);
        cursor: not-allowed;

        &::placeholder {
            opacity: 0;
        }
    }

    &[readonly] {
        box-shadow: none;
    }
}

textarea.ola_input {
    padding-top: 1em;
    padding-bottom: 1em;
    height: auto;
    resize: vertical;
}