.ola_input {
    --border: var(--color-neutral-500);
    --color: var(--color-neutral-900);
    --background: var(--color-white);

    display: block;
    box-sizing: border-box;
    height: var(--size-5);
    width: 100%;
    padding: 0 var(--size-1);
    margin: 0;
    border: solid 1px var(--border);
    border-radius: var(--radius-s);
    background-color: var(--background);
    transition-property: background-color, color, box-shadow, border-color;
    transition-duration: var(--duration);
    outline: 0;
    font: var(--font-1-regular);
    color: var(--color);
    text-decoration: none;
    font-weight: var(--font-weight-regular);

    &::placeholder {
        color: var(--color-neutral-500);
        opacity: 1;
    }

    &:focus {
        --border: var(--color-primary-500);
        box-shadow: var(--shadow-focus);
    }

    &:hover {
        --border: var(--color-neutral-700);
    }

    &:invalid,
    &.is-invalid {
        --border: var(--color-negative-500);

        &:focus {
            box-shadow: var(--shadow-focus-negative);
        }

        &:hover {
            --border: var(--color-negative-700);
        }
    }

    &:disabled {
        --color: var(--color-neutral-400);
        --background: var(--color-neutral-100);
        cursor: not-allowed;

        &::placeholder {
            color: var(--color-neutral-300);
        }

        &:hover {
            --border: var(--color-neutral-500);
        }
    }

    &[readonly] {
        box-shadow: none;
    }
}

textarea.ola_input {
    padding: var(--size-1) var(--size-2);
    height: auto;
    min-height: var(--size-10);
    resize: vertical;
}