.ola_input {
    --border: var(--gray-light);
    --color: var(--black);
    --background: var(--white);
    --focus: var(--brand-focus);

    display: block;
    box-sizing: border-box;
    height: var(--size-8);
    width: 100%;
    border: solid 2px var(--border);
    background: var(--white);
    color: var(--color);
    background-color: var(--background);
    border-radius: var(--radius-small);
    font: var(--font-callout);
    padding: 0 1em;
    transition-property: background-color, color, box-shadow, border-color;
    transition-duration: var(--duration);
    outline: 0;
    text-decoration: none;
    font-weight: var(--regular);

    &::placeholder {
        color: var(--gray-light);
        opacity: 1;
    }

    &:focus {
        --border: var(--brand);
        box-shadow: 0 0 0 4px var(--focus);
    }

    &:hover {
        --border: var(--brand-dark);
    }

    &:invalid,
    &.is-invalid {
        --border: var(--error);
        --color: var(--error);
        box-shadow: none;

        &:focus {
            box-shadow: 0 0 0 4px var(--error-focus);
        }

        &:hover {
            --border: var(--error-dark);
        }
    }

    &:disabled {
        --border: var(--gray-xlight);
        --color: var(--gray-light);
        cursor: not-allowed;

        &::placeholder {
            opacity: 0;
        }
    }

    &[readonly] {
        box-shadow: none;
    }
}

textarea.ola_input {
    padding-top: 1em;
    padding-bottom: 1em;
    height: auto;
    resize: vertical;
}